[2021-09-25 16:27] #1180 closed

[2021-09-28 06:29] dswij opened #1191 "Default config does not respect Department Exclude"
(not sure if this belongs to `rubocop-rspec` or `rubocop`)

## Description:
`rubocop-rspec` default `Exclude` option does not respect project's `RSpec/` department `Exclude`

e.g. for the cop `RSpec/BeforeAfterAll`, `Exclude` is defined here

https://github.com/rubocop/rubocop-rspec/blob/b814f81f529adb684171e5ef6380ce49b9207a0d/config/default.yml#L124-L127

When we define a departmental exclude in

[2021-10-01 10:02] andrii-baran-nfgp commented on #674
@alagos Thank you. Saved my day

[2021-10-03 09:01] pirj commented on #1191
@koic @bbatsov @jonas054 Can you please transfer this to `rubocop`?
I don't think there's anything we can do on `rubocop-rspec` side.

[2021-10-03 09:02] pirj commented on #1191
@dswij Do you mind closing this and opening the same ticket against [RuboCop itself](https://github.com/rubocop/rubocop/issues/new?assignees=&labels=&template=bug_report.md)?

[2021-10-04 09:44] kirqe opened #1193 "RSpec/ExcessiveDocstringSpacing weird auto-correction case"
Hey there! Is this the correct behaviour of the `RSpec/ExcessiveDocstringSpacing: Excessive whitespace.` or a bug

[code]

It's too close to the beginning of the line.

[2021-10-04 12:17] pirj commented on #1193
Are you up to improve autocorrection of this case, provided any necessary assistance?

[2021-10-04 12:39] kirqe commented on #1193
I might have a look at it later

[2021-10-05 15:32] aglushkov opened #1196 "RSpec/ExcessiveDocstringSpacing incorrect behaviour with heredoc syntax"
I think this rule can be applied only to one-line descriptions.
It should not correct heredocs, it breaks ruby syntax after auto-correct..

[code]

[2021-10-05 17:44] pirj commented on #1196
@G-Rath would you like to tackle this and #1193? They seem to be somewhat similar.

[2021-10-05 18:17] G-Rath commented on #1196
@pirj sure :)

[2021-10-05 18:26] G-Rath commented on #1196
@pirj I might need some help with coming up with a good solution for this one - the fix for #1193 does mean this particular case isn't flagged anymore, but if the cop does flag a heredoc it'll break when fixing it.

The issue is that heredocs are not their own special node in the AST:

[code]

This also affects at least `ExampleWording`, as that was the cop I used as my starting point:

[code]

[c

[2021-10-05 20:23] pirj commented on #1196
To my taste, it's a corner case. I've never seen intentional multi-line descriptions. One way is the `Layout/LineLength` cop's suggestion, and a result like:
[code]
10-line long HEREDOC is a different beast.

I'd suggest just ignoring such cases in both `ExcessiveDocstringSpacing` and, if you're up for it, in `ExampleWording`, too.
What are your thoughts on this?

[2021-10-05 20:58] pirj commented on #1196
Some projects, like us, set a disturbingly low line length margin, like we do with `Max: 80`. You've surely noticed that trying to appease `LineLength` when worked on `spec/rubocop/cop/rspec/excessive_docstring_spacing_spec.rb`.
This forces the use of multi-line example descriptions.

Deliberately describing all the expectations in text, subjectively, introduces redundancy, risk of the description

[2021-10-05 20:58] #1193 closed

[2021-10-05 21:42] G-Rath commented on #1196
Exactly what I was looking for, thanks!

[2021-10-12 23:07] gruz0 opened #1201 "Bug: RSpec/ExcessiveDocstringSpacing does not work well"
Hi guys,

I've found bug in `RSpec/ExcessiveDocstringSpacing` after updating to 2.5.0.

Before:

[code]

After `rubocop -a`:

[code]

Result:

[code]

[2021-10-18 08:57] mollerhoj opened #1202 "Cop Idea: Warn when using `sleep`."
Using `sleep` in a spec is usually asking for trouble: It's a patch for some kind of race condition. I'd like to make a cop that warns about the usage of `sleep`

I'll implement this cop if I can get a 👍 from maintainers :-)

[2021-11-01 20:34] ccutrer opened #1206 "RSpec/IteratedExpectation complains about code that can't be rewritten to use `all`"
[code]

`RSpec/IteratedExpectation: Prefer using the all matcher instead of iterating over an array.`

I'd love to convert to an `all`, but afaict `all` can't modify the expectation per element, since the expectation is dynamic based on the element. I was hoping for a syntax like

`expect(dont_convert).to(all { |ascii| eq LuckySneaks::Unidecoder.decode(ascii) })` but it doesn't work.

`rubocop -V`

[2021-11-01 20:49] ccutrer opened #1207 "RSpec/Capybara/FeatureMethods identifies `given` calls from other DSLs."
I have a spec that is exercising a DSL of its own:

[code]

and yet I'm getting `RSpec/Capybara/FeatureMethods: Use let instead of given.`

It seems like this cop should _only_ look for `given` calls immediately inside of `describe`, `context`, etc. blocks, and not in arbitrary code. At the least _not_ inside of a `let` itself.

`rubocop -V`:

[code]

[2021-11-01 20:49] ccutrer opened #1536 "Capybara/FeatureMethods identifies `given` calls from other DSLs."

[2021-11-01 20:49] ccutrer opened #1719 "Capybara/FeatureMethods identifies `given` calls from other DSLs."
I have a spec that is exercising a DSL of its own:

[code]

and yet I'm getting `RSpec/Capybara/FeatureMethods: Use let instead of given.`

It seems like this cop should _only_ look for `given` calls immediately inside of `describe`, `context`, etc. blocks, and not in arbitrary code. At the least _not_ inside of a `let` itself.

`rubocop -V`:

[code]

[2021-11-02 09:01] pirj commented on #1206
Well, this specific case can be converted with [`satisfy`](https://relishapp.com/rspec/rspec-expectations/v/3-9/docs/built-in-matchers/satisfy-matcher):

[code]

[2021-11-02 09:01] #1206 closed

[2021-11-02 09:10] pirj commented on #1207
Would it make sense to configure this cop to only include feature/system spec paths. What do you think?

Not really. This would limit its inspection capabilities to the very basic spec structures.
If I'm not mistaken, I've seen `let`s defined inside `let`s. Usually, it's done mistakenly, but who knows. I encourage you to try it out to see if RSpec allows for that.

[2021-11-02 13:55] ccutrer commented on #1206
Perfect! Thanks! You might want to include an example of converting to `satisfy` in the docs for the cop. I've never seen it before. One of my favorite things about rubocop is that it points me to learn knew things about writing better code that I never knew existed.

[2021-11-02 14:45] ccutrer commented on #1207
While syntactically you can nest `let`s, at runtime, you get an error:

[code]

produces:
[code]

So only "the very basic spec structures" are where `let` or `given` are allowed.

[2021-11-02 22:31] pirj commented on #1206
A pull request is welcome!

[2021-11-03 08:45] pirj commented on #1207
Please accept my apologies. That must have been `before` inside `before`, not `let`.

Alright, it's an edge case, but worth and possible to fix.
I suggest adding a check that Capybara speak is not inside a `let`/hook somewhere here https://github.com/rubocop/rubocop-rspec/blob/8821470d4645d0a7001b0848aef8394ac4cc90db/lib/rubocop/cop/rspec/capybara/feature_methods.rb#L81 or here https://github.com/

[2021-11-07 21:30] pirj commented on #1202
I'd love to have a cop that would do the same in production code, too 😄
Can you provide an example of such a spec?

[2021-11-09 13:16] atanu2679 commented on #665
useless

[2021-11-12 11:24] hubertjakubiak commented on #754
I actually fixed that with below custom config:

[code]

[2021-11-18 19:09] januszm commented on #310
I'd be great if support for using `double` was implemented in `FactoryBot` first (https://github.com/thoughtbot/factory_bot/issues/1252)

[2021-11-26 13:05] leoarnold opened #1216 "How to extend `RSpec/FactoryBot/CreateList` ?"
FactoryBot actually has a few more `list` methods than just `create_list`:

[code]

I would like to add these, but then the cop name `CreateList` does not fit any more. Maybe `MultipleInstances` would be more fitting.

Can I do that? How do I inform RuboCop about a renamed cop?

[2021-11-26 13:14] pirj commented on #1216
If you consider a pair to be a list of two records, it's not necessary to rename the cop.

Example: https://github.com/rubocop/rubocop/blob/master/config/obsoletion.yml

The enforced style is `create_list`. Unless you plan to also extend the cop to suggest/correct to `_pair`, this can be left intact, too.

In any case - a PR is welcome!

[2021-11-26 13:47] leoarnold commented on #1216
@pirj Thanks. PR to follow.

[2021-11-26 16:27] Darhazer commented on #1216
The `CreateList` checks for `n.times { }` usage. `build_list` was ignored on purpose, as nobody would really do `n.times { build(...) }` since this code has no side effect. Same got for `attributes_for` and `build_stubbed`. So if you are to extend the cop for other constructs, I guess it should be extended also for other patterns (like methods being used inside `.each` / `.map` block)

[2021-12-06 10:28] hubertjakubiak opened #1217 "Cop Idea: Force to use "allow to receive" with "with" to match arguments"
Example:

Good: `allow(Job).to receive(:enqueue).with(a, b, c)`
Bad: `allow(Job).to receive(:enqueue)`

to avoid scenarios when tests passed and there's incorrect number of arguments on production :D

[2021-12-06 11:05] pirj commented on #1217
What if `enqueue` does not accept any arguments?

This kind of goes against the recommendation from Effective testing with RSpec book to be as loose with expectations as possible. And this is not even an expectation, it's an allowance.

Do you have a better example in mind? What is the rationale behind this proposal?

[2021-12-06 11:11] hubertjakubiak commented on #1217
if no arguments then `.with(no_args)` should be used.

[2021-12-06 11:55] hubertjakubiak commented on #1217
Example:

Code in controller:
[code]

Spec:

[code]

Result: Specs passed even if Job requires two arguments like `Job.enqueue(user_id, bank_id)

[2021-12-06 12:03] pirj commented on #1217
I could recommend using [`enqueue_job` `rspec-rails` matcher](https://relishapp.com/rspec/rspec-rails/v/5-0/docs/matchers/have-enqueued-job-matcher). Or does it have the same problem?
`enqueue` doesn't seem to be Active Job or Sidekiq. Where is it from?

Aside from this, why do you both `allow` and `expect` the same thing?
`allow` comes handy when you use `have_received` **after** performing the a

[2021-12-06 12:18] hubertjakubiak commented on #1217
We use https://github.com/que-rb/que

`before` is necessary for tests when there is no the same `expect`.

[code]

[2021-12-06 12:54] pirj commented on #1217
### For the cop

In this case, insisting that `receive` has `with` should be sufficient for `expect`, it would detect signature mismatch already, won't it?

This boils down to a "test boundaries" recommendation.
What if your test would expect `enqueue` was called with arguments, but those arguments were not the ones the job expects? E.g.
[code]
but the spec would pass.

There's one more thing to k

[2021-12-06 13:09] hubertjakubiak commented on #1217
Yes, exactly. That would be enough to detect a problem.

[2021-12-06 13:58] hubertjakubiak commented on #1217
It was not enough in our case. `expect` was written to receive two arguments, background job required three arguments, but spec passed because of `allow(Job).to receive(:enqueue)`.

[2021-12-06 15:16] pirj commented on #1217
Would adding `with` with two arguments help you to detect the problem?

[2021-12-06 15:17] hubertjakubiak commented on #1217
for `allow` or `expect`?

[2021-12-06 17:01] pirj commented on #1217
Would adding `with` with **two arguments** to `allow` help you to detect the problem?

[2021-12-06 17:13] pirj commented on #1217
Ok, let's start from the very beginning.
Can you please clarify your case?

[code]
results in:
[code]

I believe this is due to [`verify_partial_doubles`](https://relishapp.com/rspec/rspec-mocks/v/3-9/docs/verifying-doubles/partial-doubles) configuration option. Is it on in your `spec_helper.rb`?
[code]
I highly recommend turning it on. It will be [turned on by default in RSpec 4](https://github.c

[2021-12-06 17:15] pirj commented on #1217
I'm not convinced this will make a useful cop, at least for what it was originally purposed to inspect.
Thanks for understanding.

[2021-12-06 17:15] #1217 closed

[2021-12-07 23:50] harry-graham opened #1218 "`RSpec/DescribeClass`: Add "task" type to IgnoredMetadata (to exclude rake task specs from this cop)"
Add a `task` type to IgnoredMetadata for the **RSpec/DescribeClass** cop.

Rake tasks are not defined under a class, and so are always flagged by this rule unless the project has a custom exception to exclude this.

### Example rake task (from [RailsGuides](https://guides.rubyonrails.org/v4.2/command_line.html#rake))

[code]

### Current cop default config ([here](https://github.com/rubocop/ruboco

[2021-12-09 07:50] pirj commented on #1218
Thanks for reporting. Would you like to submit a PR?

[2021-12-09 11:23] harry-graham commented on #1218
PR submitted: https://github.com/rubocop/rubocop-rspec/pull/1219

[2021-12-09 12:18] #1218 closed

[2021-12-09 18:13] alexandrz opened #1220 "Error while inspecting for RSpec/LeadingSubject"
I am getting an error while rubocop is inspecting this file:

[code]

[code]

Installed gems:

[code]

[2021-12-09 18:39] pirj commented on #1220
Thanks for reporting.

Glancing over the cop's code, there are some oddities.

1. `in_spec_block?` actually checks if the `subject { }` node is **not** inside an example. That is quite a pointless check. When removed, no specs fail.
  I suggest removing `in_spec_block?` altogether.

2. A check that `subject { }` is inside an example group is missing. There is a `inside_example_group?` helper, but

[2021-12-10 12:02] luke-hill commented on #988
I missed this response. Sorry. I'll actually look into doing this soon if you think it's a valid inclusion.

I agree the gemspec one should go to rubocop proper. And the rubocop-rspec should have exclude for Metrics/BlockLength.

Sorry for missing this all this time.

[2022-01-04 09:16] pirj commented on #1220
Ping

[2022-01-04 09:17] pirj commented on #1202
Closing as stale

[2022-01-04 09:17] #1202 closed

[2022-01-04 09:21] pirj commented on #1191
Closing as there's nothing we can do on our side.

[2022-01-04 09:21] #1191 closed

[2022-01-04 09:41] pirj commented on #1179
Ping

[2022-01-04 14:50] jdufresne commented on #1179
Sorry, for the late response.

I will not have time to address this.

If you'd like to close this that is fine. Otherwise, someone else, please feel free to pick it up.

[2022-01-04 18:21] #1179 closed

[2022-01-04 19:04] pirj commented on #1116
An idea to implement such a cop is very tempting, but it would be easier to add a warning on RSpec Rails side.

[2022-01-04 19:04] #1116 closed

[2022-01-04 21:58] #1220 closed

[2022-01-08 15:23] jacoblockard99 opened #1227 "Example Has Too Many Lines With `aggregate_failures`"
I am trying to use RSpec aggregate_failures to speed up my specs, but `rubocop-rspec` complains that my example now has too many lines because I have 8 expectations. Is this desired behavior?

[2022-01-08 15:53] pirj commented on #1227
Thanks for reporting.
This is somehow related to https://github.com/rubocop/rubocop-rspec/issues/379
I suggest adding `IgnoreChained` or `MaxChained` option to the cop.
A PR is welcome.

[2022-01-11 13:46] oshiro3 opened #1230 "Isn't the SubjectStub cop particularly ambiguous about the rules for nested subjects?"
cf: #1228

The `SubjectStub` cop prohibits stubs even on nested subjects as an inclusion of its rules.
However, the way the warning message is issued and the strictness of the rule are unclear, and it seems to be a source of confusion for users.

For example, the following should be offensive, but are not detected as offensive.

[code]

It is unlikely that such code would be written intentionally,

[2022-01-11 16:35] pirj commented on #1216
Ping

[2022-01-11 22:02] ekohl opened #1231 "`RSpec/RepeatedExampleGroupBody` false positive"
We have the following code: https://github.com/voxpupuli/puppet-trusted_ca/blob/428fa7425a69aa61bd7a18201a4b0bc876eddc50/spec/acceptance/certs_spec.rb#L47-L53

Copied here for an easier overview:
[code]

This is using [serverspec](https://serverspec.org/)'s `command` and verifies the exit code is 0. Somehow this triggers `RSpec/RepeatedExampleGroupBody` but they're clearly different. Is this a bug

[2022-01-11 22:22] bquorning commented on #1230
I guess the question is whether `foo` is now “the object under test”?

Looking at [the source](https://github.com/rspec/rspec-core/blob/56f9edf78e63ef5971679e31328949fe87a661f7/lib/rspec/core/memoized_helpers.rb#L444-L455) I would say that no: when an “inner subject” is defined (in this case `bar`), then the only thing that made `foo` special (the `alias_method :subject, :foo`) is no longer in sco

[2022-01-11 23:54] pirj commented on #1231
Thanks for reporting. Quite an interesting case.

The body, which in RuboCop's terms is the block passed to `describe`, of those two example groups is identical.

I see that using this DSL is common for `beaker-rspec`:
[code]

RSpec's [example group methods arguments](https://github.com/rspec/rspec-core/blob/56f9edf78e63ef5971679e31328949fe87a661f7/lib/rspec/core/example_group.rb#L211) doc suggest

[2022-01-12 00:09] ekohl commented on #1231
That's interesting. I think that does look more readable since it's closer to regular Ruby, rather than really a DSL.

That said, I do wonder about this case where you want to test multiple properties. For example:
[code]

You would end up with a bunch of duplication. It is quite verbose.

[2022-01-12 07:07] pirj commented on #1231
How would you like:

[code]

Additionally, it's just one example instead of two. And if there's something heavy setup going on, it will only perform it once, and will make two checks against it.

[2022-01-12 10:32] ekohl commented on #1231
This issue has quickly become way more enlightening than I expected. I greatly appreciate it.

That looks very nice. I was not aware that this was possible.

So back to the original problem: how would I rewrite the commands listed in my initial message. They're using [rspec-its](https://github.com/rspec/rspec-its) but looking at the [matcher documentation](https://relishapp.com/rspec/rspec-expecta

[2022-01-12 10:42] pirj commented on #1231
With `have_attributes`, you'll still have the same body in those examples:
[code]

The problem is in the first argument to `describe` that sets the `subject` that is later used by `is_expected` (which is a shorthand for `expect(subject)`).

I'd suggest:
[code]

or:

[code]

[2022-01-12 10:56] ekohl commented on #1231
This is indeed what I thought. I already took the `specify { ... }` change in mind.

The only thing I now run into is that it runs the `specify` blocks before applying the Puppet manifest. I've often struggled to understand rspec ordering. Would using `order: :defined` as suggested on https://relishapp.com/rspec/rspec-core/docs/configuration/overriding-global-ordering help here?

[2022-01-12 12:08] ekohl commented on #1231
I wrote a shared example in a gem so that we don't need to maintain it in our 100+ modules:
https://github.com/voxpupuli/voxpupuli-acceptance/blob/2107b0f62067a73b6b3f409f073f5c025cc59c9d/lib/voxpupuli/acceptance/examples.rb#L1-L11

Does this syntax work? That would be new to me, but it looks cleaner than what's currently used.

What if this fails? Even applying it the first time can be considered

[2022-01-12 12:54] pirj commented on #1231
Yes. A less mind-blowing option is:
[code]

[2022-01-12 13:03] pirj commented on #1231
[code]

Does the order matter here? I see that options are different.

I'm wondering why, and how those examples have shared state.
Typically, all examples should run from the clean slate. Shared state is not recommended unless strictly necessary.
https://rspec.rubystyle.guide/#avoid-hooks-with-context-scope

https://relishapp.com/rspec/rspec-rails/v/5-0/docs/transactions

[2022-01-12 13:05] pirj commented on #1231
[code]

Hooks are considered to be a part of the example. If a hook fails - the example fails, too.

You're welcome! Happy to help streamline specs for the whole Vox Populi.

[2022-01-12 20:49] pirj commented on #1230
I'd love to see some real examples to have a better picture.

Stricter cop (I've made a mistake in the implementation, it does not ignore subjects from unrelated example groups):
[code]

Current version:
[code]

My eyes are bleeding and my brain is burning after quick inspection:
[code]

Let me check once again with a fixed cop that respects group nesting.

Speaking of popularity of the cop across

[2022-01-13 12:09] #1101 closed

[2022-01-16 08:46] pirj commented on #1231
Those two examples should be wrapped in an example group with `order: :defined`. Otherwise, they may be run in a reverse order.

[2022-01-16 08:47] pirj commented on #1231
Do you think there is anything actionable for `rubocop-rspec`?

The discussion is more RSpec-related, I suggest us to move to [RSpec's mailing list](https://rspec.info/help/).

[2022-01-16 11:33] pirj commented on #1230
Updated the cop:
[code]

Less than a hundred new offences detected. I'll add more details to the PR.

[2022-01-23 22:38] #1230 closed

[2022-01-24 09:40] ekohl commented on #1231
I think for now there is nothing actionable here. It's been very enlightening and I'll have to see about changing the style we use in our tests. Thanks for the insights!

[2022-01-24 09:40] #1231 closed

[2022-01-24 11:16] pirj commented on #1231
You're very welcome.

[2022-01-27 01:21] dacook commented on #378
Thanks for confirming that Capybara does handle these two forms the same way (at least, it does now).

But as Darhazer pointed out, it's still worth having the cop even just to enforce consistent usage.

[2022-02-01 16:42] Darhazer commented on #378
Updated the description to make it clear that it's about the style preference/consistency, and not for an actual issue with the implicit waits.

[2022-02-04 12:17] bbugh opened #1235 "All rspec cops run on `test` folder also"
For legacy reasons, we have a `test` and a `spec` folder. Test was minitest and is no longer used except for some legacy code tests.

rubocop-rspec runs on the files in the `test` folder, but shouldn't be. Seems like it ought to check for a `spec_helper.rb` or something to verify that the folder is actually an rspec one before parsing.

[2022-02-04 12:26] bbugh commented on #1235
I was able to resolve this with

[code]

though it seems like this would be the default.

[2022-02-04 12:48] pirj commented on #1235
The [default is to include](https://github.com/rubocop/rubocop-rspec/blob/master/config/default.yml#L6):
[code]

Do the files in your `test/` match any of those?

Do you want to research this?

[2022-02-04 15:52] bbugh commented on #1235
That is odd. No, all of the files under test are either suffix-less or `_test.rb`.

I've tested some more and it seems to only be `RSpec/Rails/AvoidSetupHook` that is running on the test folder. I tested with others, but got confused that there's a `Rails/HttpStatus` and an `RSpec/Rails/HttpStatus`.

Without any configuration in .rubocop.yml except to include `rubocop-rspec`, no `rubocop-rails`, a

[2022-02-05 07:51] pirj commented on #1235
That's strange, but we've seen all kinds off oddities with sub-departments (e.g. `RSpec/Rails`).
So, apparently, [this `Include`](https://github.com/rubocop/rubocop-rspec/blob/766bc1b30a17ade4d36cee8dd310c71e66d5e8a9/config/default.yml#L854) doesn't work as expected.
Would you like to dive into `rubocop` code to determine why this `Include` misbehaves?
Here are some hints: https://github.com/ruboc

[2022-02-07 18:12] ekohl commented on #1231
Closing the loop: https://github.com/voxpupuli/puppet-redis/pull/438 is the first place I tried out these lessons. I'm not sure I like the negating style. You have to be quite verbose to combine things. Otherwise it certainly looks better.

[2022-02-07 20:18] pirj commented on #1231
Glad I could help. Do you mind if I comment there on the PR?
I'm quite concerned regarding the `expect(service(redis_name)).not_to be_enabled.and be_running` syntax. I was believing RSpec [raises an exception in this case](https://github.com/rspec/rspec-expectations/blob/4fa4cd9fdf8cf4493840ad8b90d90ce72744f199/lib/rspec/matchers/built_in/compound.rb#L17). How does it work?

[2022-02-07 20:26] ekohl commented on #1231
Oh please do comment, I welcome your insight. I was also not entirely sure about that line myself. It does appear to work because when it failed (I used `to` instead of `not_to`) it did properly report.

[2022-02-14 09:55] gardwired commented on #693
what about the fact that we have be true and be false.  seems more consistent to still be able to say be nil without the underscore no?  we no longer have be_true/false  so enforcing the now seemingly one-off be_nil feels odd to me.  my .0000btc.

[2022-02-14 11:39] pirj commented on #693
Can you please elaborate on that?

[2022-02-14 14:51] bquorning commented on #693
In RSpec v3, the old `be_true` and `be_false` expectations were renamed to `be_truthy` and `be_falsey` to match with how they were actually implemented (e.g. `expect(nil).to be_false` was a passing spec in RSpec 2).

Maybe we can get _correctly implemented_ `be_true` and `be_false` back in RSpec 4?

[2022-02-23 08:11] bquorning commented on #244
Yes, you are right. I think I was confused when I wrote [the comment above](https://github.com/rubocop/rubocop-rspec/issues/244#issuecomment-523183743).

Again, you are right.

So, I remembered that we have an RSpec/BeEql cop, and looking at its history I found this interesting discussion: https://github.com/rubocop/rubocop-rspec/issues/16#issuecomment-237363015. I thought that maybe I could just

[2022-02-23 08:45] pirj commented on #244
Does it have to? Both are seemingly readable.
Not in the same weight as a pretty common "override ==", but still, there might be cases when classes would override `nil?`, and `be(nil)` and `be_nil` would behave differently. This makes it an unsafe cop, and users won't be running it by default.

[2022-02-23 10:00] bquorning commented on #244
I can’t think of any such case. If you have an example, I would like to see it.

[2022-02-23 10:47] pirj commented on #244
Right, please disregard this. Overridden `nil?` seems to be ignored by e.g. `Array#compact`, and supposedly others, that makes it pointless.

[2022-02-23 17:03] izzergh opened #1237 "Capybara/CurrentPathException autocorrect incompatible with Style/TrailingComma autocorrect"
rubocop version: 1.18.3
rubocop-rspec version: 2.4.0

Example code:

[code]

If Style/TrailingComma (in vanilla rubocop) is enabled for methods, it adds a comma after `record.id` and after the closed parenthesis.

Also, Capybara/CurrentPathExpectation adds `, ignore_query: true` to the `have_current_path` params. If both are fixed with the same autocorrect, the following is the result:

[code]

wh

[2022-02-23 20:58] bquorning commented on #244
#1238 is ready for review, handling the `eq` → `be` recommendation.

[2022-02-24 20:24] pirj commented on #1237
Thanks for reporting. Would you like to submit a PR?
I see two ways to resolving this:
1. check if `expectation_last_child` contains a trailing comma
2. strip `expectation_last_child` from its trailing comma with what [`RangeHelp` provides](https://github.com/rubocop/rubocop/blob/47e0481844b46e2ae3e59995eaa2927e865c0091/lib/rubocop/cop/mixin/range_help.rb#L40) (not sure if it's possible just by gl

[2022-02-24 20:29] #244 closed

[2022-02-28 14:43] traylenator opened #1244 "RSpec/EmptyExampleGroup - false positive when expectations in case statement."
[code]

results in

[code]
for me this seems a false positive since there is always and expectation in that context. Adding another expectation
outside the case statement then `RSpec/EmptyExampleGroup` does not trip.

Full version of spec file is here - https://github.com/voxpupuli/puppet-cvmfs/blob/master/spec/classes/fsck_spec.rb#L38

Versions:

* rubocop (1.22.3)
* rubocop-ast (1.16.0)
* ruboco

[2022-02-28 14:50] traylenator commented on #1244
Can be separated into

[code]
but that's a little fragile.

[2022-02-28 15:01] pirj commented on #1244
Thanks for reporting.
The fix is as easy as teaching [`conditionals_with_examples?`](https://github.com/rubocop/rubocop-rspec/blob/e940c9e14070993fa6efebab13ae8accd5626307/lib/rubocop/cop/rspec/empty_example_group.rb#L158) to also recognize `case`.
Would you like to submit a PR?

[2022-03-08 06:56] boris-petrov opened #1248 "Cop idea: use more specific matchers in Capybara"
It would be nice to have a cop that warns for usages like:

[code]

And suggest replacement with the following:

[code]

Of course, there are many cases that can't be changed like that (for example when generic attributes are checked like `button[data-foo=1]`) but at least "obvious" code could be checked.

[2022-03-13 09:14] #1244 closed

[2022-03-15 03:48] marcandre commented on #693
Can probably be closed now that #693 has been merged.

FWIW, I also find `be nil` to be preferable to `be_nil`

[2022-03-15 09:24] #693 closed

[2022-03-25 10:14] Darhazer opened #1254 "Cop idea: suggest receive_messages when multiple messages are stubbed"
When dealing with APIs it's often required to stub multiple messages. Instead of having:
[code]

We could have a spec like:
[code]

It could be configured with minimum number of messages to be triggered, e.g. allow 2 messages on the same stub, but trigger or 3 or more

[2022-03-25 10:16] Darhazer opened #1255 "Cop idea: use with_message matcher instead of matching error message manually"
I often see checks on message expectations like

[code]

while `raise_error` offers `.with_message`

[2022-03-25 12:02] pirj commented on #1255
I'm not certain why `.with_message` is specifically needed, as `raise_error` itself accepts [a second argument for message matching](https://relishapp.com/rspec/rspec-expectations/v/3-9/docs/built-in-matchers/raise-error-matcher#matching-message-with-%60with-message%60):
[code]

It might be failure messages are slightly different, needs to be checked.

[2022-03-29 09:53] luke-hill commented on #988
The gemspec one was already done. (Apologies for it being 3 months). And for some reason I wasn't picking it up. But evidently this is fixed. I'll look into the rspec one soon

[2022-03-30 13:50] Darhazer commented on #1125
Since ExampleLength supports the CountAsOne option, perhaps we can close this?

[2022-03-30 13:51] Darhazer commented on #249
Since ExampleLength supports the CountAsOne option for arrays and hashes, perhaps we can close this?

[2022-03-30 20:23] pirj commented on #249
Makes sense 👍 @bquorning ?

[2022-03-30 20:27] pirj commented on #1125
Fixed in https://github.com/rubocop/rubocop-rspec/pull/1139

[2022-03-30 20:27] #1125 closed

[2022-03-30 20:59] bquorning commented on #249
Yes, I agree. As @Darhazer mentioned, the RSpec/ExampleLength cop can be configured with the `CountAsOne` option (with an array of one or more of `array`, `hash` and `heredoc`). (The documentation at https://docs.rubocop.org/rubocop-rspec/2.9/cops_rspec.html#countasone-array-heredoc doesn’t mention the `hash` option, which we should probably get fixed.)

[2022-03-30 20:59] #249 closed

[2022-04-04 15:36] ojab opened #1258 "`RSpec/RepeatedDescription` shouldn't warn about `pending` specs"
Consider the following
[code]

Right now we have `RSpec/RepeatedDescription: Don't repeat descriptions within an example group.` and if examples are moved to the same `pending` block — we would have `RSpec/MultipleExpectations` violation.
Since specs are testing the same code and depend on the same unimplemented feature — the same description looks appropriate and making up different descriptions

[2022-04-04 15:49] pirj commented on #1258
I agree with the cop - the docstring passed to `pending` is supposed to describe what exactly has not been implemented.

`pending` on itself may mean "not implemented" or "doesn't work exactly as supposed/designed".

Additionally, if those examples all relate to the same unimplemented feature, it makes sense to group them:
[code]

[2022-04-04 16:03] ojab commented on #1258
:okay:, makes sense.

[2022-04-04 16:03] #1258 closed

[2022-04-15 13:11] johnny-miyake opened #1259 "An option to configure `RSpec/NamedSubject` to make it allow `expect { subject }`"
It would be very nice if there is an option to configure `RSpec/NamedSubject` cop so that it allows `expect { subject }`.

`RSpec/NamedSubject` works great when we test against an object returned by a method; however, I think it is a little bit difficult to handle when simultaneously testing side effects in the same describe group or context. (I found a [discussion](https://github.com/rubocop/rubo

[2022-04-15 15:45] pirj commented on #1259
How do you feel about:
[code]

From [RSpec docs](https://relishapp.com/rspec/rspec-core/v/3-9/docs/subject/explicit-subject):

You might not have the best example, but the previously mentioned discussion seems to [come to a conclusion](https://github.com/rubocop/rubocop-rspec/issues/747#issuecomment-515031675) that named subjects facilitate reading specs:

[2022-04-16 01:17] johnny-miyake commented on #1259
Thanks for the suggestion and some useful links. I was mistaken about the use of `subject` :)

Just for additional reference, I found an old discussion on a similar topic, and they concluded the same.
https://github.com/betterspecs/betterspecs/issues/7#issuecomment-150391098

[2022-04-16 01:17] #1259 closed

[2022-04-19 04:31] johnny-miyake opened #1261 "Cop idea: Excluding multi-line statements from `RSpec/ExampleLength` inspection"
`RSpec/ExampleLength` detects this code as an offense.

[code]

Modifying the code like the below solves the offense, but I feel this one is less readable than the original one. (Especially when the name of each argument varies a lot.)
[code]

Should we add another option, or is there any way to avoid the offense by some configuration?

In the discussion where `CountAsOne` was introduced, this opi

[2022-04-19 08:42] pirj commented on #1261
What about a 100-lines long:
[code]
Would such a declarative example still count as short?

[2022-04-20 08:54] jrmhaig opened #1262 "`RSpec/VerifiedDoubleReference` is not safe to auto-correct"
It is possible to use `instance_double` with a string that is not a valid class name;

[code]

and auto-correct is not safe in this case. I believe that it is correct for this cop to have an auto-correct option but it should be marked as unsafe.

[2022-04-20 09:08] johnny-miyake commented on #1261
Your point is valid. Then it seems better to disable the cop for each test case by case rather than adding another feature to the cop, right? (Offenses like above may be considered a signal of the need for refactoring, though.)

[2022-04-20 11:58] pirj commented on #1261
I'm open to consider introduction of an option given an example that would not contribute to the example readability while breaking the default line length constraint.

[2022-04-20 11:58] #1261 closed

[2022-04-20 18:47] pirj commented on #1262
Depending on the enforced style, the cop autocorrects either a literal class to a literal string, or the other way around.
The cop assumes that valid arguments to `instance_double` are [a literal class, a literal string](https://github.com/rubocop/rubocop-rspec/blob/a1a3351a0c9ebfe9d9e45e28c42fb3f9764fa33c/lib/rubocop/cop/rspec/verified_double_reference.rb#L15), or a variable referencing an object

[2022-04-20 18:47] #1262 closed

[2022-04-22 14:34] titusfortner commented on #1262
@pirj fwiw, this auto-correct broke my legacy tests; no failures with `VerifiedDoubles` either

[2022-04-23 18:19] pirj commented on #1262
@titusfortner Do you mind sharing an example?

[2022-04-25 17:18] titusfortner commented on #1262
after running rubocop with auto-correct, this line causes the test to fail:
https://github.com/SeleniumHQ/selenium/blob/selenium-4.1.0/rb/spec/integration/selenium/webdriver/chrome/profile_spec.rb#L42

I get it's not correct usage, but the code was originally added in 2013... :)

[2022-04-25 21:07] pirj commented on #1262
@titusfortner I guess a simple
[code]
fixes the failure?

I guess there's a job for yet another cop to enforce string literals passed to verified double to be valid class names.

Verified doubles were introduced roughly at the same time - no wonder Selenium code from back then doesn't adhere to the "new" true way of using doubles.

By the way, in RSpec 4, `verify_partial_doubles = true` [becomes t

[2022-05-01 18:50] #1100 closed

[2022-05-02 11:12] #1037 closed

[2022-05-04 11:14] odinhb opened #1271 "RSpec/StubbedMock should offer some rationale"
Related issue: #1061

I've experienced the problem described in #1061 (where the implementation changes and there is a dangling stub) but I fail to see the point of the default (currently only) configuration of this cop.

It seems quite opinionated and should provide some example of a problem which it prevents.

Kind of like these cops do:
- https://docs.rubocop.org/rubocop/1.27/cops_lint.html#lin

[2022-05-04 16:53] pirj commented on #1271
[Original ticket](https://github.com/rubocop/rubocop-rspec/issues/221). [PR that introduced `RSpec/StubbedMock`](https://github.com/rubocop/rubocop-rspec/pull/226).
A [notable comment](https://github.com/rubocop/rubocop-rspec/pull/226#issuecomment-256210884) from lead RSpec maintainer on this topic:

There is nothing in the RSpec Style guide regarding this, but [it's not uncommon](https://github.c

[2022-05-07 13:08] schinery opened #1272 "Cop to enforce the first describe of a spec is defined as RSpec.describe"
I've checked the docs and don't believe this can currently be done, but would it be possible to create a cop that enforced the first `describe` of a spec has been defined as `RSpec.describe`?

So something like:

[code]

[2022-05-07 13:50] pirj commented on #1272
This is [one of the non-goals](https://docs.rubocop.org/rubocop-rspec/#enforcing-an-explicit-rspec-receiver-for-top-level-methods-disabling-monkey-patching).

The monkey-patching mode, top-level `describe` with no receiver, [will be removed in RSpec 4](https://github.com/rspec/rspec-core/pull/2803). To ease up the process of upgrading, you can use [Transpec](http://yujinakayama.me/transpec/), whic

[2022-05-07 13:50] #1272 closed

[2022-05-07 16:15] schinery commented on #1272
Cool, thanks @pirj.

I also discovered setting config.expose_dsl_globally = false will make any test not using RSpec. to blow which is good enough for now.

[2022-05-17 14:29] ShockwaveNN commented on #1160
I forgot to mention it earlier (for a half-a-year), sorry

But I can confirm that this issue is fixed on current stable `rubocop-rspec`

[2022-05-18 08:15] arg opened #1273 "False-positive RSpec/RepeatedDescription when using rspec-its"
Continuing https://github.com/rubocop/rubocop-rspec/issues/879. We're using `rspec-its` and have examples like this:

[code]

Rubocop raises this error on each `its(:model)` line: `C: RSpec/RepeatedDescription: Don't repeat descriptions within an example group.`

I believe this is not correct, since RSpec generated different descriptions for every example based on example's body:
[code]
So ideally

[2022-05-18 09:00] pirj commented on #1273
Fair enough, especially given that negated expectations are not trivial to combine into one.

Would you like to submit a PR?
I'd expect:
1. Taking parts from `lib/rubocop/cop/rspec/repeated_example.rb` that adds some unique example attribute (location?) for `its` to effectively ignore duplicate attribute names.
2. Add an example to `spec/rubocop/cop/rspec/repeated_example_spec.rb` to make sure dup

[2022-05-18 09:07] pirj commented on #1273
I withdraw [my proposal of introducing `IgnoreItsWithSameAttribute`](https://github.com/rubocop/rubocop-rspec/issues/879#issuecomment-605687818), as it seems to make sense to make this the default.

[2022-05-18 09:32] pirj commented on #1235
Note for the future researchers. Even though [`its` accepts arbitrary arguments](https://github.com/rspec/rspec-its/blob/aca1c95014578cfc43b27dc0ff259909e4c4cd87/lib/rspec/its.rb#L123), the "docstring" of the generated example [is explicitly set to `nil`](https://github.com/rspec/rspec-its/blob/aca1c95014578cfc43b27dc0ff259909e4c4cd87/lib/rspec/its.rb#L171), so all of those arguments can be treate

[2022-05-18 09:32] pirj commented on #1273
Note for the future researchers. Even though [`its` accepts arbitrary arguments](https://github.com/rspec/rspec-its/blob/aca1c95014578cfc43b27dc0ff259909e4c4cd87/lib/rspec/its.rb#L123), the "docstring" of the generated example [is explicitly set to `nil`](https://github.com/rspec/rspec-its/blob/aca1c95014578cfc43b27dc0ff259909e4c4cd87/lib/rspec/its.rb#L171), so all of those arguments can be treate

[2022-05-18 10:51] pirj commented on #988
Fixed in #1256 (unless I'm missing something).

[2022-05-18 10:51] #988 closed

[2022-05-18 10:52] pirj commented on #1271
@odinhb Ping

[2022-05-18 11:29] pirj commented on #1235
I've added a fresh repo following how you describe it, https://github.com/pirj/rubocop-rspec-test-dir.
Results of `bundle exec rubocop`:
[code]

For me, the only offence in `test/rspec_rubocop_test.rb` is from `Style/FrozenStringLiteralComment`.

Can you please try on your side?

I suggest checking if you have some `.rubocop*.yml` files in parent directories - RuboCop [may load them as well in cer

[2022-05-18 11:29] #1235 closed

[2022-05-18 11:36] pirj commented on #1248
Would you like to contribute such a cop, @boris-petrov ?

[2022-05-18 11:55] boris-petrov commented on #1248
@pirj - I doubt I'll have the time to do it any time soon. :(

[2022-05-18 12:50] ydah commented on #1248
If don't mind, I'll try contribute on this cop.

[2022-05-18 13:38] pirj commented on #1248
That would be fantastic, @ydah !

[2022-05-18 14:39] atanbt opened #1276 "ExpectChange in 2.11.0 makes problematic corrections"
[code]

gets corrected to

[code]

which is not equivalent (because reload is only called once instead of twice) and can cause the spec to fail.

A second issue is `An error occurred while RSpec/ExpectChange cop was inspecting` occurs when you have something like this:

[code]

The issue here appears to be that the `change { model }` block has no method chain and it can't parse it? This actually a

[2022-05-18 16:47] pirj commented on #1276
Thanks for reporting so quickly.
The regression was introduced [here](https://github.com/rubocop/rubocop-rspec/pull/1042/files#diff-0efc3d9e7ed8b2171157524b1a69a5a2a054a98c2bdb83a5719eb9944a9e055cR92).

[2022-05-18 18:12] #1276 closed

[2022-05-18 18:46] bquorning commented on #1276
v2.11.1 has been released with a bugfix.

[2022-05-19 07:39] odinhb commented on #1271
Sorry, we disabled this cop really quickly, so it's no longer bothering me. :sweat_smile:

We discussed it a bit internally, and my coworker mentioned a rule (although I don't know this rule's rationale) which states there should only be a single expectation per test. Apparently this cop kinda aligns with this rule, as expecting a message to be received in addition to stubbing it to return somethi

[2022-05-19 09:36] pirj commented on #1271
This rule is outdated. For the context:
 - [an updated guideline](https://rspec.rubystyle.guide/#expectation-per-example)
 - [PR relaxing the guideline](https://github.com/rubocop/rspec-style-guide/pull/47)
 - [a comment from Myron, long-time RSpec maintainer](https://github.com/betterspecs/betterspecs/issues/5#issuecomment-9110114)

Not really. The cop is more about allowing vs expecting messages

[2022-05-19 11:48] odinhb commented on #1271
I don't know what the rationale is. That's why I opened this issue: someone should know why this cop exists. Otherwise it implies that the cop is arbitrary.
I'm not expecting this issue to be solved quickly, and I don't understand the rush.

What do the question marks and X'ses mean? I don't entirely follow this section.

I understand wanting to ease the maintenance burden, but good defaults are i

[2022-05-19 18:57] pirj commented on #1271
If this cop doesn't fit your project's style - turn it off in your `.rubocop.yml`.

Same as above.

You are welcome to open a broader issue, add a checklist and send PRs. Adding clarity to cops' descriptions and the style guide is very much appreciated. I must confess, I gave up on the [idea of restoring references to old discussions for the style guide](https://github.com/rubocop/rspec-style-guid

[2022-05-25 14:31] johnny-miyake opened #1282 "`RSpec/EmptyLineAfterExample` and `rubocop:disable` directive"
It would be nicer if the autocorrect for `RSpec/EmptyLineAfterExample` handles `rubocop:disable` directive properly.

This code,
[code]
is corrected like below with the current version of rubocop-rspec (v2.9.0).
[code]

The code should be corrected like below.

[code]
I think `rubocop:disable` is placed at the head of a code block in most cases. Some other cops like `Layout/EmptyLineAfterGuardClau

[2022-05-25 15:55] pirj commented on #1282
Thanks for reporting!

I believe this comment is there for indication purposes, and can be disregarded.

Indeed.

Would you like to further hack on this?

[2022-05-25 21:28] johnny-miyake commented on #1282
Yeah, I would love to!

[2022-05-26 09:58] hosamaly opened #1284 "`RSpec/FactoryBot/CreateList` fails to parse `10.times {}`"
Using Rubocop 1.30.0 (using Parser 3.1.2.0, rubocop-ast 1.18.0, running on ruby 2.7.5 x86_64-darwin20)

Given a file with the following code:
[code]

We see the following error:
[code]

[2022-05-26 19:38] pirj commented on #1284
Thanks for reporting, @hosamaly
Just out of curiosity, how such code is used?

[2022-05-26 19:57] pirj commented on #1273
Would you like to submit a PR fixing this, @arg ?

[2022-05-28 07:16] arg commented on #1273
I will try to find some time, but can’t say when.

Best regards,
Andrii

[2022-05-28 12:03] hosamaly commented on #1284
I'm not sure about its purpose, but it was part of a project that I worked on once.

Thanks for the quick fix :)

[2022-05-28 12:51] #1282 closed

[2022-05-31 16:51] inkstak opened #1290 "RSpec/ImplicitSubject does not use example methods defined by third-party gems"
I use saharspecs and its `its_call` alias :

[code]

I've add saharspec aliases to rubocop and  RSpec/ImplicitSubject is set to accept single statement

[code]

It report offenses on Implicit subject:

[code]

I've got the same error when I set RSpec/ImplicitSubject to accept single line

[code]
[code]
[code]

[2022-06-01 07:15] inkstak commented on #1290
Thanks, I was a little overwhelmed by the DSL.
I'll try to turn it into a PR with tests today.

[2022-06-01 12:17] AlexWayfer opened #1292 "Don't offense `MultipleExpectations` for `expect`s inside conditions"
Hello.

It's probably not common or not easy to implement, but I'd like to not receive an offense from `MultipleExpectations` when `expect`s are in `if`-`else`.

[code]

[2022-06-02 20:39] pirj commented on #1290
I'm closing this, as it turns out that aliases were not properly defined in a third-party library.

[2022-06-02 20:39] #1290 closed

[2022-06-05 08:38] ydah commented on #1248
Sorry for the delay... PR is now open!

[2022-06-10 08:44] #1248 closed

[2022-06-10 09:50] born4new opened #1297 "`.RSpec.Language` configuration isn't available in RSpec when using the `:config` metadata"
## Context

[This line](https://github.com/rubocop/rubocop-rspec/blob/master/lib/rubocop/cop/rspec/base.rb#L22) assumes that `.RSpec.Language` configuration will always be available. This line is reached when using `expect_no_offenses` or `expect_offense` helpers.

## The problem

When running specs with the `:config` metadata, [as recommended in the upgrade guide](https://docs.rubocop.org/rubocop

[2022-06-10 10:15] pirj commented on #1297
[This included context](https://github.com/rubocop/rubocop-rspec/blob/a8101aeb8607d9265414502aed16b459a077feef/spec/shared/default_rspec_language_config_context.rb) makes sure that RSpec DSL configuration (`RuboCop::RSpec::Language.config`) is available for cops in specs.

Can you please check if the top-level example group has `:config` metadata?
Can it be that you are missing [this `require`](ht

[2022-06-10 10:15] #1297 closed

[2022-06-15 20:08] #1284 closed

[2022-06-15 20:13] pirj commented on #1106
Fixed along with some other fix

[2022-06-16 07:18] lulalala opened #1299 "Provide allowlist for VerifiedDoubles check"
Some libraries utilize dynamic method definitions or `Hashie::Mash` to provide its API interface (e.g.`Restforce::SObject` wraps around the hash representing an object from Salesforce).

We often have to provide a double for these, and `VerifiedDoubles` would complain since the methods aren't defined. Disabling those one by one can be tedious. It would be convenient to have an allowlist of classes

[2022-06-16 11:01] pirj commented on #1299
See https://relishapp.com/rspec/rspec-mocks/v/3-9/docs/verifying-doubles/dynamic-classes for a trick that allows to use verified doubles with such dynamic classes in RSpec.
[code]

I'm not convinced that RuboCop RSpec should make exceptions to this case where a workaround on RSpec side is available.

[2022-06-16 11:01] #1299 closed

[2022-06-16 23:14] pirj commented on #1137
Frankly, I find it puzzling why the following passes:
[code]
while this fails:
[code]
Was it a deliberate design decision?

What do you think of relaxing the cop to allow a more flexible directory structure, @bquorning, @Darhazer ?

The ticket in question is just one case, I hope I could hint at the other with the above examples.

`real-world-rspec` highlights:

[code]

[2022-06-16 23:22] pirj commented on #1201
Quite unlikely that the fix is possible.

[2022-06-16 23:22] #1201 closed

[2022-06-16 23:22] pirj commented on #1189
Quite unlikely that the fix is possible.

[2022-06-16 23:22] #1189 closed

[2022-06-16 23:37] pirj commented on #1113
Or `RSpec/LetWarmUp`.

[2022-06-16 23:42] pirj commented on #1113
I'm thinking of how to deal with `before` and `let` on different nesting levels.
1. `before` is deeper:
[code]
Should we ignore? Or should we recommend removing `let(:foo)` where it's not referenced? What if it still is references somehow?

2. `let` is deeper
[code]

It looks like the parent `before` can be removed, and child `let`s can be turned into `let!`s.

@tejasbubane Would you be interested

[2022-06-23 14:17] januszm commented on #1100
In relation to this comment from 2017 https://github.com/rspec/rspec-expectations/issues/664#issuecomment-307804053 , perhaps it's a high time to include this  `define_negated_matcher :not_change, :change` in RSpec by default with the change merged here.

[2022-06-23 15:43] januszm commented on #1100
Right, I did not express myself precisely, rather the point is that `rubocop-rspec` could provide such a matcher, since after turning on this Cop by default, in practice, it requires it for chained "change" by 0. But that's another story, I assume this module doesn't and won't add any extensions to RSpec.
My point is, this now requires developers / teams to extend their apps with a custom negated

[2022-06-23 23:19] pirj commented on #1100
Indeed.

It's one line in `spec/spec_helper.rb` vs one line in `Gemfile` + one in `Gemfile.lock`.

[2022-06-28 17:47] cdhagmann opened #1306 "RSpec/FilePath does not respect Rails Inflectors"
<figure>
<figcaption><strong>config/initializers/inflections.rb</strong></figcaption>

[code]

<figure>
<figcaption><strong>app/services/row_importers/starlims_row.rb</strong></figcaption>

[code]

<figure>
<figcaption><strong>spec/services/row_importers/starlims_row_spec.rb</strong></figcaption>

[code]

[code]

This is the code in question.

https://github.com/rubocop/rubocop-rspec/blob/5928b3d6

[2022-06-28 18:26] #1306 closed

[2022-07-03 07:25] boris-petrov opened #1310 "[RSpec/Capybara/SpecificMatcher] False-positive with `have_table`"
[code]

This results in a `Prefer have_table over have_css.` warning however in this case I have sub-matchers and that can't be replaced with `have_table`.

Otherwise the rule works perfect, great work!

cc @ydah

[2022-07-03 19:10] #1310 closed

[2022-07-03 20:05] bquorning commented on #1310
Fixed [v2.12.1](https://rubygems.org/gems/rubocop-rspec/versions/2.12.1). Thanks for reporting, @boris-petrov 🙏🏼

[2022-07-04 06:57] rickselby opened #1313 "`RSpec/Rails/HaveHttpStatus` enabled by default in project without Rails"
In 2.12.1, `RSpec/Rails/HaveHttpStatus` has been enabled by default, but we don't use rails. This is raising offences that we cannot fix.

Is there a way to automatically enable these cops only if Rails is detected? We could manually disable `RSpec/Rails/*` cops, but this issue would affect anyone using this gem without rails, so it feels like something that should be addressed in the gem...

[2022-07-04 08:22] pirj commented on #1313
What you can do is to add the following to your `.rubocop.yml` to your project's root:
[code]

I don't think there's a reliable way for RuboCop RSpec to detect if Rails is part of the project.

We can think of extracting Rails, Capybara and FactoryBot departments into separate gems, but this will take two major releases, which means ~1.5 years if we do the next major release soon.

[2022-07-04 08:22] #1313 closed

[2022-07-04 09:33] ngouy opened #1314 "Option so one-line/hooks/examples/whatever shouldn’t need to have a newline between them."
## context

This was already discussed here: https://github.com/rubocop/rubocop-rspec/pull/632#issuecomment-415967045

## The issue
### what we have today:

If I have
[code]

And naturally, would be auto-corrected to

[code]

### Proposition:

An option to the EmptyLineAfterHook so we can have multiple one-liner grouped together withouht new lines
This option could probably have other usage on oth

[2022-07-04 14:20] pirj commented on #1314
I'm guilty of separating `before` hooks when they do unrelated things, e.g.:
[code]
but I prefer to keep a line between them.

[2022-07-05 08:23] ngouy opened #1317 "RSpec/InstanceVariable declaration inside an example"
is that a wanted behavior that when I declare an instance variable, this cop registers an offense?

example:

[code]

If I want to avoid an offense, I must
[code]

Not that this is complicated or else. But capturing values into variables in a block without having to declare them before is handy.

Do you think it's a corner case? or is that wanted?
Should we consider update the cop, or having an op

[2022-07-05 13:34] ngouy commented on #1314
regardless if we use many `before` (or any other hook) or not, I think it's fair to allow consecutive one-liner for both same and different hooks, in order to have a single one-liner hooks block

both
[code]

Seems fair

[2022-07-06 08:33] Darhazer commented on #1317
As for the reasoning, you are right - if it is assigned only in the example, there is no leak between the examples. I'm not sure what was the reasoning for `AssigmentOnly` option, but we can consider extending with an option to allow locally scoped instance variables.

@bquorning WDYT

[2022-07-06 09:30] ngouy commented on #1317
As for the factory example yes. I was just trying to highlight the issue I have but the simplest example I gave can be dealt with otherwise. Thought it's not really the point I try to expose. MB trying to oversimplify.

The memo is a good one, haven't really thought about it.
But it's """sad""" to have to use a small hack because one cop that has been designed for a specific reason is overlapping

[2022-07-06 10:40] ngouy commented on #1317
Another thing to consider could be to have a system of "ignored_pattern"

So we can still have the cop ON, and target the variable we want to cop to ignore

But TBH It feels like those 2 things are not exclusive.
Update the cop with an option to not target example variable,  + add another option to ignore pattern

[2022-07-06 15:15] ngouy commented on #1317
@pirj 💯

Forget about the factory example. As I said it was a bad attempt to expose the issue. But that issue is very real for other use cases
Another example could be
[code]

Also even if I'm open to always get better at doing things, and having better practices, having to change my "relatively legit" code for a cop that have a bigger AOE that what it was design for (which is avoid leaks) seems h

[2022-07-06 15:23] Darhazer commented on #1317
As I mentioned, I agree with @ngouy reasoning on this one. All bad examples in the cop, the assigment happens in a hook. Perhaps we have to [clarify it in the rspec style guide](https://rspec.rubystyle.guide/#instance-variables) first.

[2022-07-06 15:25] zverok opened #1319 "Cop idea: `NoExpectations`"
When I thought about it, I actually was surprised nobody came with it yet :)
So, basically it wold be cool (I'd do it myself, but don't have enough time atm) to have a cop checking whether an example has no expectations at all. It is actually more frequent problem than one might imagine. Some examples might include:
* lazy "it just works" check (`it { subject }` -- it should be at least `expected.

[2022-07-06 15:46] pirj commented on #1319
Hey 👋

I remember we've stumbled across a problem with copy-pasta'd `it { validates_presence_of(:attribute) }` is spec of a project we were working on.

However, such a cop would be a subject for false positives, at least with the coding style that I practice sporadically:
[code]

There has also been a discussion somewhere in RSpec's issue tracker that it is barely possible to catch such example i

[2022-07-06 17:48] pirj commented on #1317
The subject under test is some request, and it makes a call to a service with certain values, and we tap in to get those values and make sure the response contains them.
I can only say that the above example breaks isolation and boundaries. From my perspective, a good test of that request would stub the call to the service and would return some value that the request processor expects it to return

[2022-07-06 19:43] Darhazer commented on #1319
See also #208

[2022-07-06 20:13] pirj commented on #1319
Just for the reference, https://github.com/rspec/rspec-core/issues/759

[2022-07-09 12:20] #1107 closed

[2022-07-18 10:42] boris-petrov opened #1326 "[RSpec/Capybara/SpecificMatcher] False-negative for `click_link`"
[code]

This could be changed to:

[code]

I'm still not sure if that's better but I wanted to put that for discussion here.

cc @ydah, @pirj, @bquorning

[2022-07-20 20:35] jaredmoody opened #1327 "[RSpec/Capybara/SpecificMatcher] Matching on attributes"
AFAIK there's not a way to specify attributes with specific matchers:

`have_selector('a[data-disabled]', text: "Add Thing")`

This violates RSpec/Capybara/SpecificMatcher, but I don't think it's possible to express this with `have_link`, so  I think it's a false positive.

[2022-07-21 03:57] mwolman opened #1335 "Running `rubocop --auto-gen-config` ignores `RSpec/BeforeAfterAll` offense"
## Expected behavior

After running `rubocop --auto-gen-config`, all the offenses are added to the `.rubocop_todo.yml` file, and then, if you run `rubocop -a` you should have 0 offenses detected.

## Actual behavior

I ran `rubocop -a` and there's still 1 offense related to the `RSpec/BeforeAfterAll` cop

## Steps to reproduce the problem

1. In your `rails_helper` file, define something like this

[2022-07-22 07:58] boris-petrov opened #1329 "Cop idea: disallow calling `have_no_XXX` immediately after `visit`"
Note the following code:

[code]

Will pass... sometimes. It's a race-condition as the page may or may not have loaded when execution reaches the second line. It would be nice to have a cop that checks for these cases.

Not sure if it should also handle:

[code]

In some sense the page has already (at least partially) loaded because of the `within` check but on the other hand perhaps always having

[2022-07-22 09:32] ydah commented on #1326
[code]

In the above case, it looked good as `RSpec/Capybara/SpecificActions`.
ref: https://rubydoc.info/github/jnicklas/capybara/master/Capybara%2FNode%2FActions:click_link

[2022-07-22 09:35] ydah commented on #1326
[code]

And in the above case, `RSpec/Capybara/SpecificFinders` ?
ref: https://rubydoc.info/github/jnicklas/capybara/Capybara/Node/Finders

[2022-07-22 12:27] boris-petrov opened #1330 "[RSpec/Capybara/SpecificMatcher] False-negative for `have_link`"
[code]

This should warn that it can be converted to:

[code]

cc @ydah, @pirj, @bquorning

[2022-07-22 12:43] boris-petrov opened #1331 "Cop idea: disallow using `exact_text` when `Capybara.exact = true`"
[code]

It would be nice to have a check that disallows passing `exact_text` to such matchers as that's unneeded - `Capybara.exact` makes these matcher work like so by default. That is, the above is equivalent to `expect(page).to have_link('foobar')`.

A couple of things to note:
1) this is perhaps difficult to implement as `Capybara.exact = true` is generally set in a different file `spec_helper.

[2022-07-23 13:38] bquorning commented on #1331
1. I think we’d need to implement this via the cop configuration. The `Capybara.exact=` is dynamic code which is not executed by RuboCop and, as you mention, may not exist in the same file as the offense.

Just to be sure I understand this – is it correct that when `Capybara.exact = true` is set, we should change
[code]
into
[code]

But the following should not be changed:
[code]

[2022-07-25 20:14] mwolman commented on #1335
@pirj I only had 2 offenses in the whole repo, so I'm sure it didn't exceed that number

[2022-07-25 20:25] pirj commented on #1335
Let's double-check if it's a cop deficiency, or it works as designed. May I kindly ask you to run the above command, @mwolman ?

[2022-07-26 20:54] pirj commented on #1335
I'm inclined to close this, as the behaviour seems to be as expected.
Thanks for reporting, this motivated me to check some gen-config related code and docs.

[2022-07-26 20:54] #1335 closed

[2022-07-27 08:16] BigBigDoudou opened #1337 "Cop Idea: prevent "it works" description"
I see too many this:

[code]

Specs are not just here to prevent bugs, but are, as the name implies, specifications. In other words, a documentation we can use as developer to understand what the code is supposed to do.

So it could be nice to enforce a description of "what it does". Preventing "it works" would be a good start 😋

[code]

[2022-07-27 11:01] #1319 closed

[2022-07-27 11:06] pirj commented on #1337
Sounds great. Would you like to open a PR with such a cop? It should be an easy one. There's `RSpec/ContextDescription` for the reference.

[2022-07-27 12:14] Darhazer commented on #1337
It can have a configuration for disallowed patterns

[2022-07-27 12:22] BigBigDoudou commented on #1337
That would be my first cop but there's no rush so yeah I can do it someday.

[2022-07-27 19:04] #1327 closed

[2022-07-27 21:38] ydah commented on #1330
This problem has been resolved by https://github.com/rubocop/rubocop-rspec/pull/1328 .
Also, there were not enough test cases for this case, so that has been resolved by https://github.com/rubocop/rubocop-rspec/pull/1339 .

[2022-07-27 21:39] #1330 closed

[2022-07-28 06:41] boris-petrov commented on #1331
@bquorning sorry for the late reply.

Yes, that's correct. Also `expect(page).to have_link(exact_text: "foo\nbar")` shouldn't be changed. Also `expect(page).to have_link(text: 'foobar')` should not be changed because that doesn't look for an *exact* match but a partial one.

And yes, a cop-configuration is perhaps the way to go for this.

[2022-07-30 08:22] boris-petrov opened #1342 "[RSpec/Capybara/SpecificMatcher] False-negative for `have_field`"
[has_field](https://www.rubydoc.info/gems/capybara/Capybara/Node/Matchers#has_field%3F-instance_method) handles a bunch of cases which can replace for example:

[code]

Same for the negative cases - `expect(page).to have_no_css('input')`.

cc @ydah

P.S. Also:

[code]

Or something.

[2022-07-30 09:29] boris-petrov commented on #1091
I've been trying to figure out what's the current status of this issue for a while now by reading issues here and [there](https://github.com/rubyide/vscode-ruby/issues/625). The same problem happens to me right now with the latest version of everything. `RSpec/FilePath` gives a warning in VSCode and no other `rubocop-rspec` warnings are issued in that file. Running `rubocop` separately works total

[2022-07-31 05:20] ydah commented on #1342
Thank you so much!

[code]
This one has created a PR: https://github.com/rubocop/rubocop-rspec/pull/1343 .

[code]
This one but I am inclined to put something else cop in charge of this one instead of `SpecificMatcher`.

[2022-07-31 05:59] boris-petrov commented on #1342
No, thank ***you*** for the hard work on these! Makes writing Capybara much easier!

I agree that the last example is better to go in a different cop.

[2022-08-01 09:37] #1342 closed

[2022-08-02 07:52] Epigene opened #1346 "[Feature request] Allow specifying `it` aliases for RSpec/EmptyExampleGroup"
**Problem:**
RSpec allows aliasing the `it` method to other words, `they` is a popular choice for plural "things under test", see [this SO thread](https://stackoverflow.com/a/12320874/3319298).
Then using these aliases will produce false positives for `RSpec/EmptyExampleGroup` cop, for example

[code]

**Solution:**
Expose some "ItAliases" configuration option to also take the aliases into account

[2022-08-02 07:57] pirj commented on #1346
This should already be possible, please check https://docs.rubocop.org/rubocop-rspec/usage.html#rspec-dsl-configuration

[2022-08-02 07:57] #1346 closed

[2022-08-02 14:45] liijunwei opened #1347 "https://docs.rubocop.org/rubocop-rspec/ seems down"
![image](https://user-images.githubusercontent.com/48843657/182403115-4295b565-bb9d-47d9-9448-f47d3a465451.png)

[2022-08-02 14:49] liijunwei commented on #1347
seems transient network outage

[2022-08-02 14:49] #1347 closed

[2022-08-02 21:53] ydah opened #1348 "Cop idea: like a `RSpec/Capybara/FindElementValueEq` cop"
original issue: https://github.com/rubocop/rubocop-rspec/issues/1342#issue-1322935208

[code]

[2022-08-03 07:31] akrox58 commented on #1337
took a stab at this cop requirement! happy to make any changes!

[2022-08-03 17:16] boris-petrov opened #1351 "[RSpec/Capybara/SpecificMatcher] False-positive with pseudo-classes"
[code]

This gives a warning but I don't think it's possible to express this with `have_button`.

cc @ydah

[2022-08-04 00:20] pirj commented on #1292
After some discussion in the PR and here, I'm more inclined to close this.
But there's this code left that can serve well as a standalone cop if forked.

[2022-08-04 00:20] #1292 closed

[2022-08-04 00:53] masuyama13 opened #1353 "RSpec/ChangeByZero auto-correct creates syntax errors"
I'm using `&` matcher, which doesn't work with negative form.
https://github.com/rspec/rspec-expectations/blob/main/lib/rspec/matchers/composable.rb#L25

In this case, auto-correct can be unsafe.

Example:
[code]

running `rubocop -a`

Creates:
[code]
This is syntactically incorrect.

Versions:
rubocop-rspec: 2.11.1
[code]

[2022-08-04 01:14] ydah commented on #1353
That is the issue, but I believe it has been resolved by https://github.com/rubocop/rubocop-rspec/issues/1353 . Please wait for the next release.

[2022-08-04 01:22] ydah commented on #1353
For test cases, we are creating patches to be added: https://github.com/rubocop/rubocop-rspec/pull/1355
It appears to be working fine, so I think it's fine.

[2022-08-04 02:05] ydah commented on #1351
I guess we need to consider the cases that cannot be replaced by pseudo-classes.
It may take some time, but I will work on it.

[2022-08-04 02:06] ydah commented on #1351
Indeed it is. Thank you so much @boris-petrov
I guess we need to consider the cases that cannot be replaced by pseudo-classes.
It may take some time, but I will work on it.

[2022-08-05 06:40] okuramasafumi opened #1356 "Feature Request: Support suffix for RSpec/ContextWording"
https://docs.rubocop.org/rubocop-rspec/cops_rspec.html#rspeccontextwording

Currently only `prefix` is supported for `RSpec/ContextWording`, but for some languages, only prefix cannot make description sound natural. I'm a native speaker of Japanese so here I'd like to take Japanese as an example.

[code]

Here, the better context for me is the one that ends with 'とき', meaning `if` or `when` in Jap

[2022-08-05 10:48] ydah commented on #1356
It is important to note that in the use case you are proposing, suffixes and prefixes need to behavior differently.
The `RSpec/ContextWording` prefix match checking is strict as follows.

[code]

In Japanese, each word is not separated by a space. Therefore, to check words such as those in the example, the following will work differently for prefix and suffix.

[code]

However, as mentioned above,

[2022-08-09 06:41] schinery opened #1359 "Cop idea: cop that will enforce `.to eq`"
Is there is a cop that can enforce the style of `.to` as sometimes getting mixed examples in our codebase, for example `.to(eq)` and `.to eq`, so wondering if there is anything that can enforce:

[code]

I've been looking through the [RSpec cops](https://docs.rubocop.org/rubocop-rspec/cops_rspec.html) and can't see anything, so suspect not, but wondering if this would be useful?

[2022-08-09 09:44] Darhazer commented on #1359
Related: #754
Slightly related: #416

[2022-08-09 09:57] schinery commented on #1359
Ah didn't see #754, thanks @Darhazer will close as definitely the same thing

[2022-08-09 09:57] #1359 closed

[2022-08-10 16:26] MothOnMars commented on #1179
We've run into enough issues with this cop that we'll be marking it as unsafe in our `.rubocop.yml`:
[code]
As "the autocorrect is experimental", it may make sense to disable the autocorrection by default. If that seems reasonable, I'd be happy to put in a PR to make that change.

A couple more real-world examples (which admittedly are poorly written specs):
[code]

[2022-08-15 17:56] jtannas opened #1360 "Feature Request: `IgnoredGroups` configuration in `RSpec/NestedGroups`"
TL;DR: Please add `IgnoredGroups` configuration to `RSpec/NestedGroups` so that we can stop configured groups from contributing to the nesting level.

### Context

We use the [`RSwag`](https://github.com/rswag/rswag) gem in our Rails request specs. A hiccup we're running into is it uses a lot of custom example groups for boilerplate descriptions of the API format and it's causing problems with the

[2022-08-26 16:20] jcoyne opened #1369 "[RSpec/Capybara/SpecificMatcher] false positive for anchor with attributes"
[code]

However I don't believe there is any way to pass this attribute selector to `have_link`.

[2022-08-26 21:20] ydah commented on #1369
It appears to be a duplicate of https://github.com/rubocop/rubocop-rspec/issues/1327 .
This issue has already been resolved and merged into the master branch (https://github.com/rubocop/rubocop-rspec/pull/1328), so please wait for the next release.

[2022-08-27 00:21] jcoyne commented on #1369
Yes. Definitely a duplicate

[2022-08-27 00:21] #1369 closed

[2022-08-27 00:23] ydah commented on #1369
@jcoyne Thanks for the feedback. If you have any more issues, I'd be glad to hear from you via Issue.

[2022-08-30 16:48] #1360 closed

[2022-09-01 13:16] krsinghshubham opened #1374 "Unclosed sidekiq testing blocks carrying the testing mode across specs."
## Problem
Problem is with unclosed sidekiq testing blocks in Rspec.
## Explanation
By default Sidekiq testing block is fake and we have configure it explicitly in spec helper as well. Everything is going good, unless someone in other spec file write a test with unclosed
testing block in Disable! mode. With this the mode will be set across the files unless someone explicitly changes it to fake or

[2022-09-01 13:43] #1317 closed

[2022-09-01 18:09] #1356 closed

[2022-09-05 05:02] krsinghshubham commented on #1374
thanks @koic koic, ideally it should have been under rubocop/rspec only, My bad.

[2022-09-07 11:35] #1351 closed

[2022-09-12 13:59] guillaumewrobel opened #1382 "Missing config/obsoletion.yml"
Hi there,

it seems that rubocop-rspec-2.13.0 broke things

[code]

[2022-09-12 14:43] #1382 closed

[2022-09-12 15:08] bquorning commented on #1382
Fixed in [v2.13.1](https://rubygems.org/gems/rubocop-rspec/versions/2.13.1)

[2022-09-12 15:52] ShockwaveNN commented on #1382
@bquorning Seems you've forgotten to make GitHub release

https://github.com/rubocop/rubocop-rspec/releases

v2.13.0 is the latest

[2022-09-12 16:40] bquorning commented on #1382
Fixed

[2022-09-12 20:54] boris-petrov opened #1385 "`RSpec/NoExpectationExample` false positives"
[code]

This gives `RSpec/NoExpectationExample` but it shouldn't. :)

[2022-09-12 21:49] ydah commented on #1353
@masuyama13 A new version has been released😀 Please check if it works and if it works as expected, please close this Issue.

[2022-09-12 21:56] ydah commented on #1382
Sorry for the inconvenience.
Thank you so much @hosamaly and @guillaumewrobel .

[2022-09-13 04:29] guillaumewrobel commented on #1382
No, thank **you**.

[2022-09-13 08:57] ShockwaveNN commented on #1385
Similar problem then expect in `after` block

Something like this:

[code]

[2022-09-13 13:08] Darhazer commented on #1353
I confirm that with `2.13.1` this is either not being corrected, of if `NegatedMatcher: not_change` is configured, corrected to
[code]

[2022-09-13 13:21] annaswims commented on #1385
It also does not accept `Capybara::Node::Matchers#assert_text` as an assertion in an example like:
[code]

[2022-09-13 13:24] ShockwaveNN commented on #1385
A lot of edge cases for single cop, maybe it should be disabled by default

[2022-09-13 14:09] ydah commented on #1353
This is a different Issue from this one, but there seems to be a case where a fix to `Layout/LineLength ` and `Style/BlockDelimiters` causes a SyntaxError.

original
[code]

bundle exec rubocop -A --only Layout/LineLength
[code]

bundle exec rubocop -A --only Style/BlockDelimiters
[code]

The following syntax error occurs
[code]

[2022-09-14 03:28] ostigley opened #1386 "An error occurred while RSpec/Capybara/SpecificFinders"
Since upgrading to 2.13.1, I have experienced this error:

`An error occurred while RSpec/Capybara/SpecificFinders cop was inspecting ...<file>`

The code being inspected by rubocop is
[code]

Running rubocop -d shows:
[code]

[2022-09-14 03:32] ydah commented on #1386
Thanks for the feedback.
I will check it out.

[2022-09-14 05:08] ydah commented on #1353
Indeed, I probably shouldn't have brought it up here. Sorry for going off topic.

[2022-09-14 10:01] #1386 closed

[2022-09-14 15:39] masuyama13 commented on #1353
@ydah
I confirmed that it works as expected. Thank you for fixing it.

[2022-09-14 15:39] #1353 closed

[2022-09-16 13:24] mvz opened #1388 "RSpec/NoExpectationExample flags pending and skipped examples"
The new `RSpec/NoExpectationExample` cop flags pending and skipped examples, even though it seems the intent was to allow them (https://github.com/rubocop/rubocop-rspec/pull/1321/commits/ed7f7c03d1fd93bd8b2041e3f2e43740f51a9cfb).

For example, this is flagged:

[code]

[2022-09-16 15:23] annaswims commented on #1385
Thanks! I missed [the docs](https://docs.rubocop.org/rubocop-rspec/cops_rspec.html#rspecnoexpectationexample)

[2022-09-18 19:39] joshuapinter commented on #210
I, too, would love this. Feature/Integration specs tend to be much longer so it forces you to either disable the :cop: altogether or bump up the `Max` setting, which eliminates any value from it.

[2022-09-19 11:34] Darhazer commented on #1385
I think we have to account for the expectations in hooks that are in scope. We have the `ExpectInHook` that would disallow such usage, but it would be frustrating for users to disable that cop just to have `NoExpectationExample` complain again.

Maybe we also should add the capybara expectations by default to the language (perhaps behind a config option). I'm on a fense for this one, as it would a

[2022-09-19 13:35] bquorning commented on #1385
I think this would be Koch easier to check with dynamic analysis that with static analysis. @pirj Is this something that might be built into RSpec itself one day?

[2022-09-20 07:28] pirj commented on #1385
No, it's not possible in RSpec, too, since rspec-mocks/rspec-expectations are not the only way of making expectations, e.g. `assert_nil` being one I frequently see. There was a discussion about this somewhere in RSpec issue tracker, but I can't quickly find it.

[2022-09-20 08:36] boris-petrov opened #1390 "[RSpec/Capybara/VisibilityMatcher] False-negative for `have_no_css`"
[code]

This should trigger a warning but doesn't.

[2022-09-20 08:55] Darhazer commented on #1385
I have reviewed a codebase with the cop applied, and now I think that we may add an `AllowedPatterns` configuration, so people can just whitelist `expect_` and `assert_` methods without needing to add them to Language. Though having not them in language also forces people to think how to better express them, e.g. creating custom matchers, instead of merely methods that run expectations

[2022-09-20 20:59] gburgett opened #1392 "RSpec/LetBeforeExamples is not a safe autocorrection"
Hello,

I have found an instance where the autocorrection for `RSpec/LetBeforeExamples` changes the behavior.  I believe this cop should be marked as an unsafe autocorrection.

The issue is when a `RSpec.shared_examples` block defines a `let` with the same name as one defined closer to the main examples:

[code]

In this case, the cop will move the `let(:value)` above the `include_examples` call,

[2022-09-21 09:14] Darhazer commented on #1392
This over-simplified example shows few bad patterns. First, `when overriding value` should be a shared context, and not examples, as it only defines the context. Next, the way I'd expect the value to be overridden, is:

[code]

[2022-09-21 13:44] gburgett commented on #1392
Hi Darhazer, thanks for the comments.  Yes this over-simplified example does have bad patterns, that's primarily because I simplified it significantly from my real-world code in our closed source app.  In that app the `shared_examples` do define some examples but they were not relevant for reproducing this issue so I eliminated them.

Secondly in our code, the solution was to wrap the shared examp

[2022-09-22 14:05] #1390 closed

[2022-09-23 12:57] Darhazer opened #1394 "Cop idea: forceordering in factories"
Given a factory bot definition, it would be nice to force some consistent structure:

* alphabetical attribute ordering. Note that we should recognise FactoryBot methods (transient, association, trait, etc.)
* possibly alphabetical trait ordering
* General grouping, similar to class structure - e.g. transients in the beginning, followed by associations, followed by attributes, followed by traits a

[2022-09-24 01:58] takaki opened #1395 "RSpec/ContextWording: incorrect sample about AllowedPatterns"
It is written in source code comment
[code]
But it does not working.
It should be instead of
[code]

[2022-09-27 14:57] aglushkov opened #1398 "Rails/RedundantReceiverInWithOptions error"
Rubocop shows parsing error with such code:

[code]

[code]

[code]

[2022-09-28 09:37] #1395 closed

[2022-09-30 14:32] ryanfb opened #1399 "RSpec/ReturnFromStub yields false positives and makes unsafe autocorrections"
Example:
[code]
Triggers:
[code]
Which when run with `rubocop -a` (safe autocorrect) produces the code:
[code]
Which results in the error:
[code]

See also: #947

[2022-09-30 23:00] dmytro-savochkin commented on #1348
I would LOVE this!
However I understand it might be pretty hard to implement, especially if not limiting to just `.value` -> `have_field`. It can be also `.text` -> `have_content` for example (and quite a few others?).

[2022-10-03 20:29] AlexWayfer commented on #1385
My case with [`sequel-enum_values`](https://github.com/AlexWayfer/sequel-enum_values):

I've got `RSpec/NoExpectationExample: No expectation found in this example` for such code:

[code]

I understand, meta-programming is difficult for linters like RuboCop.

But I've also got:

That's non-sense!

[code]

[2022-10-04 08:57] pirj commented on #1385
This would be better reported to the parent project https://github.com/rubocop/rubocop/issues/

Not only. Also for people if its sole purpose is to make things dry rather than more readable.

Looking at [the spec](https://github.com/AlexWayfer/sequel-enum_values/blob/aae3196a93a59b8fc7a521fec49be9bb5abc322c/spec/sequel/plugins/enum_values_spec.rb#L221):
[code]

leads me to a thought that this can

[2022-10-05 15:29] jcoyne opened #1406 "RSpec/Capybara/SpecificMatcher false positive with count"
I see this message
[code]

however, there is no way to assert a specific number of links appear using `have_link`  See https://github.com/teamcapybara/capybara/blob/f7ab0b5cd5da86185816c2d5c30d58145fe654ed/lib/capybara/node/matchers.rb#L331

This is with rubocop-rspec-2.13.2

[2022-10-05 22:07] ydah commented on #1406
I think it can be replaced by `have_link ` as follows.

[code]

`have_link` is here and accepts keyword arguments as **option.
https://github.com/teamcapybara/capybara/blob/a9fd24012257bba2afa6f36b7c99231c6a069a5e/lib/capybara/rspec/matchers.rb#L80-L84

and the valid options are as follows:
https://github.com/teamcapybara/capybara/blob/a9fd24012257bba2afa6f36b7c99231c6a069a5e/lib/capybara/spec/ses

[2022-10-06 02:19] jcoyne commented on #1406
Okay, maybe the capybara documentation was just misleading to me

[2022-10-06 02:19] #1406 closed

[2022-10-06 12:15] pirj commented on #1385
Can you provide an example of a spec with `has_text?`, @texpert ?

[2022-10-06 12:50] texpert commented on #1385
Well, here's one with `has_link?`, @pirj : - https://github.com/texpert/rails_6_rss_reader/commit/4923144a590cffce414cf0b84d4182dc52cc8c2d

When changing the `has_link?` to `page.has_link?`, we get a Rubocop failure:

[code]

[2022-10-06 17:56] pirj commented on #1385
[code]
Are you confident that this code is correct, @texpert ? Isn't it a no-op in terms of expectations?
Shouldn't it be `expect(page).to have_link?`?

I have no awareness if `page` is the root page or how `within` affects that scope, unfortunately, but I'd say that `within('body')` doesn't do much scoping anyway, does it?

[2022-10-06 20:54] texpert commented on #1385
I am pretty confident, @pirj - see https://github.com/teamcapybara/capybara#querying and https://github.com/teamcapybara/capybara#scoping

Capybara's matchers are more concise and readable - https://rubydoc.info/github/teamcapybara/capybara/master/Capybara/Node/Matchers

[2022-10-06 22:56] pirj commented on #1385
As I can see from [the source of e.g. `has_link?`](https://github.com/teamcapybara/capybara/blob/a9fd24012257bba2afa6f36b7c99231c6a069a5e/lib/capybara/node/matchers.rb#L334),
[code]
[code]
[code]
[just returns `false`](https://github.com/teamcapybara/capybara/blob/a9fd24012257bba2afa6f36b7c99231c6a069a5e/lib/capybara/node/matchers.rb#L879) that is not sufficient for RSpec to consider the example f

[2022-10-07 11:07] PradipDKshirsagar opened #1407 "RSpec/NoExpectationExample raises offense for expect which is called in methods."
RSpec/NoExpectationExample raises offense for expect which is called in methods.
--------
RSpec/NoExpectationExample not working for the spec which has any expect statement in a different method which is called in that it blocks instead of expect statement written in it block itself.

[code]

## Expected behavior

Should not get a message `RSpec/NoExpectationExample: No expectation found in this e

[2022-10-07 14:59] pirj commented on #1407
What is `addition_expect_statement`?

[2022-10-07 15:08] pirj commented on #1385
Personally, I follow the recommendation to use helper methods that is supported by the Effective Testing with RSpec book.

However, since for static checking it creates complications, do you think we can all agree that if something is an expectation, we can name it as such?

[code]

In such a way, we can introduce an option with a default to the cop, say, `ConsiderHelperMethodsPrefixes: [expect]`

[2022-10-07 15:13] texpert commented on #1385
Yep, @pirj ,you're right - I don't know why I was thinking these matchers are working also like expectations :(

[2022-10-07 15:18] pirj commented on #1407
I intend to close this as a duplicate of #1385. Welcome to the discussion there.

[2022-10-07 15:18] #1407 closed

[2022-10-07 15:19] pirj commented on #1385
[Mildly related discussion in the style guide](https://github.com/rubocop/rspec-style-guide/issues/70)

[2022-10-07 15:23] pirj commented on #1385
[RSpec/ExpectInHook](https://docs.rubocop.org/rubocop-rspec/cops_rspec.html#rspecexpectinhook) disapproves such style, @ShockwaveNN

[2022-10-07 15:25] pirj commented on #1385
Does anyone want to send a PR to introduce `AllowedPatterns` configuration option, so with default `expect_` and `assert_` as @Darhazer suggests above?

[2022-10-09 11:12] ydah commented on #1385
If no one plans to send a PR, I will send. How do you like it?

[2022-10-09 13:27] pirj commented on #1385
There's no better candidate than you, @ydah with so many recent contributions, please go for it.

[2022-10-12 13:36] ryanfb commented on #1399
Changed title to reflect that this also generates false positives.

[2022-10-12 14:18] pirj commented on #1399
What does the block that you pass to receive do in this case?
I suspect it's ignored by RSpec for negative expectations, isn't it?
See https://github.com/rspec/rspec-mocks/blob/2c70bfbb5bc0f59525032615c8fa989dd1ade243/lib/rspec/mocks/message_expectation.rb#L74, https://github.com/rspec/rspec-mocks/blob/2c70bfbb5bc0f59525032615c8fa989dd1ade243/lib/rspec/mocks/matchers/receive.rb#L30 for the referen

[2022-10-12 14:18] #1399 closed

[2022-10-12 14:26] pirj commented on #1392
Have you considered using `it_behaves_like` instead of `include_examples`, @gburgett ?
The difference is that the former wraps all shared examples in an example group, and `let`s defined in it take priority over the ones defined in the including example group.

I'm always opposed to the use of `include_examples` for no really good reason, as it introduces such hard to discover and understand bugs.

[2022-10-12 16:11] pirj commented on #1374
Even though it's related to testing, we mostly keep cops that look after the RSpec coding style, and related test libraries like FactoryBot, Capybara, and RSpec Rails with their DSLs.

I'm on the fence if to accept such a cop, or to suggest creating a custom cop in a separate repo. Or in some repo that combines RSpec and Sidekiq, but both that I know of are unmaintained ([1](https://github.com/phi

[2022-10-13 10:48] unikitty37 opened #1409 "RSpec/Dialect does not seem to be detecting violations"
Given the following `.rubocop.yml`:

[code]

and the following `spec/test_spec.rb`:

[code]

then `rubocop spec/test.yml` should fail with the message "Prefer 'skip' to 'xit'".

However, RuboCop passes it. The same occurs with the example given in the documentation. I'm not sure if I'm configuring it wrong or if it's broken somehow.

* rubocop (1.36.0)
* rubocop-rails (2.16.1)
* rails (7.0.3.1)
*

[2022-10-13 12:19] ydah commented on #1409
`RSpec/Dialect` cop is disabled by default. Can you please check if it works as expected by changing .rubocop.yml as follows and enabling it.

[code]

[2022-10-13 15:17] unikitty37 commented on #1409
Ah — that would explain it 🤦 Thanks!

It doesn't seem to differentiate between `skip: true` in the `it…` line and an inline `skip` in the test body, so I'll probably need to write a custom cop for that.

[2022-10-13 15:17] #1409 closed

[2022-10-13 20:47] #1337 closed

[2022-10-14 18:04] pirj commented on #1409
Don't hesitate to submit it if you like, @unikitty37

[2022-10-15 06:16] #378 closed

[2022-10-15 12:27] krsinghshubham commented on #1374
@pirj the workaround will not work as if any other testing block goes unclosed in any test, all the other tests will be overridden by unclosed testing block mode.
In fact we already had the  default mode set in RSpec but other dev left one of the other testing mode block opened which failed few of the new tests when we ran RSpec for the whole project.

[2022-10-15 13:27] pirj commented on #1374
Why? `config.before` (and its default scope is `:example`/`:each`) would run before each test. Even if the previous test have set the mode to "inline", the hook (`config.before`) would set the mode back to "fake" for the new example (test).
Can you provide a runnable example that indicates side effects, @krsinghshubham ?

To get you going, here's a template:
[code]

In any case, `rubocop-rspec` is

[2022-10-15 13:27] #1374 closed

[2022-10-15 13:35] pirj commented on #1394
I'm on the fence regarding ordering, sometimes it's interleaved for better visibility:
[code]

Speaking more broadly, and you know what I'm talking about by codename Ferrari, factories are the hottest pain point of testing. It's a shame there's no such thing as a factory_bot-style-guide. cc @AlexVKO.
I'm always triggered with bad memories when seeing dreaded factories with multiple `after(:create)

[2022-10-15 14:07] pirj commented on #1314
[`RSpec/EmptyLineAfterHook` has a `AllowConsecutiveOneLiners` option](https://docs.rubocop.org/rubocop-rspec/cops_rspec.html#rspecemptylineafterhook), see [example](https://github.com/rubocop/rubocop-rspec/blob/master/spec/rubocop/cop/rspec/empty_line_after_hook_spec.rb#L328):
[code]

Do you also suggest to allow no empty line between hooks, `let`s and examples when they all are one-liners like be

[2022-10-15 14:08] pirj commented on #1273
Ping @arg

[2022-10-15 14:13] krsinghshubham commented on #1374
It will not leak if we configure it at file level but will leak if we configure the RSpec at project level.

explicit configuration at file
<img width="1713" alt="Screenshot 2022-10-15 at 7 28 54 PM" src="https://user-images.githubusercontent.com/47324260/195990904-9e4a950c-3451-4235-a04f-26cd30a0dfb9.png">

when defined at project level
<img width="1705" alt="Screenshot 2022-10-15 at 7 31 18 PM"

[2022-10-15 14:22] krsinghshubham commented on #1374
oh got it , configuration at project level was wrong for me, i was configuring at project level which was not setting the scope correctly. After doing the configuration correctly its working even without explicit definition at file level.

[2022-10-15 14:52] pirj commented on #1374
`RSpec.configure do` is done in `spec/spec_helper.rb`/`spec/rails_helper.rb`, so it's project level.
I do not suggest to use `RSpec.configure` in the beginning of the spec files, I only used it for you to provide a single-file self-contained example.

Good to know you've sorted it out.

[2022-10-15 22:23] pirj commented on #1149
@ojab Ping

[2022-10-17 12:23] ngouy commented on #1314
yea @pirj I'm the one that introduced it to solve it 😂
Just forgot to close this issue

`AllowConsecutiveOneLiners` is the way

[2022-10-17 12:23] #1314 closed

[2022-10-17 21:06] #1385 closed

[2022-10-18 17:11] gburgett commented on #1392
Thank you @pirj, yes all our newer code uses `it_behaves_like` and we do attempt to refactor `include_examples` when possible.

As a point of argument towards marking this cop as unsafe, it did take me a couple of hours to track down which particular cop was causing my specs to fail.  I had upgraded Rubocop and introduced several new cops, ran safe autocorrection on all of them, and then had to wo

[2022-10-19 00:13] pirj commented on #1392
@gburgett May I kindly ask you to check if #1413 keeps your specs green after autocorrection?

[2022-10-19 21:42] #416 closed

[2022-10-20 13:41] #1326 closed

[2022-10-20 20:07] #1392 closed

[2022-10-21 08:27] tdeo opened #1418 "Idea: make spec support available in the gem"
Hello,

I was trying to extend rubocop-rspec with a few additional rules to enforce coding practices we have in my team, and I ran into the fact that I cannot include the `spec_helper` and shared contexts from the gem to test my extension.

What rubocop does is that they have their rspec support tools (contexts, expect_offenses and so on) defined in a subdirectory of their [`lib` folder ](https://

[2022-10-22 21:52] bquorning commented on #1418
Would this be solved by #1377? The issue seems similar.

[2022-10-23 08:58] pirj commented on #1418
I've checked briefly the `expect_offenses`, and it appears that [it doesn't do anything useful presently](https://github.com/rubocop/rubocop-rspec/pull/1421), despite expectations.

`spec/shared/autocorrect_behavior.rb` is legacy with `expect_correction`/`expect_no_corrections`.
`spec/shared/detects_style_behavior.rb` seems useful, it's a shame we don't use it in all cops.

So #1377 should do the

[2022-10-23 09:44] pirj opened #1423 "FactoryBot traits style"
Traits can be used in nested factories in two different ways.

Explicitly (and unambiguously):
[code]

Another way, [as implicit attributes](https://github.com/thoughtbot/factory_bot/blob/master/GETTING_STARTED.md#as-implicit-attributes-1) is ambiguous:
[code]
Unless we parse traits in context, it's hard to understand if `article` is an association or a trait.
With `factory :verb, parent: :word` p

[2022-10-23 10:27] pirj commented on #1136
I can also add that changing from a class literal to a string/symbol arguably makes the cop unsafe unless [`verify_doubled_constant_names`](https://github.com/rspec/rspec-mocks/blob/3-11-maintenance/lib/rspec/mocks/configuration.rb#L115) is turned on. It is [off by default in RSpec Mocks 3.11](https://github.com/rspec/rspec-mocks/blob/e4a7ececb851562f5f4ce64762e7976da8fe56f2/lib/rspec/mocks/config

[2022-10-24 04:12] doconnor-clintel opened #1429 "An error occurred while RSpec/Rails/InferredSpecType cop was inspecting ... (2.14.0)"
I believe this was happier under rubocop-rspec 2.13.0.

Running:
[code]
Produces:
[code]

Recently added cop; offending line:
https://github.com/rubocop/rubocop-rspec/blob/master/lib/rubocop/cop/rspec/rails/inferred_spec_type.rb#L94

Code being assessed:
[code]

[2022-10-24 06:11] #1429 closed

[2022-10-24 06:21] pirj commented on #1429
Thanks for reporting.
Can you please try with `rubocop-rspec` from `master` to see if it has resolved the issue?

[2022-10-24 06:34] tdeo commented on #1418
Hey @pirj,

Not sure when I can give it a try but it looks exactly like what I'll have in mind

[2022-10-24 06:49] bquorning commented on #1429
v2.14.1 is released with (hopefully) a fix. Thank you for reporting this issue.

[2022-10-24 07:10] doconnor-clintel commented on #1429
Seems happier:
[code]

[code]

[2022-10-24 07:11] luismoyano opened #1433 "Infinite loop caused by RSpec/ExampleWording"
Hello! Just wanted to let you know guys that today got updated to the latest version and the new cop for `RSpec/ExampleWording` seems to be giving infinite loops

rubocop-rspec version: 1.36.0

The issue seems to be coming from #1350

For the command `bundle exec rubocop -a`

running on a test like this:

[code]

Here's the logs

[code]

[2022-10-24 09:00] ydah commented on #1433
@akrox58 This is just FYI.
The minimum reproduction procedure is to run rubocop with the following code under spec.

[code]

It looks to me @pirj hypothesis is probably the right one.

[2022-10-24 09:05] ydah commented on #1429
Thank you very much for your report!

[2022-10-24 09:06] ydah commented on #1273
If you are still busy, I would like to work on this.

[2022-10-24 09:07] arg commented on #1273
That would be great

[2022-10-24 15:08] ShockwaveNN opened #1435 "`RSpec/SortMetadata` autocorrect broke code for `it_behaves_like`"
1. Create sample rspec file like this:
[code]
2. run it and get output:
[code]
3. Run autocorrect for this: `rubocop -A spec/test_spec.rb`
Result will be:
[code]
5. Run it again:
[code]

So order of arguments is change and this may broke codebase

Env:
[code]

[2022-10-24 15:42] pirj commented on #1435
Thanks for reporting!

I believe the fix should be:
[code]
and a spec making sure we don't mess with positional arguments order of `include_examples`/`include_context`/`it_behaves_like` with and without blocks.

[A short reference of how RSpec deals with metadata](https://github.com/rspec/rspec-core/pull/2878).

Would you like to send a PR, @ShockwaveNN ?

[2022-10-24 15:44] ShockwaveNN commented on #1435
Sorry, I think I'll pass. I'm happy to report issues, but not sure that I've enough free time to dig in the code right now

[2022-10-24 16:28] pirj commented on #919
Getting back to this 2 years later.

Right, this [has its roots in `rubocop`'s RuboCop config](https://github.com/rubocop/rubocop/blob/0ecaf4a01de31d9f952e270c5b97f4857c669ca4/.rubocop.yml#L136). Apparently, this setting has caused a lot of confusion at the beginning of this discussion :smile:

Testing `inflected` with `Strict: true` on `real-world-rspec`:
[code]
`inflected` with `Strict: false` (

[2022-10-24 18:42] shepmaster opened #1436 "RSpec/Rails/InferredSpecType causes cascading errors for the default structure of request specs"
To reproduce:

[code]

The final run of `rubocop` will have this warning:

[code]

It seems odd that the cop and the generated body of the request spec are at odds with each other.

---

- rspec (3.11.0)
- rspec-rails (6.0.1)
- rubocop (1.37.1)
- rubocop-rspec (2.14.1)

NOTE: cop introduced in #1365

[2022-10-24 18:51] shepmaster commented on #1436
This _may_ be what y'all expected, and if so, I'd love to hear suggestions about what should be changed — the argument to  `describe` or the file path.

[2022-10-24 19:16] pirj commented on #1435
No worries, I'll take care of it.
Meanwhile, stuck with a peculiar bug where the removal of `#Includes.all` is causing RSpec DSL config not to load in specs 🤯

[2022-10-24 20:01] pirj commented on #1433
@luismoyano Can you please check if #1438 fixes your case?

[2022-10-24 20:07] pirj commented on #1436
I suggest making an exception and keeping `type: :routing` in `RSpec/InferredSpecType`. Just becase RSpec Rails' [controller](https://github.com/rspec/rspec-rails/blob/59a1d9a9f1fa947b00ab3e635455743b1f0956a7/lib/generators/rspec/controller/controller_generator.rb#L47) and [scaffold](https://github.com/rspec/rspec-rails/blob/59a1d9a9f1fa947b00ab3e635455743b1f0956a7/lib/generators/rspec/scaffold/sc

[2022-10-24 20:18] ydah commented on #1436
I agree with you.
https://relishapp.com/rspec/rspec-rails/v/6-0/docs/routing-specs/named-routes

[2022-10-24 20:32] ydah commented on #1436
I can work on it right after this, so if no one has started this yet, I will.

[2022-10-24 20:34] pirj commented on #1436
My apologies, I did, hold on for a PR.

[2022-10-24 20:42] ydah commented on #1436
I see, that's good to know :) Thank you very much.

[2022-10-24 21:18] #1433 closed

[2022-10-24 21:21] r7kamura commented on #1436
I'm thinking about changing the `RSpec/FilePath` Cop to check if the path is under `spec/routing/`. Would this not work?

[2022-10-24 21:23] pirj commented on #1436
Sounds reasonable, @r7kamura 👍

[2022-10-25 06:14] #1435 closed

[2022-10-25 10:54] DMA57361 opened #1442 "Autocorrect FactoryBot/ConsistentParenthesesStyle with omit_parentheses produces syntax error from multi-line instances"
To match the style generally used throughout our code I've switched the new `RSpec/FactoryBot/ConsistentParenthesesStyle` cop to `EnforcedStyle: omit_parentheses`. We've some cases of FactoryBot.create calls spread across multiple lines (due to many arguments, large values, whatever) and if autocorrect is run the brackets are just removed... producing invalid code.

Given this contrived example fi

[2022-10-25 13:08] pirj commented on #1442
Thanks for reporting!

Not necessarily:
[code]

What do you think, @DMA57361 ?

[2022-10-25 13:37] DMA57361 commented on #1442
A fair point. Frankly, I'm not personally bothered too much by either of these possible outcomes as it's not breaking things, so whatever the path of least resistance is works for me.

I guess the result will end up getting further adjusted by other style cops anyway, eg the above would trigger an offense for the later params not being aligned with the user symbol (at least with our config... I've

[2022-10-25 16:15] #1442 closed

[2022-10-25 17:23] #1436 closed

[2022-10-27 19:56] ojab commented on #1149
I'd like to, but lack of capacity :crying_cat_face:

[2022-10-28 14:10] Pontus4 opened #1445 "`RSpec/FactoryBot/ConsistentParenthesesStyle` cop triggers not only on FactoryBot methods"
The [`RSpec/FactoryBot/ConsistentParenthesesStyle`](https://github.com/rubocop/rubocop-rspec/blob/d065a8d0cfcc216a497b85027f060462f681cf45/lib/rubocop/cop/rspec/factory_bot/consistent_parentheses_style.rb#L33) cop introduced in [v2.14.0](https://github.com/rubocop/rubocop-rspec/releases/tag/v2.14.0) is triggered on methods with the same names as the ones listed in `RuboCop::RSpec::FactoryBot::Lang

[2022-10-29 07:35] pirj commented on #1445
Can you please test if #1446 fixes all your cases, @Pontus4 ?

[2022-10-29 07:45] pirj opened #1447 "Cop idea: use symbols when using factories"
[code]

[2022-10-29 08:05] pirj opened #1448 "Cop idea: flag callbacks for building associations"
I see this frequently:
[code]
This won't work with `build_stubbed`.

The can be written as (see [Interconnected Associations](https://github.com/thoughtbot/factory_bot/blob/master/GETTING_STARTED.md#interconnected-associations)):
[code]

`instance` [was added in FactoryBot 6.1.0](https://github.com/thoughtbot/factory_bot/blob/main/NEWS.md#610-july-8-2020), `@instance` can be used in older versions

[2022-10-29 08:27] pirj opened #1449 "Cop idea: flag expli"
See [Using Factories/Associations](https://github.com/thoughtbot/factory_bot/blob/master/GETTING_STARTED.md#associations).

[code]

[2022-10-29 09:29] Pontus4 commented on #1445
I'm not familiar enough with this project to give any suggestions at this point, unfortunately.

No, we don't use FactoryBot.

It does! 🎉

[2022-10-29 15:05] #1445 closed

[2022-10-31 15:18] DMA57361 opened #1452 "Autocorrect ConsistentParenthesesStyle with omit_parentheses does not handle usages within expressions"
Following my report of #1442 I've had reason to run this cop on some of our other projects and have found two more scenarios where autocorrection of FactoryBot/ConsistentParenthesesStyle with omit_parentheses: true will remove parentheses in a way that produces invalid syntax. In fact it might even be the case these shouldn't be offenses as they cannot be corrected in this way?

Here's a contrived

[2022-10-31 21:13] pirj commented on #1452
Completely valid.
Thanks for reporting!

[2022-10-31 23:29] #1452 closed

[2022-11-02 12:02] salcudeann opened #1458 "Infinite loop caused by RSpec/FactoryBot/ConsistentParenthesesStyle"
Hey, after upgrading to the latest version (`2.14.2`) a cop is causing an infinite loop and rubocop crashes when trying to run.

For the command `bundle exec rubocop -a`.

Running on a test like this:

[code]

And here we have the logs:
`Infinite loop detected in //location and caused by RSpec/FactoryBot/ConsistentParenthesesStyle -> Style/MethodCallWithoutArgsParentheses`

[2022-11-02 12:23] ydah commented on #1458
Thank you for your report.
I have tried, but the code you have provided does not seem to reproduce the problem.

Can you please provide us with the results of your .rubocop.yml and `rubocop -V`?

I checked the following environment:
[code]

[2022-11-02 12:43] salcudeann commented on #1458
`rubocop -V` returns the following:
[code]
In `.rubocop.yml` besides disabling a few cops I have the following settings for all cops:
[code]

[2022-11-02 13:13] ydah commented on #1458
I was able to reproduce it. Thank you very much.
(Apparently it was a problem with my environment. Sorry.)

[code]

[2022-11-02 13:30] ydah commented on #1458
Ah, I finally understand.
The following Pull Request was corrected this issue.
- https://github.com/rubocop/rubocop-rspec/pull/1446

Please wait for the next release.

[2022-11-02 13:49] salcudeann commented on #1458
Sounds great, thanks!

[2022-11-02 15:00] #1458 closed

[2022-11-02 15:41] #1273 closed

[2022-11-02 21:45] jcraigk opened #1460 "Allow backslashes for multilines in FactoryBot/ConsistentParenthesesStyle"
Currently from the [docs](https://docs.rubocop.org/rubocop-rspec/cops_rspec_factorybot.html#rspecfactorybotconsistentparenthesesstyle):

[code]

It would be nice to have an option that allows backslashes even when enforcing parentheses on single-line calls. For example, the following should both be allowed:

[code]

[2022-11-03 15:33] ojab opened #1465 "Add separate `RSpec/ExampleLength` configuration for `aggregate_failures`"
There are times when we need to check order of things happening and something like
[code]
is already an offense with the default config. Not sure about the number, but it should be >5.

And since `aggregate_failures` could be set in metadata — probably we should exclude `aggregate_failures do; end` from the count to get consistent results.

[2022-11-03 16:24] ojab commented on #1465
It's simplified example, case in hand is more like
[code]
so compound expectation wouldn't work, unfortunately (or I can't think of the way to make it work).

IMHO `aggregate_failures` implies that there would be multiple expectations (there is already exception in `RSpec/MultipleExpectations` for that) and `RSpec/ExampleLength` about `don't make setup and expectation overly long to be unreadable`

[2022-11-03 17:07] #1418 closed

[2022-11-04 08:11] pirj commented on #1460
Can you please elaborate?
Do you mean that the cop in omit_parentheses mode should add a backslash in its autocorrection instead of just raising an offence and skipping autocorrection?

would any other cop suggest fixing the layout after that?

[2022-11-04 18:02] jcraigk commented on #1460
See [Style/MethodCallWithArgsParentheses](https://www.rubydoc.info/gems/rubocop/RuboCop/Cop/Style/MethodCallWithArgsParentheses) which is a broader cop around the use of parens and backslashes. See `AllowParenthesesInMultilineCall` option, which allows granular control over multiline argument lists. I think in the spirit of that cop, a similar option should be added to the ` FactoryBot/ConsistentP

[2022-11-04 20:52] pirj commented on #1465
There's no way this exception would allow the block to continue its execution, so no `expect` would be reached. This goes along with how it would behave if `do_something` is outside `aggregate_failures`, isn't it?
I'm trying to point out that there is no point of using `aggregate_failures do` block in the example body if you can set it via metadata.

[2022-11-07 10:39] Tietew opened #1468 "`RSpec/Capybara/SpecificFinders` autocorrection shoud remove escape"
### Reproducion steps
Run `RSpec/Capybara/SpecificFinders` autocorrection on:
[code]
This returns a tag `<tag id="domain-deadbeef.org-delete">`, which id contains `.`.
The `.` shoud be escaped because bare `.` is a class selector in CSS.

### Expected result
[code]
CSS selector escape should be removed.

### Actual result
[code]

### References
Per HTML Standard, `id` attribute can contain any cha

[2022-11-08 14:32] ydah commented on #1468
Thanks for the report!

Perhaps, in this case, the following autocorrection is needed.

[code]

[2022-11-08 19:02] twelve17 opened #1471 "RSpec/ChangeByZero cop and compound operators"
Hello,

I see that there was an issue with this use case that was fixed in #1324 and [released in 2.13.0](https://github.com/rubocop/rubocop-rspec/blob/master/CHANGELOG.md#2130-2022-09-12) . However, I ran into the following error even after updating to `2.15.0`:

[code]

The spec causing this error has the following expectation:

[code]

Additional version info:
[code]

[2022-11-08 19:47] twelve17 commented on #1471
My mistake, the spec had a typo in it. It had:

`.to change(ModelA, :count).by(-1) and`

instead of

`.to change(ModelA, :count).by(-1).and`

(Missing dot before `and`)

[2022-11-08 19:47] #1471 closed

[2022-11-09 01:16] ydah commented on #1471
Thank you for your report.
Please let us know if you notice anything else.

[2022-11-09 03:01] Tietew commented on #1468
Unfortunately, no. In my case, the id string contains the dot `.` character; not class.
[code]

[code]

I tried to fix this issue, but it's not easy because `RuboCop::Cop::RSpec::CssSelector` is regexp based.
To fix perfectly, it's needed to rewrite CssSelector with correct CSS selector parser.

Current best *fix* may be marking `SafeAutocorrect: false` on the cop.

[2022-11-09 03:27] Tietew commented on #1468
I tested more edge cases:
[code]

[2022-11-09 03:39] Tietew commented on #1468
More case...
[code]
This correction is incorrect because the selector `[class=bar]` means the value of the attribute `class` *is exactly* `bar`. `find_**(class: 'bar')`, `.bar` and `[class~=bar]` means the class *contains* `bar` for example `<tag class="deadbeef bar">`.

[2022-11-09 04:54] ydah commented on #1468
Thank you very much. I understand.
We will attempt to accommodate edge cases.

[2022-11-10 06:48] mculp commented on #919
We recently upgraded to the new defaults and have like ~1800 `eq true` that need to be changed to `be true`. A coworker created a PR, and the conflicts are just growing and growing 🤣

I think we're going to have to come up with a migration plan.

Or maybe the author will find a time in the middle of the night to merge it.

[2022-11-13 14:46] #1447 closed

[2022-11-14 14:10] jcoyne opened #1480 "RSpec/FactoryBot/ConsistentParenthesesStyle"
False positive on methods that have nothing to do with factory bot.
[code]

We are not even using factory_bot

[2022-11-15 16:03] pirj opened #1484 "Cop idea: restrict `expect { ... }.not_to raise_error()`"
Suggested by @Darhazer [here](https://github.com/rubocop/rubocop-rspec/pull/1456#issuecomment-1315150349).

[code]
would fail with
[code]
Without `expect { }`:
[code]

[`rspec-expectations` would NOT warn](https://github.com/rspec/rspec-expectations/blob/6ebb53150c1b1a629e45a4649fa7965e6a95e39a/lib/rspec/matchers/built_in/raise_error.rb) about such a usage.
But in general, it's at best pointless.

[2022-11-15 16:07] #638 closed

[2022-11-15 16:22] pirj opened #1485 "Cop idea: discourage the use of `assert_`/`refute_` Minitest matchers"
[Suggested by @Darhazer](https://github.com/rubocop/rubocop-rspec/pull/1456#issuecomment-1315150349)

RSpec Expectations [allows using](https://github.com/rspec/rspec-expectations/blob/a85a42cb4c4c700b7591e4dc2cb27089bdf425c4/lib/rspec/expectations/minitest_integration.rb) [`assert_`/`refute_` Minitest matchers](http://docs.seattlerb.org/minitest/Minitest/Assertions.html)
However, RSpec comes with

[2022-11-15 16:43] Darhazer commented on #1484
I was just suggesting that, in scope of the Capybara cops, we may want not to use assertion methods that would raise, and expect not to raise, but instead use the methods that would return value, and expect against that return value

[2022-11-16 07:03] #1480 closed

[2022-11-17 11:11] pmustel opened #1488 "RSpec/Capybara/NegationMatcher changes behavior of tests"
I thinks the whole idea with RSpec/CapybaraNegationMatcher is wrong. It should not be there because it will change behavior of the tests.

There is a difference in in writing
case 1:
 ` expect(page).to have_no_link(x)`

case 2:
  `expect(page).not_to have_link(x)`

case1 will wait for a link to disappear. It will take time only when the link exist (fault case).
case2 will wait assert that a link d

[2022-11-17 11:57] ydah commented on #1488
It is our understanding that there is no functional difference between Capybara's RSpec matchers as shown below as well as in the documentation.

https://github.com/teamcapybara/capybara/blob/master/README.md#asynchronous-javascript-ajax-and-friends

[2022-11-17 20:50] bquorning commented on #1485
Do we know _why_ rspec-expectations provide this feature? Is it going to be deprecated?

One of the [non-goals of rubocop-rspec](https://docs.rubocop.org/rubocop-rspec/#non-goals-of-rubocop-rspec) is

and I wonder if the suggested cop doesn’t fall under this category.

[2022-11-17 21:26] pirj commented on #1485
Fair enough.
RSpeс has a [сonfiguration option for that](https://relishapp.com/rspec/rspec-core/v/3-9/docs/expectation-framework-integration/configure-expectation-framework#configure-minitest-assertions):
[code]
which is [exclusively using `rspec-expectations` in the default project `spec/spec_helper.rb` initializer](https://github.com/rspec/rspec-core/blob/6dede8ae1b9cce6e1de4baa912e77c97b587b446

[2022-11-18 06:01] pmustel commented on #1488
You have a point. It seems like Capybara has changed. I didn't know that. So new both

case1:
   expect(page).to have_no_link(x)

case 2:
  expect(page).not_to have_link(x)

Works like case 1.

Then to get the second case working as expected I have to write

  found = page.has_link?(x)
  expect(found).to be_falsey

Even more confusing is capybara documents they stress on using the right choice (in

[2022-11-18 15:25] pirj commented on #1485
Indeed, it's [coming from `rspec-rails`](https://github.com/rspec/rspec-rails/blob/2eba2c453ce9ab4eb951925573a142744fb1e0ba/lib/rspec/rails/example/rails_example_group.rb#L13):
[code]
I'll give it a shot to only include it if `expect_with` is configured to also allow `:minitest`.

[2022-11-19 11:00] pirj commented on #1485
https://github.com/rspec/rspec-rails/pull/2639

[2022-11-19 11:06] pirj commented on #1485
[Fails](https://github.com/rspec/rspec-rails/actions/runs/3503218291/jobs/5868109649), e.g.:
[code]

If it's impossible to restrict this on RSpec level, I suppose we're left with static analysis.
Unless I misunderstood your argument, @bquorning

[2022-11-22 12:39] pirj commented on #1488
@twalpole Would you be so kind to shed some light regarding RSpec matchers?

[2022-11-23 07:00] pmustel commented on #1488
There is no bug. Just my limited knowledge about capybara matchers.

[2022-11-23 07:15] #1488 closed