[2018-01-24 10:41] Ana06 opened #539 "Documentation"
Is there some cops documentation similar to what Rubocop has: http://rubocop.readthedocs.io/en/latest ?

[2018-01-24 10:42] bgeuken opened #540 "Documentation for cops"
It seems that there isn't any documentation for the existing cops available. We currently in the process of adding rubocop-rspec to our code base. It would be really helpful to be able to point to some doc when discussing / deciding if and how configured we want to have a certain cop.

[2018-01-24 11:03] Darhazer commented on #540
http://www.rubydoc.info/gems/rubocop-rspec/RuboCop/Cop/RSpec

[2018-01-24 12:50] bquorning commented on #539
Moving discussion to the similar issue #540.

[2018-01-24 12:50] #539 closed

[2018-01-24 12:53] bquorning commented on #540
Does the rubydoc.info documentation provide what you need @bgeuken, or would a documentation site similar to RuboCop’s http://rubocop.readthedocs.io/en/latest be of more use?

Or should we perhaps just link to rubydoc.info in the README? 😳

[2018-01-24 13:01] Ana06 commented on #540
I personally think that something like http://rubocop.readthedocs.io/en/latest would be better.

In the meanwhile I would link the Rubydoc in the Readme, as it is currently not that easy to find.

[2018-01-24 13:06] bgeuken commented on #540
The rubydoc.info docu already helps a lot. Having something like the RuboCop documentation would of course be awesome.

Yes, please:-)

Thanks for the quick reply

[2018-01-30 08:30] mensfeld opened #541 "An error occurred while RSpec/DescribedClass cop"
Steps to reproduce:

1. Clone this repo: https://github.com/mensfeld/broken-rubocop-rspec
2. Bundle
3. bundle exec rubocop

See:

[code]

[2018-01-30 08:32] mensfeld commented on #541
With a debug:

[code]

[2018-01-31 14:14] #541 closed

[2018-02-05 11:05] anthony-robin opened #544 "[Cop idea] ADD cop that check have_http_status value"
There is two ways to check the http status of a request with rspec: with the numeric or with symbol value.

[code]

That could be a good cop idea to force the way to check status and set to numeric or symbol value ! What do you think about this ?

[2018-02-05 12:16] bquorning commented on #544
Generally, I think it sounds like a good idea. Just a few quick comments:

- This is an rspec-rails specific feature, right?
- Using symbols, you can match “general response codes” (one of `:error`, `:success`, `:missing`, and `:redirect`) which will match an entire class of other symbols, e.g.  `expect(response).to have_http_status(:error)` will match a `:bad_gateway` response – see https://relis

[2018-02-05 15:03] anthony-robin commented on #544
Yes I think so.

I would try to work on this cop this week but I'm not sure my Ruby skills are strong enough to achieve it :(

[2018-02-05 23:53] flora opened #545 "Cop idea: Be able to configure whether to allow Expect/Receive for ExpectInHook"
It's very useful to use `expect(...).to receive(...)` notation inside the before hook as a more strict version of `allow(...).to receive(...)`, since `expect` will actually enforce that the stubbed function gets called, which can catch unnecessary stubs as well as bugs.

It would be great to have a way to turn this on since I think it's good practice to use it in this way.

[2018-02-12 14:40] #544 closed

[2018-02-13 00:38] pocke commented on #545
True, but I think the option should be disabled by default.

We can use `allow(...).to receive(...)` and `expect(...).to have_received(...)` instead.

[code]

I like this style. Because a difference between "preparation" and "expectation" is clear in the style.
(Note: we have a cop for the styles. https://github.com/backus/rubocop-rspec/blob/219ef75583f82bcca636727afa1774ac1681e11f/lib/rubocop/cop

[2018-02-13 04:56] jfelchner opened #548 "ExampleLength Exception for Hashes"
In quite a few of my tests (especially when verifying a response in a controller test), the majority of the spec is simply well-formatted hashes.  ExampleLength in this case is of dubious value.  It would technically be possible to just put the hash all on one line and fix this issue, but that makes it an unreadable mess.

I'd love to see an option to exclude hashes from the lines counted in specs

[2018-02-13 16:10] Darhazer commented on #548
Related: #249

As a workaround, you can move the definitions of the hashes to lets and the examples will be short

[2018-02-13 19:28] jfelchner commented on #548
#249 would be an acceptable workaround to this.  Thanks @Darhazer!

[2018-02-13 19:32] jfelchner commented on #249
Now that I'm looking at this I'm wondering if just using rubocop's built-in `PerceivedComplexity`, `AbcSize`, `CyclomaticComplexity` cops might be good enough here.

[2018-02-18 13:05] abrom opened #555 "FactoryBot/DynamicAttributeDefinedStatically does handle dynamic values in arrays/hashes"
Neither of the following cases are detected as being dynamic factory girl values
[code]

I tried having a go at fixing it by iterating over the attribute values but it ends up marking the trait tests as an offence (if a child has an offence):

[code]

fails the trait spec with:

[code]

I suspect the fix might be to check if the `attribute` root node is a trait, and if so, get the child and add th

[2018-02-18 14:32] Darhazer commented on #555
The fix would be to capture the argument and to check if it's `recursive_literal` - see `ReturnFromStub` cop

[2018-02-19 01:52] abrom commented on #555
Great, thanks @Darhazer! I've created #556 which uses your suggestion. Appears to work as expected now. Note I also had to check `const_type?` as they aren't identified with `recursive_literal?`

See https://github.com/backus/rubocop-rspec/pull/556/files#diff-df9ebb129542f128b1ad39adc760d858R46

[2018-02-20 11:48] #555 closed

[2018-02-23 16:06] harold-s opened #560 "Rails/HttpStatus custom HTTP status"
rubocop : 0.52.1
rubocop-rspec : 1.23.0

Hello the new Cop `Rails/HttpStatus` is relying on `::Rack::Utils::SYMBOL_TO_STATUS_CODE` to check if we're using a symbol.
`::Rack::Utils::SYMBOL_TO_STATUS_CODE` only has symbols for the following http status :
[code]
If we're using custom HTTP status (like `550`), then we get an offense.

[2018-02-24 20:43] #560 closed

[2018-02-26 09:24] bquorning opened #563 "Error from FactoryBot/StaticAttributeDefinedDynamically"
Inspecting this file gives me an error:

[code]

Partial stacktrace

[code]

Using rubocop-rspec v1.23.0 and rubocop v0.52.1:

[code]

cc @abrom

[2018-02-26 09:26] abrom commented on #563
Good find @bquorning 👍 I'll put a PR together

[2018-02-26 09:28] abrom commented on #563
Just thinking about the ideal result here.. I suspect it would identify that as an offense.. Autocorrecting with `bar nil`

Thoughts?

[2018-02-26 09:37] bquorning commented on #563
Yeah, I guess. `bar` is defined by a dynamic attribute that will always return `nil`… which makes it a static attribute. So `bar nil` makes sense. 👍

[2018-02-26 15:07] harold-s commented on #560
Thanks !!!!!

[2018-02-27 19:12] #563 closed

[2018-03-02 13:28] mickael-palma-argus opened #565 "FactoryBot/StaticAttributeDefinedDynamically weird"
Hi,

I updated this morning to v1.23.0 and the FactoryBot/StaticAttributeDefinedDynamically popped out for this kind of factory that uses a hash:
[code]

Any advice on how to comply to the "law"?

[2018-03-02 14:44] Darhazer commented on #565
Since the hash has only static values, the cop suggest not to use a method. Instead the factory could be written as
[code]

[2018-03-02 15:32] mickael-palma-argus commented on #565
Thx, it helps me get rid of the offense with I slightly different syntax to avoir another offense (Style/BracesAroundHashParameters):
[code]

[2018-03-06 08:22] bquorning opened #569 "Repository moved"
Hey all. Please note that we have moved the repository from from https://github.com/backus/rubocop-rspec to https://github.com/rubocop-rspec/rubocop-rspec. According to https://help.github.com/articles/about-repository-transfers/ everything should continue to work as before.

That article also recommends that you update your local clone:

[2018-03-06 09:31] Darhazer commented on #569
It seems we need to update the gemnasium.com config as well

[2018-03-06 09:50] bquorning commented on #569
Gemnasium is [shutting down on May 15](https://gemnasium.com/blog/gemnasium-is-acquired-by-gitlab/) because GitHub now has built-in vulnerability scanning. See https://github.com/rubocop-rspec/rubocop-rspec/network/dependencies.

I think we should just remove the Gemnasium from the readme.

[2018-03-06 10:16] bquorning opened #571 "Fix CodeClimate integration"
https://codeclimate.com/github/rubocop-rspec/rubocop-rspec is set up, but seemingly not connected to GitHub.

[2018-03-06 21:24] #571 closed

[2018-03-07 13:12] timrogers opened #575 "FactoryBot/DynamicAttributeDefinedStatically records an offence when using Ruby's Symbol#to_proc behaviour"
In a FactoryBot factory, you can define "before" and "after" callbacks as follows:

[code]

The specified callback (a block) is called after `FactoryBot.create`.

[Because of the magic of Ruby's `Symbol#to_proc`](https://www.brianstorti.com/understanding-ruby-idiom-map-with-symbol/), this can also be written as:

[code]

However, when you do this, you get an offence like the following logged:

[co

[2018-03-07 13:16] Darhazer commented on #575
I believe this was fixed in #562 - published in v 1.24
Can you confirm?

[2018-03-07 13:23] timrogers commented on #575
Looks like it. Leave that with me.

[2018-03-07 14:19] timrogers commented on #575
You’re right; I was behind a version. Closing.

[2018-03-07 14:19] #575 closed

[2018-03-08 05:30] igas opened #577 "FactoryBot/DynamicAttributeDefinedStatically false positive for "class""
Hi,

I believe there are false positive, with FactoryBot and STI you can override class, but you can't really expand it due to `class` being reserved word.

Here is an example:

`factory(:admin, class: Admin)`

[2018-03-08 10:13] bquorning opened #578 "Unused code in predicate_matcher.rb ?"
I looked at the [code coverage report](https://codeclimate.com/github/rubocop-rspec/rubocop-rspec/lib/rubocop/cop/rspec/predicate_matcher.rb/source), and it looks like we have a couple of lines of untested code: https://github.com/rubocop-rspec/rubocop-rspec/blob/014a2001f46ddb62e3bddf0651735ff17459e434/lib/rubocop/cop/rspec/predicate_matcher.rb#L234-L235

I tried to add a spec that would exercise

[2018-03-09 09:25] mvz commented on #505
See also #538 for another issue with this cop's suggestions.

[2018-03-09 09:31] mvz commented on #401
@Darhazer what would be the suggested 'good' version of your example?

[2018-03-09 09:36] Darhazer commented on #401
[code]

[2018-03-09 09:38] mvz commented on #401
Thanks, @Darhazer!

[2018-03-09 20:10] bquorning commented on #401
https://relishapp.com/rspec/rspec-core/v/3-7/docs/subject/explicit-subject says

So that would be `expect(admin.something).to eq(result)` in your example.

[2018-03-12 12:33] Darhazer commented on #578
it turns out `predicate_matcher_name?` returns false for `include` and `respond_to`, as a perdicate_matcher should `start_with?('be_', 'have_')`. So it does not register an offense for `include` and `respond_to`

[2018-03-13 09:14] #531 closed

[2018-03-13 13:12] #569 closed

[2018-03-16 14:44] choosen opened #583 "Cop idea: Restrict (defined?) block tags"
I would like to restrict tags, which can be used in blocks:
[code]
`feature 'admin can see sales inquiries', :js do`
`it 'makes us happy once per 2 runs', retry: 2`

* In my case I would to force using only tags: `:js, :vcr`.
* It can be useful to allow also some tag values, e.g. force to use only `driver: :chrome_headless`
* We can force to omit spec `:type` if we use `infer_spec_type_from_file_l

[2018-03-18 12:18] #577 closed

[2018-03-22 12:05] deivid-rodriguez opened #585 "Cop idea: restrict example wordings starting with uppercase letters"
Since example wordings are composed together for error messages, documentation and so on, I think it makes sense that they don't start with uppercase letters, except for the outermost block. It'd need an exclusion mechanism for words that always start with uppercase, but I think it could be useful!

[2018-03-26 12:19] anthony-robin opened #586 "False positive with RSpec/MultipleExpectations cop ?"
I think the `RSpec/MultipleExpectations` cop detect a false positive in the following case:

[code]

[code]

I got this message:

[code]

Should this case be allowed by rubocop ? Thanks !

[code]

[2018-03-26 13:44] anthony-robin commented on #586
Sorry ! Haven't seen it... Thanks !

[2018-03-26 15:39] sauloperez opened #587 "cop for enforcing `should` vs. `expect` with explicit subject"
At first, I thought https://github.com/rubocop-rspec/rubocop-rspec/pull/200 also covers the case where are an explicit subject is used such as the one below:

[code]

then I realized that it is only for implicit subjects. Is there any cop that works in this case too (couldn't find any)? we have quite a big codebase and we want to discourage `should` syntax.

[2018-03-26 18:27] #586 closed

[2018-03-26 18:39] bquorning commented on #587
Do I understand correctly that you would like to enforce using
[code]
instead of
[code]

That is a feature of RSpec itself – here you can read about how to enable/disable one or the other: https://relishapp.com/rspec/rspec-expectations/docs/syntax-configuration#disable-should-syntax

I personally prefer to configure RSpec to not do any monkey patching at all (no `should` method on every object, an

[2018-03-26 22:09] sauloperez commented on #587
Yep, that's what I meant. I thought I could postpone disabling the syntax and giving Transpec a try by at least stopping new additions of `should`.

Thanks for the help :ok_hand:

[2018-03-27 10:04] sauloperez commented on #587
That would be helpful and I guess it will reduce the number of issues you need to answer.

[2018-03-27 10:57] bquorning commented on #587
That sounds like a good pull request 😄

[2018-03-28 14:06] sauloperez commented on #587
I can give it a try if you want

[2018-03-30 19:38] dkniffin commented on #474
@Darhazer @bquorning I don't think this is resolved. I'm running version 1.24.0 and I'm still seeing the issue.

Here's my factory:

[code]

running rubocop, I get:

[code]

[2018-04-04 10:26] #474 closed

[2018-04-05 15:06] jcoyne opened #591 "ContextWording should allow "as" as a leader."
[code]

[2018-04-06 12:14] choosen opened #592 "How to configure linting in code editors?"
I tried using atom and Visual Studio Code - rubocop is working, but without rspec rules.

My setup in VSC:
[code]

[2018-04-06 12:35] #565 closed

[2018-04-06 19:25] Darhazer commented on #538
@mvz would #593 work for you?

[2018-04-07 10:34] Darhazer commented on #540
ReadTheDocs documentation is published at http://rubocop-rspec.readthedocs.io/en/latest/

[2018-04-07 10:34] #540 closed

[2018-04-07 10:36] #411 closed

[2018-04-09 11:31] elliotb opened #595 "False positive in RSpec/Pending"
We have a scope defined on an ActiveRecord model called 'pending'.

The RSpec/Pending cop is falsely flagging this as an issue on a line as below:

`subject { Vacancy.pending }`

[2018-04-09 13:03] bquorning commented on #595
cc @patrickomatic

[2018-04-10 09:36] #595 closed

[2018-04-13 13:48] bquorning commented on #236
@mateusluizfb Using `bundle exec` will use the versions of RuboCop and RuboCop RSpec that are locked in Gemfile.lock. Without `bundle exec` you will (probably) use the most recent versions installed on your system.

Probably the underlying issue has been (accidentally?) fixed in one of the gems.

[2018-04-13 13:52] bquorning commented on #236
Negative. I can still reproduce the issue on the most recent versions.

[2018-04-15 11:54] mvz commented on #538
@Darhazer I'm not sure. I was going to write a response based on reasoning, but I concluded I need to give this a try and see how it works out.

[2018-04-15 17:08] mvz commented on #538
@Darhazer I'm afread 75baab383d3d60d0972b3d8e30bc88891bb1c2b0 broke this cop completely for me, so it now never complains!

[2018-04-16 13:04] aried3r commented on #405
I can confirm @Darhazer's workaround works. As to the recommendation of adding `require: rubocop-rspec` to `.rubocop_todo.yml`: Since that's an auto-generated file, I think that would be quite tedious.

Is this bug caused because of a name conflict with another cop?

[2018-04-18 07:33] bquorning opened #599 "How to “Report the versions of `rubocop-rspec`”"
Our [contributing guidelines](https://github.com/rubocop-rspec/rubocop-rspec/blob/master/.github/CONTRIBUTING.md#issue-reporting) tell our users to

But since there is no `rubocop-rspec -V` tool, how *do* people easily find the version of `rubocop-rspec`? Something like
[code]
or
[code]
should work – should we add such a line to the guidelines? Or add a file in our `bin/` folder, for this one purp

[2018-04-18 08:06] bquorning commented on #587
Fixed by #588.

[2018-04-18 08:06] #587 closed

[2018-04-18 08:45] dgollahon commented on #599
This is a really interesting point. I'm not sure what the right thing to do here is, but of your two proposed solutions I slightly prefer the latter since it happens within ruby / is an api we control.

If we ever get a proper plugin api for `rubocop`, maybe `rubocop -V` could list the versions of its plugins.

[2018-04-18 08:49] bquorning commented on #599
Yeah, that would be the preferred option.

[2018-04-26 14:32] Darhazer commented on #538
Well, I guess you have to add the features spec folder to `Exclude` for the DescribeClass cop

[2018-04-26 14:37] Darhazer commented on #295
Related to #311

[2018-04-26 15:09] mvz commented on #538
@Darhazer Yes, that's what I did. An alternative for users who want the FeatureMethods cop enabled is to disable DescribeClass for the features spec folder.

[2018-04-27 19:13] mockdeep opened #602 "False positive with RSpec/EmptyExampleGroup"
It seems like there is a case where with a block within a test there is a false positive. The following reports a violation for me:

[code]

Output:

[code]

[2018-04-29 03:11] dgollahon opened #603 "RSpec/EmptyLineAfterFinalLet should ignore neighboring comments"
I've had a few frustrating examples in my codebase where a comment line following a let (usually to re-enable a cop) has resulted in a violation I would not expect.

Example:
[code]

Result:
![image](https://user-images.githubusercontent.com/4211073/39402828-c75c3458-4b1f-11e8-8741-4e8bfc0556bd.png)

Solution:
My suggested approach would be to ignore comment lines immediately following the let as

[2018-04-29 03:15] dgollahon opened #604 "RSpec/DescribedClass does not handle nested describes"
Example:
[code]

Outcome:
![image](https://user-images.githubusercontent.com/4211073/39402861-c72c346e-4b20-11e8-8226-f74535509832.png)

The cop wrongly flags `Foo` and suggests a semantically invalid change. Meanwhile `Bar` is not highlighted. `RSpec/DescribedClass` should account for nested class describes.

[2018-05-02 19:26] Darhazer opened #607 "Cop idea: detect usage of `.never` and suggest `not_to receive` instead"
Bad:
`expect(instance).to receive(:method).never`

Good:
`expect(instance).not_to receive(:method)`

[2018-05-10 19:32] bquorning commented on #578
Ping @pocke

[2018-05-11 00:59] pocke commented on #578
Sorry I've forgotten this issue 🙇 I'll see it tonight.

[2018-05-13 20:55] bquorning commented on #607
Sounds like a good cop. The recommendation applies even if using `with`, right?

[2018-05-14 13:30] #603 closed

[2018-05-14 14:59] a14m opened #611 "Rails/HttpStatus not working after requiring rubocop-rspec"
After adding `require: rubocop-rspec` to the `.rubocop.yml`, the `Rails/HttpStatus` doesn't check the code, only the specs

first reported here: https://github.com/bbatsov/rubocop/issues/5738#issuecomment-388838142

`rubocop-rspec 1.25.1`

[2018-05-14 19:46] danielnc opened #612 "Checking for necessary require on _spec files"
We want to add rubocop check for our rails _spec files that will check if the necessary

require "spec_helper" or require "rails_helper" exists on files

This is usually not a problem if you run the entire rails spec suite but could be if one file does not have the specific require and you run that individually

How can I accomplish that?

Is this a new feature or rubocop-rspec already supports th

[2018-05-14 20:52] dgollahon commented on #612
Hi @danielnc. There's no cop that I know of that would enforce that, but you might consider adding rspec configuration to your project so that you don't have to. If you add a `.rspec` file, rspec will look for this before every test run and use the arguments you specify.

Sample `.rspec` contents that would always require your `spec_helper.rb`

[code]

[2018-05-16 11:05] mensfeld opened #613 "RuboCopRSpec not working / no errors reported with RuboCop 0.56"
Steps to reproduce:

1. Gemfile:
[code]

2. Create a file called `trol_spec.rb` in the `spec/` dir
3. Bundle
4. Run rubocop-rspec with following command:
[code]
5. See errors:

[code]

[2018-05-16 11:05] mensfeld commented on #613
Works if frozen on 0.55.

[2018-05-16 13:07] Darhazer commented on #613
Is `trol_spec.rb` an empty file? I can reproduce the error on an empty file with Rubocop  0.55 as well. I opened PR with a fix for empty files.

If you have noticed the problem with non-empty file, can you please run with -d and post the stack trace? Also the contents of the file will be useful.

[2018-05-16 13:34] mensfeld commented on #613
Unprocessable file /home/mencio/Pulpit/lol/log_file: EOFError, end of file reached
An error occurred while RSpec/DescribedClass cop was inspecting /home/mencio/Pulpit/lol/spec/trol_spec.rb:3:0.
An error occurred while RSpec/ExpectChange cop was inspecting /home/mencio/Pulpit/lol/spec/trol_spec.rb:3:0.
For /home/mencio/Pulpit/lol: configuration from /home/mencio/.rbenv/versions/2.5.1/lib/ruby/gems/

[2018-05-16 13:36] mensfeld commented on #613
Note, that I had to cut some output details as there were just too many lines to pass in a comment.

[2018-05-16 13:39] Darhazer commented on #613
Seems like a problem with the configuration, as all errors lead to `configurable_enforced_style`

[2018-05-16 13:41] mensfeld commented on #613
@Darhazer thank you for the answer. The problem is, that I use the default one and I just want to run RSpec specs.

The reason I do so, is to distinguish between rubocop cops and rubocop rspec cops like so: https://app.coditsu.io/karafka/builds/diffs/diffs/c0721528-5d0e-4301-807e-9e1cc566e0bf/introduced

[2018-05-16 15:10] Darhazer commented on #613
@mensfeld the problem is I cannot reproduce your issue. Can somebody else reproduce it?

[2018-05-16 15:13] mensfeld commented on #613
@Darhazer ok, I will prepare a test repo. Give me 15 minutes.

[2018-05-16 15:36] mensfeld commented on #613
@Darhazer empty is not equal to the default. Maybe that will help you somehow (I'm not a rubocop expert :( ).

Anyhow I run rubocop and rubocop-rspec thousands times daily so I'm pretty good at catching bugs :D

[2018-05-16 19:35] mensfeld commented on #613
@bquorning when I revert to 0.55 and have a custom rubocop.yml only for rubocop-rspec rules it works.

[2018-05-16 20:32] bquorning commented on #613
Yeah, like @Darhazer said, having even an empty .rubocop.yml fixes the problem. Not having any config file throws errors on both 0.55 end 0.56 – at least that’s the behavior I am seeing here.

[2018-05-17 07:34] mensfeld commented on #613
@bquorning it does not throw errors BUT it also does not report anything. Please try this config for example:

[code]
Despite reporting errors, Rubocop always reports nothing.

I've added some more complexity to the spec. When dowgrading to 0.55 following errors from Rubocop Rspec are present for the same file (please pull to update):

[code]

[2018-05-17 07:52] bquorning commented on #613
Great, it sounds like we have two bugs, one sometimes masking the other 🎉

The “nothing works when there is no .rubocop.yml file” seems to have been present for a long, long time. Let’s leave that one for now.

The “something was reported when using rubocop-rspec with rubocop v0.55.0 and nothing is reported with v0.56.0” is what we’ll focus on here.

Git bisect tells me that the issue was introduc

[2018-05-17 07:58] mensfeld commented on #613
@bquorning thank you for confirming :) Coud you also add a bug label so others that encounter the same problem are aware? I mean with 0.56 RubocopRSpec gets totally silent :(

[2018-05-17 08:17] bquorning commented on #613
cc @backus

[2018-05-17 12:11] bquorning commented on #613
No, the Patterns config (mentioned in the Readme) should take care of that.

Btw I meant `spec/**/*_spec.rb` above.

[2018-05-18 10:14] Darhazer opened #615 "Cop idea: detect 1.times / 2.times and suggest using once / twice"
`exactly(1).times` -> `.once`
`exactly(2).times` -> `.twice`
`atLeast(1).times` -> `atLeast(:once)`
`atLeast(2).times` -> `atLeast(:twice)`
`atMost(1).times` -> `atMost(:once)`
`atMost(2).times` -> `atMost(:twice)`

zero is a special case and might fit in another cop:
`receive().exactly(0).times` -> `not_to receive()` (related to #607)

[2018-05-18 10:17] Darhazer commented on #607
Correct.
` expect(A).not_to receive(:foo).with(2)`
is exactly the same as
`expect(A).to receive(:foo).with(2).never`

[2018-05-18 11:03] bquorning commented on #615
Good idea. But let’s stick to snake_case 😉

[2018-05-19 14:45] mensfeld commented on #613
@bquorning sorry for such a late response. That indeed worked! So 1 problem less ;)

[2018-05-20 00:44] dgollahon opened #616 "RSpec/LeadingSubject should account for hooks"
In the original issue for for adding the LeadingSubject cop (#52) the described goal was putting the subject first in a context/describe (which I think makes sense). I noticed when adding `rubocop-rspec` to a project today that it only sorts `subject`s ahead of `let`s. Personally, I'd like to enforce an entire ordering like `subject` -> `let` -> `before` -> `after`, but I think it'd at least be ap

[2018-05-22 21:47] IlkhamGaysin commented on #510
@Darhazer it's ok for the example above but what if we would have more than one nesting?
[code]

[2018-05-23 00:28] dgollahon commented on #510
I don't yet have a strong opinion on this, but one thought is that while "and" makes the final docstring seem neat and readable in some cases, it makes reading the spec itself feel a bit more awkward to me. "Here's the context: and {x}" feels strange to me in a way that "Here's the context: when {x}" doesn't.

@IlkhamGaysin I think your example is reasonable, but I'd be more likely to write it as:

[2018-05-23 00:32] pirj commented on #510
I was actually thinking of adding a `when`/`with` and `without` helpers, e.g.:
[code]

Problem with an `and` is that it's a Ruby keyword ;)

[2018-05-26 10:55] anthony-robin commented on #611
I think there is a conflict of cops name between `rubocop` and `rubocop-rspec` as `Rails/HttpStatus` is defined in both gems with the same namespace.

I'm not sure how we can fix that 🤔

[2018-05-27 11:26] #615 closed

[2018-05-27 17:43] #548 closed

[2018-05-27 20:58] bquorning commented on #423
ping @dgollahon

[2018-05-30 08:03] dgollahon commented on #423
I personally avoid this by just requiring all constants upfront.

Regarding `rspectre`, I think it would be out of scope/possibly difficult to track if the constant previously existed before `stub_const`. I don't envision `rspectre` as a tool you run frequently, so I don't think it's the kind of thing that is likely to have saved @Darhazer debugging time. I'm not sure `rubocop-rspec` would help th

[2018-05-30 09:06] IlkhamGaysin commented on #510
@pirj looks good! :+1:

[2018-05-30 17:12] Darhazer commented on #376
#619 handles the part with the subject, so the only part missing is hooks before examples. For `before` it's clear; but should we force `after` to be also in the beginning, or maybe option for it's position to be after the examples would be preferable?

[2018-05-30 18:09] dgollahon commented on #376
I think the argument for placing `after` before examples is pretty good, especially since you generally will have multiple examples. That said, I'm sure some people will prefer `after` will be after the examples, but we could start without configuration and let people request the feature if they actually want it or just make before the examples the default.

[2018-05-31 07:58] bbatsov opened #620 "Invitation to join RuboCop HQ"
Hey there!

I've recently created https://github.com/rubocop-hq to serve as the new home of RuboCop and related projects. I'd love to see `rubocop-rspec` live under the same organization as RuboCop itself.

Let me know if you're interested in doing this and we'll hash out the details later.

[2018-06-01 20:55] backus commented on #620
I'm all for it but I haven't been contributing to the project for the last ~9 months so I'll give final say to @bquorning, @Darhazer, @dgollahon

[2018-06-01 21:29] bquorning commented on #620
I guess it would make a lot of sense to users of different RuboCop projects to have them collected under the same GitHub organization.

But how would it work in practice? Would they continue to run as independent projects? Would there be e.g. more “coordinated” releases to avoid e.g. a new release of RuboCop not working with the latest release of RuboCop-RSpec?

Who will be “owners” of the rubocop

[2018-06-02 02:01] bbatsov commented on #620
Yeah, they will, although I hope that eventually we'll get to a point of stronger collaboration:

* stable (and official) extension API (which should solve the breakages problem)
* common conventions about configuration and documentation employed by all RuboCop projects
* common website (I just bought RuboCop.org) where to put all the documentation for all RuboCop projects

For a very long time th

[2018-06-02 09:08] bquorning commented on #620
@Darhazer @dgollahon Do you have any reservations or other comments? Otherwise I’ll transfer our repository in a few days.

[2018-06-02 09:29] Darhazer commented on #620
I'm all in

[2018-06-03 23:57] dgollahon commented on #620
@bquorning @bbatsov No real reservations.

I do think I think most cop decisions will probably work best when running as largely independent projects, at least for the foreseeable future.

That said, I am excited about a lot of the ways we can collaborate more. In particular, I'm very eager for

and am definitely willing to help out with that.

As an aside, @Darhazer , @bquorning if the eventual e

[2018-06-04 00:00] bbatsov commented on #620
Indeed.

I see that @bquorning has already executed the transfer. Thanks for the support of the idea, guys!

[2018-06-04 10:17] #620 closed

[2018-06-06 09:44] #616 closed

[2018-06-06 18:55] dgollahon opened #623 "RSpec/DescribeClass crashes if `describe` has no arguments`"
Minimum reproducible example:

[code]

Trace:

undefined method `loc' for nil:NilClass
/Users/gollahon/.rvm/gems/ruby-2.5.1/gems/rubocop-0.57.0/lib/rubocop/cop/cop.rb:140:in `find_location'
/Users/gollahon/.rvm/gems/ruby-2.5.1/gems/rubocop-0.57.0/lib/rubocop/cop/cop.rb:122:in `add_offense'
/Users/gollahon/.rvm/gems/ruby-2.5.1/gems/rubocop-rspec-1.26.0/lib/rubocop/cop/rspec/describe_class.rb:52:in

[2018-06-06 19:12] dgollahon opened #624 "RSpec/OverwritingSetup crashes on non-symbol setup names"
I have some code that does something roughly along the lines of

[code]

I probably would't write the spec in that way today, but I'm sure I'm not the only person who's written setup using a dynamic name at some point in time.

Unfortunately, RSpec/OverwritingSetup now crashes in this case because it assumes a string/symbol will be present. We should update the node pattern or add a guard to make

[2018-06-06 19:17] dgollahon commented on #624
I wanted to check if an unrelated property held: "Do we detect overwritten setup if one is defined with a symbol and the other is defined with a string?" Even though this is unlikely to occur, it'd be valid and easy to check these so I tried:

[code]

Only to learn that we crash on this case as well.

undefined method `value' for s(:str, "foo"):RuboCop::AST::StrNode
/Users/gollahon/.rvm/gems/ruby-

[2018-06-06 19:27] dgollahon commented on #388
I think that #623 and #624 reinforce the need for this. We could hand-craft some common weird cases and then use them as a shared example for every cop as a strong starting point, but I also think it would be worthwhile to find a few popular repos that use `rspec`, get a git reference for a specific commit (so the build doesn't fluctuate suddenly) and just run `rubocop-rspec` over 5-10 projects an

[2018-06-06 19:49] bquorning commented on #388
What a great idea. I guess such a tool would be as useful for vanilla RuboCop as for RuboCop-RSpec.

[2018-06-06 20:00] dgollahon commented on #388
Yeah, absolutely. We could test-drive it here and maybe introduce it into rubocop proper once we iron out the kinks.

[2018-06-06 20:01] dgollahon commented on #388
I *might* have some time in the next couple of days to take a stab at it.

[2018-06-07 12:32] Darhazer commented on #624
`undefined method value' for s(:str, "foo"):RuboCop::AST::StrNode `

The interesting part is that str is a basic literal, but str_node doesn't include BasicLiteralNode.

[2018-06-10 19:36] andyw8 opened #630 "Removal of Rails cops"
Hi @bbatsov

I saw from your RubyKaigi talk that one of the goals for RuboCop 1.0 includes removing the Rails cops.

https://speakerdeck.com/bbatsov/all-about-rubocop-rubykaigi-2018?slide=160

Is there an intention to move these into a plugin, similar to rubocop-rspec?

I notice that the gem name "rubocop-rails" is unfortunately already taken, but for a different purpose (linting the Rails framewo

[2018-06-10 19:53] koic commented on #630
Hi @andyw8. Thank you for opening question.

I'm asking @toshimaru (He is gem name owner) whether he can transfer the gem name of rubocop-rails to the RuboCop team.
rubocop-hq/rubocop#5976 is the related issue.

Apart from the issue of gem name, development to extract RuboCop Rails from RuboCop Core will start from now.

[2018-06-11 07:12] bquorning commented on #630
The only Rails-specific cop in rubocop-rspec is `RuboCop::Cop::RSpec::Rails::HttpStatus`, but I don’t know if it makes sense to extract that into the rubocop-rails project. Or if we should have a rubocop-rspec-rails project for only one cop…

[2018-06-11 08:06] bquorning commented on #613
@mensfeld Can this issue be closed now?

[2018-06-12 13:06] mensfeld commented on #613
@bquorning yes. Works like a charm now. Thank you!

[2018-06-12 13:06] #613 closed

[2018-06-12 13:47] Darhazer opened #635 "Option to require the first-argument of describe presence"
Follow up on #626, there should be an option that registers an offense if the describe have no parameters

[2018-06-12 13:49] #623 closed

[2018-06-12 14:26] mensfeld opened #637 "Various cops crash when .rubocop.yml is missing"
Steps to reproduce:

[code]

Output:

[code]

It crashes when executed following way:

[code]

[2018-06-12 14:41] Darhazer commented on #637
Seems the same issue as in #613

[2018-06-12 14:44] mensfeld commented on #637
@Darhazer not really. I mean I don't have a rubocop config and all of it relies on the default once.

[2018-06-12 14:48] mensfeld commented on #637
@Darhazer as an update. With following config still fails (although less drastically):

[code]

[2018-06-12 17:20] bbatsov opened #638 "Create some RSpec Style Guide similar to the once we have for Ruby and Rails"
It'd be nice if we had some repo about the best RSpec practices rubocop-rspec is enforcing. Right now it's a bit unclear where are some of the rules originating from and why are those the recommended ones.

[2018-06-12 17:20] bbatsov commented on #630
Yeah, probably this one can stay here.

[2018-06-12 18:06] bquorning commented on #637
Ah, I think that is the forgotten issue from https://github.com/rubocop-hq/rubocop-rspec/issues/613#issuecomment-389777840

Thanks for opening a new issue.

[2018-06-12 18:10] mensfeld commented on #637
@bquorning as I said - when I have a small rubocop.yml with the config as followed:

[code]

it also fails. Just less drastically (but still). Probably due to a space between let and the name:

[code]

[2018-06-12 18:34] bquorning commented on #637
Again with reporting two bugs at the same time 😄

I’ll take a look at then both.

[2018-06-12 19:21] bquorning commented on #637
That issue is actually a duplicate of #624, which has a proposed fix in #625.

[2018-06-12 22:07] andyw8 commented on #630
Thanks for the information.

[2018-06-12 22:07] #630 closed

[2018-06-13 00:41] abrom opened #639 "Variable `let` assignment causes crash in `OverwritingSetup` cop"
Hi there,

The latest release of `rubocop-rspec` has highlighted an issue in a codebase I manage, but did so by causing a parser crash in the `OverwritingSetup` cop.

The use-case is having a variable as the argument in a `let` assignment. For example:

[code]
as a shorthand for
[code]

The problem is that the `OverwritingSetup` cop assumes that the parameter passed to the `let` call will always b

[2018-06-13 04:50] dgollahon commented on #639
Hi @abrom, I believe this is a duplicate of #624, so I'll close it. Correct me if I'm wrong or have missed any additional detail.

#625 is in progress and should resolve the issue in the next release.

[2018-06-13 04:50] #639 closed

[2018-06-13 04:53] abrom commented on #639
Thanks @dgollahon, yes you're right. Questions RE the solution still stand though. Like I said, i've got a solution that works (by 'ignoring' non symbol first attribute). But there should be questions about what we do in that case given it would clearly allow the cop to essentially be skipped

[2018-06-13 05:07] dgollahon commented on #639
If you're talking about trying to catch cases where dynamic definitions overlap:

That's not something `rubocop-rspec` can reliably detect because the value might not be known until runtime.

As a note, if you are worried about this, I believe `ruby` (or perhaps it was `rspec`?) will emit a warning for duplicates, but you have to have something that asserts your suite doesn't emit warnings. `rspec

[2018-06-13 05:38] dgollahon commented on #638
Personally, I'd be very reluctant to maintain a separate style guide.

I have a counter-proposal / question:

What if there was a Cop API for adding metadata to each cop that could be exported? I've been wanting to something like this for years for a different tool I work on. I know we already parse out documentation comments, but maybe there could be an additional mechanism that records more deta

[2018-06-13 06:52] mensfeld commented on #637
Sorry ;) I run rubocop-rspec couple thousand of times for multiple projects automatically, so you can always ping me with a prerelease and we can give it a spin ;)

[2018-06-13 09:58] #624 closed

[2018-06-14 08:13] Darhazer commented on #639
@abrom I also think this is an anti-pattern but it's a matter for another cop. I'd accept such a cop that checks for dynamic let declarations.

[2018-06-15 08:46] dgollahon opened #646 "The `inspect_source` and `autocorrect_source[_with_loop]` helpers are inactive by default."
This cost me a large amount of debugging time and frustration. See misc. discussion in #645. Fortunately we use these very rarely, but I think it would be better if they were active by default instead of no-ops.

[2018-06-15 09:00] dgollahon commented on #592
To be honest, I'm not sure. I remember trying to get this to work with vscode when I was trying it out about 6 months ago, but I never got it quite right.

I'd suggest you ask over at [vscode-ruby](https://github.com/rubyide/vscode-ruby) if you can't make headway.

We do have some various quirks about require order, etc. that can be problematic since there isn't (yet) an official rubocop extension

[2018-06-15 09:14] dgollahon commented on #637
@mensfeld Looks like all the other issues have been fixed as of `1.27.0` (thanks for the great reproduction script!) but the missing `.rubocop.yml` issue persists, so I've updated the title.

[2018-06-15 10:12] mensfeld commented on #637
@dgollahon any time. As I said, I run this stuff a lot for many codebases (hundreds) so always after upgrades I see many errors ;)

[2018-06-15 13:08] Darhazer opened #647 "Cop idea: ordered hooks"
A cop to enforce hook ordering:
before :suite
before :context
before :example
around :example
after  :example
after  :context
after  :suite

[2018-06-15 16:41] #607 closed

[2018-06-15 18:16] dgollahon commented on #637
Just curious, what causes you to run it for hundreds of codebases? Do you have that many projects that you oversee? Or is there some other supporting reason?

[2018-06-15 19:05] #388 closed

[2018-06-16 09:29] choosen commented on #592
Posted an issue: https://github.com/rubyide/vscode-ruby/issues/352

[2018-06-16 09:38] mensfeld opened #648 "RSpec/EmptyLineAfterExampleGroup invalid behavior"
When I have a conditional spec based on some external arguments EmptyLine linter requires a new line after the spec but this does not seem right. I use flags like this sometimes for extensive integration testing of some internal components that I want to run only on special occasions. For such cases, this linter shouldn't require a new line as it doesn't make sense.

[code]

Please use this code f

[2018-06-16 09:45] mensfeld commented on #637
@dgollahon I run self-hosted service for analyzing ruby repos: https://coditsu.io/
You can check it out here: https://app.coditsu.io/karafka/commit_builds and for example results from rubocop rspec: https://app.coditsu.io/karafka/builds/validations/6ea37309-98f8-4d46-ae31-0b537db06b6a/offenses

This allows me to bump single instance of rubocop-rspec (as well as other tools) and rerun many analysis

[2018-06-16 10:55] bquorning commented on #648
@Darhazer This bug seems to be in the `node.parent.children.last` code that I copied from `EmptyLineAfterSubject` to `EmptyLineAfterExampleGroup`. I reduced the reproduction code to this:

[code]

Here, the offensive node’s `parent` is the `IfNode`:

[code]

and `node.parent.children.last` is `nil`, so `node.equal?(node.parent.children.last)` evaluates to `false`.

What do you think? Should we jus

[2018-06-16 11:15] mensfeld commented on #648
I should get a badge like "bug hunter" or something :D

[2018-06-16 12:01] bquorning commented on #648
Definitely!

[2018-06-16 12:03] bquorning commented on #648
I think I’ll start mentioning you on the release PRs. Would you be ok with testing a github SHA, or would you need a rubygems pre-release gem?

[2018-06-16 13:04] mensfeld commented on #648
Pre releases would be more convinient but I think I can adapt and use shas :) - feel free to ping me anytime!

[2018-06-16 21:28] dgollahon commented on #637
@mensfeld neat 👍

[2018-06-16 22:55] dgollahon opened #649 "Add corpus tests"
See https://github.com/rubocop-hq/rubocop-rspec/issues/388#issuecomment-395185778

Beyond having one relatively complicated rspec file, if we also pull in popular OSS projects that use RSpec, we can catch even more bugs before they happen.

As mentioned in the original comment, it might also be cool to add a diffing feature that can highlight all new offenses in the corpus after a change. Helpful

[2018-06-17 08:44] bquorning commented on #604
It looks like we have a spec for the *opposite* case here: https://github.com/rubocop-hq/rubocop-rspec/blob/9c27c4e7eba527a02657f53246e32596bb6ce8e0/spec/rubocop/cop/rspec/described_class_spec.rb#L131-L142

[2018-06-18 19:59] dgollahon commented on #604
...wow, that's really strange.

[2018-06-18 20:14] bquorning commented on #604
I just tried that code out, and our spec is wrong. It was among the first specs added to that file, so perhaps that’s how RSpec worked 3 years ago?

[2018-06-18 20:21] dgollahon commented on #604
I doubt it, but maybe..? Seems more likely to be an oversight or misunderstanding, but perhaps.

[2018-06-19 07:56] bquorning commented on #604
It looks like the `scope_change?` method in `DescribedClass` doesn’t detect when the scope changes on the inner `describe` call. I’m not sure how to fix it though…

[2018-06-19 20:44] twalpole opened #650 "Capybara/FeatureMethods cop incorrectly specifies `feature` is just an alias of `describe`"
The `feature` method added by Capybara defines two pieces of metadata on the block - `type: features` and `capybara_feature: true` - it can't just be replaced  by `describe`

[2018-06-19 20:57] Drenmi opened #651 "Reduce false positives of ExampleLength when using #expect_offense et. al."
We currently have over 3,000 violations over in the core repo. Mostly because this cop doesn't care about our internal DSLs. 🙂

One approach to fixing this could be counting heredocs as a single line. WDYT?

[2018-06-20 12:30] geniou commented on #591
@jcoyne Did you know you can configure this in your own project - something like this (`.rubocop.yml` file):

[code]

[2018-06-20 14:53] jcoyne commented on #591
@geniou No. Thanks for your help.

[2018-06-20 14:53] #591 closed

[2018-06-21 07:09] bquorning commented on #651
“Our” as in “RuboCop’s’? If that’s the case, perhaps the cop should just be disabled on RuboCop?

Disclaimer: I prefer disabling all *-length cops on the projects I’m working on. Adding 1 line to a method/class/block and then getting a violation error feels counter-productive.`</rant>`

[2018-06-21 13:43] tjwp opened #655 "False positive from FactoryBot/DynamicAttributeDefinedStatically using a block outside DSL"
`FactoryBot/DynamicAttributeDefinedStatically` reports a false positive when a block is used in a factory outside of the `FactoryBot` DSL.

Here is a simplified example

[code]

Instead of `association` being recognized as part of the DSL an offense is flagged:

[code]

If auto-correct is used, then it modifies the "offending" line resulting in invalid code:

[code]

Versions:
rubocop-rspec 1.27.0

[2018-06-21 14:24] flyerhzm commented on #611
could we rename `Rails/HttpStatus` to `RSpec/Rails/HttpStatus`?

[2018-06-25 07:55] #648 closed

[2018-06-26 13:12] #635 closed

[2018-06-26 13:57] Darhazer commented on #655
The question here is should we allow usage of `lvar` as a static, or should we just add an exception for DSL methods like association? WDYT?

cc: @jonatas @abrom

[2018-06-26 14:20] Darhazer commented on #272
We already have a requirement for empty line after the final let; after the subject; after a hook and after an example group. This covers most of this. The only thing left that I can see is empty line after example, which I would like to see configurable regarding the single-line examples.

[2018-06-27 11:51] bquorning opened #661 "Suggest using .and_yield"
Today I noticed several instances of this pattern in a spec suite:
[code]
First I changed it to this:
[code]

Second, I wondered why we don’t have a cop checking these.

[2018-07-04 12:53] Ana06 opened #663 "allow + to receive vs stub"
A cop to enforce one of them would be nice. I think `allow` + `to_receive` is preferred.

[2018-07-15 09:51] alexandru-calinoiu opened #665 "SystemStackError: stack level too deep"
I constantly receive  this error on  a project with a relatively modest number of tests.

Happening in version 1.27.0 with ruby 1.5.1

Here is the full stack trace:

[code]

And here is the spec that is failing:

[code]

It only seems to happen in docker machine.

[2018-07-15 16:12] bquorning commented on #665
@Darhazer Do you have time to take a look at this one?

[2018-07-16 08:00] Darhazer commented on #665
I can't reproduce with the code snipped posted. @alexandru-calinoiu can you include the output of `rubocop -V` (in case it's specific `Parser` version that causes the issue)? Anything else specific to that docker machine?

[2018-07-16 08:06] Darhazer commented on #663
To use `stub` you have to allow the old syntax (configure mock syntax with `should`)
This false in the non-goals section for rubocop-rspec as RSpec can enforce using allow + receive on itsown

[2018-07-16 08:06] #663 closed

[2018-07-16 09:11] alexandru-calinoiu commented on #665
Here is the docker file I am using:

[code]

The output for `rubocop -V`

[code]

[2018-07-16 12:10] Darhazer commented on #665
Reproduced on the docker setup.
Interesting thing is that it crashes only when executed via bundle, e.g. `bundle exec rubocop --require rubocop-rspec`.
Direct invocation of `rubocop --require rubocop-rspec` does not crash.
Even more interesting is that executing 'gem install bundler` stops the crash, although the same version was already installed

[2018-07-16 13:18] Ana06 commented on #663
@Darhazer

what do you exactly mean with this? :confused:

[2018-07-16 13:41] Darhazer commented on #663
To use `stub` you have to enable the `should` syntax for rspec-mocks.
See the non-goals section in rubocop-rspec's readme

[2018-07-16 13:44] bquorning commented on #665
Do `bundle exec rubocop -V` and `rubocop -V` give the identical values?

[2018-07-16 13:46] Ana06 commented on #663
@Darhazer

See the non-goals section in rubocop-rspec's readme

ok, thanks!

[2018-07-16 18:49] dgollahon commented on #663
Maybe we should add a small note to the README noting that banning `should` also applies to `stub`.

[2018-07-20 15:44] mensfeld commented on #648
@Darhazer @bquorning any chance for a pre release? This issue is breaking my CI integration :D

[2018-07-24 10:55] Darhazer commented on #648
@dgollahon can you cut a new release? I don't have permission to put to Rubygems yet

[2018-07-27 15:49] romatr commented on #665
It might be related to this `alpine` dependent issue https://github.com/docker-library/ruby/issues/196

[2018-08-01 08:43] Ana06 opened #667 "Extend MethodCallParentheses for DSL methods"
Extend MethodCallParentheses for DSL methods which are rspec related. Extend the list added in https://github.com/rubocop-hq/rubocop/pull/1069, to include methods such as `assert`, `assert_equal`  and `assert_not_nil`. At the moment this have to be done in every project, having horrible long configuration files like https://github.com/openSUSE/open-build-service/pull/5509/files#diff-60d3df3c6f0836

[2018-08-11 15:44] #655 closed

[2018-08-15 07:44] bquorning opened #669 "Implicit subject?"
I recently saw code similar to this in a spec file:

[code]

That expectation – `is_expected.to be_truthy` – struck me as weird. I understand the readability of the one-liner version, e.g. `it { is_expected.to be_truthy }`, but when there is more than one line in the block, that expectation syntax is strange.

Would it be possible to check for – and disallow – this syntax?

[2018-08-15 08:48] Darhazer commented on #669
Yes, that would be a good cop. I can take on it in the next couple of weeks

[2018-08-17 05:02] Drenmi commented on #669
I agree that this makes it weird for multiline blocks, but I think `it` with additional descriptor also could disqualify the implicit version:

[code]

WDYT?

[2018-08-17 05:11] Drenmi commented on #638
I believe many of the cops are at least inspired by [Better Specs](http://www.betterspecs.org/).

[2018-08-17 06:04] bbatsov commented on #638
Well, we actually have a style guide now - https://github.com/rubocop-hq/rspec-style-guide/ (thanks to @pirj). We should link to it from the RSpec cops and keep refining/evolving it.

[2018-08-17 07:51] bquorning commented on #669
Good point, @Drenmi.

On a maybe-related note, I could see myself wanting to completely disable the `it { some_expectation }` syntax. Do we currently have a cop that would do this, or does RSpec have a configuration for it?

[2018-08-17 09:04] Darhazer commented on #669
`ExampleWithoutDescription` configured with `EnforcedStyle: disallow` will complain about `it` not having a description

[2018-08-21 14:01] flyerhzm opened #672 "FactoryBot::AttributeDefinedStatically improvement"
I agree that we should declare attribute values as blocks if attribute values are method calls

[code]

but I don't think it's necessary if attribute values are static, like

[code]

If you think it's correct, I'll send a PR.

[2018-08-22 12:43] bquorning commented on #672
We used to have a `FactoryBot/StaticAttributeDefinedDynamically` cop that checked this exact thing. But it was removed in rubocop-rspec v1.28.0 when `FactoryBot/AttributeDefinedStatically` was added – see #666 – as a consequence of FactoryBot deprecating static attributes.

[2018-08-22 12:43] #672 closed

[2018-08-24 03:50] mockdeep opened #674 "FactoryBot rules don't seem to work"
On version `1.28.0`. I've got the following factory, but for some reason the `FactoryBot/AttributeDefinedStatically` rule isn't reporting any issues, though `FactoryBot` itself raises an error.

[code]

[code]

[2018-08-24 08:20] bquorning commented on #674
Which error is raised by FactoryBot?

[2018-08-24 20:03] #669 closed

[2018-08-24 20:28] #376 closed

[2018-08-25 18:45] mockdeep commented on #674
nm, turns out I'm running into [this](https://github.com/rubocop-hq/rubocop/issues/6021). RuboCop changed behavior to overwrite the `AllCops: Include`.

[2018-08-25 18:45] #674 closed

[2018-08-27 22:20] ragesoss opened #676 "Some deprecated FactoryBot static attributes are not detected or auto-corrected"
If a model has an attribute that is a Ruby keyword, you need to use `self.attribute` to set the value in a factory. For example:

[code]

Only the `start` attribute is detected as a rubocop violation and fixed.

After running rubocop-rspec (per the FactoryBot deprecation warning), it looks like this, with the second deprecated instance still there:

[code]

[2018-08-28 20:35] bquorning commented on #676
Thank you for reporting, @ragesoss – it looks like a fix is in progress already, at #677.

[2018-08-28 20:52] #676 closed

[2018-09-03 14:36] Ana06 opened #680 "considering `::` for methods describe"
only `#` and `.` can are considered methods inside a describe here: https://github.com/rubocop-hq/rubocop-rspec/blob/master/lib/rubocop/cop/rspec/describe_method.rb#L26

But according to [BetterSpecs](http://www.betterspecs.org/) `::` can also be used... :thinking:

Also, why is `.` used? Ruby always uses `::` in its documentation. Maybe there should be cop to enforce this... :thinking:

[2018-09-04 07:28] bquorning commented on #680
I have always used `.` (e.g. `Foo.bar`) to describe class methods and `#` (e.g. `Foo#bar`) to describe instance methods. But I don’t know if I can find documentation for claiming it is a “standard” :-)

[2018-09-04 07:45] Ana06 commented on #680
It seems `.` is more widely used and it would be nice to have a convention. Maybe it is enough with documented it in this cop and in [BetterSpecs](https://github.com/lelylan/betterspecs), then it will become standard :rofl:

[2018-09-04 08:28] bquorning commented on #680
Just in https://github.com/rubocop-hq/ruby-style-guide I see something over 20 examples of using `#` between class name and instance method name (search for `Object#to_s`, `String#+`, `Hash#key?`) while `::` is only used in code examples. So my recommendation still stands, use `.` for class methods and `#` for instance methods.

[2018-09-04 09:41] Ana06 commented on #680
@bquorning

Is `#` used for class methods? :confused:

I think it is find to encourage the use of `.`, as long as it is documented to avoid future confusions/discussions. :wink:

[2018-09-10 19:18] obfuscoder opened #682 "RSpec/ImplicitSubject does not allow is_expected on a separate single line"
I usually write single line tests like so:

[code]
Sometimes the expression might get too long to fit within the given line length limit. In that case I have to use do/end:

[code]
Doing this, however, is not acceptable by RSpec/ImplicitSubject. I am required to name the subject explicitly:

[code]

That is annoying enough, but it is impossible when combining this with rpsec-its:

[code]

I would

[2018-09-14 11:56] jsdalton commented on #682
I came here to post the same issue and found the same comment.

The recent addition of implicit cop was inspired by issue #669, where someone was using `is_expected` in the middle fo multiple _logical_ lines of code, which I think most of us would agree is improper use of the one liner syntax.

However, the examples provided here by @obfuscoder (🙏 ) are exactly the same problem we are running into

[2018-09-18 11:17] dimitrovv opened #686 "f2018091801 - Use regex for prefixes in ContextWording rules"
I'd like to request a change to the [RSpec/ContextWording](https://www.rubydoc.info/gems/rubocop-rspec/RuboCop/Cop/RSpec/ContextWording). It would be good to have a **regex** comparison for the **ContextWording** instead of checking whether the context's description starts with a word.

We often use contexts describing instance & class methods like this:

[code]

The current solution does not allo

[2018-09-18 11:34] dimitrovv commented on #686
I guess, `.` and `#` would be enough, but it would work with the current solution because it expects to be the first word: ex:
* `# perform` -> valid
* `#perform` -> invalid

However, we need to configure it so the `#perform` is a valid context description. I can PR this using regex, but don't think it will work with the [current implementation](https://github.com/rubocop-hq/rubocop-rspec/blob/mas

[2018-09-18 11:35] dimitrovv commented on #686
The same has already been suggested in [#417 (comment)](https://github.com/rubocop-hq/rubocop-rspec/issues/417#issuecomment-342953107), so I can PR it to #417 and close this one

[2018-09-18 11:38] bquorning commented on #686
Also related: #601

[2018-09-18 11:39] Darhazer commented on #686
@dimitrovv #417 actually suggest the opposite - to flag `context '#perform' do` and suggest using `describe '#perform'` instead.

[2018-09-18 11:41] bquorning commented on #686
I also noticed the keyword “describing“ in this sentence:

I would recommend using `describe` for describing methods.

[2018-09-18 11:48] dimitrovv commented on #686
OK, this should work but it 's strange. We have `describe` at the top of the described class and below we will have `describe` again for instance/class method. I don't think using `describe` in the middle of the spec is good, should be only at the top or I am wrong.

[2018-09-18 11:53] bquorning commented on #686
Using `describe` in the middle of the spec is perfectly fine. https://relishapp.com/rspec/rspec-core/v/3-8/docs/example-groups/basic-structure-describe-it says

[2018-09-18 14:42] anthony-robin opened #687 "Autocorrect skipped for FactoryBot/AttributeDefinedStatically in some cases"
When an attribute is passed in the `do/end` block and used to define the value, autocorrection of the `FactoryBot/AttributeDefinedStatically` cop does not work.

Given this factory,

[code]

it doesn't take into consideration the `first_name` attribute because of the `f.` before:
[code]

Useful informations:
- Rubocop: `0.59.1 (using Parser 2.5.1.2, running on ruby 2.3.3 x86_64-darwin17)`
- Ruboco

[2018-09-18 18:57] dimitrovv commented on #686
OK I see @bquorning @Darhazer but we strictly use `describe` only once at the beginning. I'd like to PR this and add a regex possibility for the prefixes of the context description. Is it OK?

[2018-09-19 07:34] bquorning commented on #687
In the case
[code]
which method is called on the `User` instance? `#first_name` or `#first_name=`?

[2018-09-19 07:36] bquorning commented on #686
Sorry, but I am 👎 on this suggestion. I would recommend using `describe` instead of `context` for describing methods.

Another option is to write a custom cop (a subclass of `RSpec/ContextWording`) that you include in your project for enforcing your preferred style.

[2018-09-19 07:36] #686 closed

[2018-09-19 08:42] anthony-robin commented on #687
The method call on the `User` instance is `#first_name=`.

[2018-09-19 15:35] Ana06 commented on #333
It also happen with `permissions`. For example:

[code]

Just seen it in Rubocop 0.58.2

[2018-09-19 19:08] bquorning commented on #333
`permissions` is from the Pundit gem’s RSpec DSL: https://www.rubydoc.info/gems/pundit/Pundit%2FRSpec%2FDSL:permissions

As @backus mentioned above, we’d have to make a configurable list of DSL aliases, and stick to using that list of aliases throughout our cops.

[2018-09-21 18:56] tom-lord commented on #682
Just encountered exactly this issue too.

I was particularly surprised to discover that `its(:foo) { is_expected.to bar }` behaves differently to `its(:foo) { expect(subject).to bar }`, which made me wonder whether this is actually a bug in `rspec-its`.

But here's the explanation as to why `rspec-its` *doesn't* redefine the `subject` within the block, as you might expect: https://github.com/rspec

[2018-09-21 19:12] Darhazer commented on #682
Thank you for your reports.
We will fix the `ImplicitSubject` cop in the next few days

[2018-09-25 14:48] alexandru-calinoiu commented on #665
It looks like it, I get the same error sometimes when I try to run rspec or cucumber.

[2018-09-25 20:43] #682 closed

[2018-10-03 08:56] nijikon opened #693 "Prefer be_nil over be nil"
I would like to introduce a check like this.
[code]
My question is where should it be implemented. Should I add it in the [Predicate Matcher](https://github.com/rubocop-hq/rubocop-rspec/blob/master/lib/rubocop/cop/rspec/predicate_matcher.rb)?

[2018-10-03 08:59] nijikon commented on #693
/cc @bquorning @pocke

[2018-10-03 09:00] bquorning commented on #693
cc/ @Darhazer

[2018-10-03 09:03] bquorning commented on #693
I think this is a duplicate of #176 and/or #244 – do you agree?

[2018-10-03 12:33] nijikon commented on #693
I would say yes, I’m open to doing work on fixing those two as well. Just need your guidance where that work should be done. We could also solve the other issue that I saw which is some dead code in predicates matcher.

[2018-10-03 15:40] nijikon commented on #693
Refs https://github.com/rubocop-hq/rubocop-rspec/issues/578

[2018-10-04 20:03] javian opened #696 "Recursively added requirement for rubocop-rspec fails rspec checks"
When making some modifications to one of the Homebrew package manager repositories I stumbled upon something that I can't explain. The repo can be found here https://github.com/Homebrew/brew .

The project generally runs Rubocop in the `Homebrew/Library/Homebrew` directory which recursively contains 2 rubocop configuration files where the one in the test directory contains `require: rubocop-rspec`

[2018-10-05 17:11] ixti opened #697 "Pointless AggregateFailuresByDefault config option of RSpec/MultipleExpectations"
Having configuration like:

[code]

Effectively disables this cop, thus option itself seems to me quiet confusing. ~This option would make sense only if there will be `MaxAggregate` count as well IMO.~

[2018-10-05 17:22] ixti opened #698 "Limit amount of llowed aggregated expectations"
Is there any interest in having `MaxAggregated` (or `AggregatedMax`) options for `MultipleExpectations` cop?

[2018-10-05 17:52] bquorning commented on #698
There is already a `Max` config option for `MultipleExpectations`. Does that cover your use case?

[2018-10-05 18:27] bquorning commented on #697
I tend to agree. When configured with `AggregateFailuresByDefault: true`, the only thing this cop does is warn if you have an example defined with `aggregate_failures: false` metadata, and *still* have multiple expectations in the example. I don’t know if that edge case functionality really warrants a separate configuration option.

/cc @onk @Darhazer re. #511 and #451.

[2018-10-05 18:40] ixti commented on #698
The idea I had was something like this, consider config like this:

[code]

Thus following should pass:

[code]

But following to fail:

[code]

In other words I want to enforce Max expectations per example (naturally, I want aggregate_failures to be counted as single expectation, just like it is now). And in addition I want to limit amount of expectations in `aggregate_failures` blocks.

Not sure

[2018-10-05 18:43] bquorning commented on #696
This does indeed sound interesting. I would like to help investigate if this is a bug on our side.

I have made a shallow clone (`git clone --depth 1`) of the homebrew repository, but I cannot immediately figure out how you execute RuboCop. I see it is present in [the Gemfile in Library/Homebrew/test](https://github.com/Homebrew/brew/blob/master/Library/Homebrew/test/Gemfile#L10-L11), but I assume

[2018-10-05 19:15] javian commented on #696
Homebrew itself uses two commands to run tests using rubocop `brew style` https://github.com/Homebrew/brew/blob/master/Library/Homebrew/style.rb and `brew tests` which uses amongst other things such as the gemfile you mentioned and has its own ruby version with a gem repository. `brew style` in its current form is not affected since it uses `--config` to load a single config which I'm about to cha

[2018-10-05 19:46] bquorning commented on #696
I get an error about some missing “backports” file when running RuboCop:
[code]

[2018-10-05 20:01] bquorning opened #699 "Extend metadata for RSpec cops?"
@Darhazer  Does RuboCop-RSpec need to add the same kind of metadata that was added to RuboCop in https://github.com/rubocop-hq/rubocop/pull/6293 in order to work properly after RuboCop’s next release?

[2018-10-05 20:10] javian commented on #696
`gem install backports` should take care of that

[2018-10-05 20:11] bquorning commented on #698
I don’t think I understand *why* you want to enforce max N expectations per `aggregate_failures` block.

[2018-10-05 20:41] bquorning commented on #696
This indeed is a strange problem. I would recommend against using `require` in folder specific RuboCop configuration files. Would that be an ok workaround – to move `require: rubocop-rspec` into the topmost .rubocop.yml file?

[2018-10-05 20:48] bquorning commented on #696
You might also want to tweak the configuration for AllCops/RSpec/Patterns (https://github.com/rubocop-hq/rubocop-rspec/blob/master/config/default.yml#L2-L6) to only find `_spec.rb` files in your `test` folder.

[2018-10-05 21:14] ixti commented on #698
I don't know how to answer this question. By the same reason why I want to enforce max N expectations per example group... o_O

Anyway, I think this answers my initial question if there's any interest in that. For my case I guess I'll just enable aggregate_filures globally and bump Max limit of this cop to 5. :D

[2018-10-05 21:14] #698 closed

[2018-10-05 21:17] javian commented on #696
I guess that would be the only way to move forward. I would also assume that adding the pattern would also solve the issue since the error only only triggers on files outside of the `test/`directory.

[2018-10-05 21:28] javian commented on #696
It seems to work just fine. I didn't quite get why you recommend against using `require` in a folder specific config file though - can you elaborate on that a bit ?

[2018-10-05 21:32] javian commented on #696
Hmm, I probably need to push it up even one more level in the directory tree since the root config is in the `Library` directory.

[2018-10-05 21:42] ixti commented on #698
In fact ended up simply disabling this cop :D

[2018-10-05 22:12] bquorning commented on #696
Only to avoid confusion. Using the `require` in a folder specific file may lead one to believe that it only applies to the files in that folder – while in fact the required library applies to all files in the project.

[2018-10-07 05:48] nijikon commented on #693
Ping

[2018-10-07 20:56] Darhazer commented on #699
Generally - yes, this way we would be able to use the new options in Rubocop. I'll take care of this

[2018-10-07 21:04] Darhazer commented on #697
At the time I thought that the option is cool as you can workaround #451 by setting it to true in a given subfolder. On the other hand, you can disable the cop for a given folder, so it doesn't matter.

Setting `aggregate_failures: false` is valid RSpec usage and I don't see any problem in supporting it, given the fact that we already have this option. I don't see a value in the option either, as

[2018-10-09 08:12] TomBosmans opened #702 "CreateList with index"
[code]
[code]
[code]

Based on the [docs](https://www.rubydoc.info/gems/rubocop-rspec/RuboCop/Cop/RSpec/FactoryBot/CreateList) this should not be failing:
[code]

Versions:
  - rubocop (0.59.2)
  - rubocop-rspec (1.29.1)

[2018-10-10 11:13] luizkowalski opened #703 "false positive on factory"
I have the following factory:

[code]

and I'm getting a false positive (I think) when linting

[code]

I'm running Rubocop 0.56.0 with rubocop-rspec 1.27.0

[2018-10-10 11:13] luizkowalski opened #1647 "false positive on factory"

[2018-10-11 16:16] bquorning commented on #702
@Darhazer Can you have a look? It seems the docs and the specs contradict each other.

[2018-10-11 16:34] Darhazer commented on #702
Originally the cop wasn't flagging `times` block when an argument is used. But it turned out that `create_list` also yields a block that can be used to set properties of different instances differently.

Still, when you want to use the iteration number, it's not as convenient, so I'm not sure whether we have to fix documentation or the cop. I would like to ask @composerinteralia for his opinion.

[2018-10-11 21:01] bquorning commented on #703
Thank you for the bug report @luizkowalski.

If you use factories to generate an object with an attribute named identically to certains RSpec DSL methods (`describe`, `context`, `feature`, `example_group`, etc.) you will get these false positives. Testing your example, I am seeing false positives for `RSpec/EmptyExampleGroup`, `RSpec/EmptyLineAfterExampleGroup` and `RSpec/MissingExampleGroupArgume

[2018-10-11 21:04] bquorning commented on #703
@backus Do you recall why `"(?:^|/)spec/"` was added as a file pattern in 65c594088597279a674a3e35d1c5cb18b297f181?

[2018-10-12 02:54] composerinteralia commented on #702
`3.times { |n| create :user, created_at: n.months.ago }` seems like it should be allowed, since there is not a great way to do quite the same thing with `create_list`. I think I agree with the documentation on this one.

[2018-10-12 08:04] Darhazer commented on #702
I'll update the cop over the weekend

[2018-10-12 17:38] ixti opened #704 "Allow SubjectStub pass if `and_call_original` is called"
Probably quiet pointless, but I saw some specs with something like:

[code]

I'm not saying this is a good spec. Actually I find it quiet stupid and pointless. But don't want to refactor that spec right away. And regardless of how stupid such spec is, the above is not actual stub but expectation.

[2018-10-12 17:43] #704 closed

[2018-10-12 18:08] ixti opened #705 "Inconsistent behavior of SubjectStub"
[code]

It should either fail on `not_to` and `to_no`; or it should pass when matcher has `and_call_original` or `and_wrap_original` modifiers.

[2018-10-12 22:44] ixti opened #706 "RSpec/NamedSubject should be ignored in shared examples/contexts"
I think NamedSubject should ignore shard examples

[2018-10-12 22:50] Darhazer commented on #706
Duplicate of #453

[2018-10-12 22:50] #706 closed

[2018-10-12 22:58] ixti commented on #706
@Darhazer oh, indeed. Sorry. Forgot to search first.

[2018-10-19 19:31] #702 closed

[2018-10-23 14:13] ybiquitous commented on #378
This is a very nice suggestion and must be useful for so many developers!

I found a similar warning on the ["Capybara cheatsheet"](https://devhints.io/capybara):

![image](https://user-images.githubusercontent.com/473530/47366698-32215680-d719-11e8-9858-c431c5d807f0.png)

[2018-10-23 14:17] ybiquitous commented on #378
A similar warning on the Codeship blog:

https://blog.codeship.com/faster-rails-tests/

[2018-11-01 11:39] tom-lord commented on #604
Just ran into this, too.

As with [the pending `FactoryBot/CreateList`](https://github.com/rubocop-hq/rubocop-rspec/commit/59dec67cc45e8a921c9b639b8c9ee3d9fd6c550f), this bug is particularly surprising in conjunction with `rubocop --safe-auto-correct`.

[2018-11-01 12:12] tom-lord opened #712 "False positive for RSpec/ReceiveCounts auto-correction"
Whilst running `rubocop --safe-auto-correct` on a large code base, I encountered the following error:

[code]

The issue is that `have_published_event` is a custom class, which did not define a `#twice` method.

I have now gone ahead and defined this method. But the important point I wish to raise is that this autocorrection should be flagged as "unsafe" (and therefore not be run by `--safe-auto-c

[2018-11-01 15:39] Darhazer commented on #712
@bquorning our cops are meant to be safe, the `--safe` and `--safe-auto-correct` flags are for cops that have false positives by design (like suggesting replacing > 0 with positive?). But if some cop cannot be made safe (limit of static analysis) it just needs to be marked as `Safe: false` in the config (or `SafeAutocorrect: false` in case it's the autocorrect that do not produce equivalent code)

[2018-11-01 16:00] tom-lord commented on #712
Hmm interesting, I didn't consider limiting the scope of this cop to only act within `rspec`'s API.

However, I wonder whether this should still be considered a "style guide non-compliance", even if it's not auto-correctable.

[2018-11-02 10:38] pirj commented on #247
I'm looking at the example docstrings John provided, from the longest, and they fall into several categories:
1. Longest, verbose
[code]
I personally can't figure out why it belongs to the docstring in the first place, as it doesn't add much over the expectation in the example itself, which presumably is:
[code]

And don't think this rule is applicable to generated docstrings e.g.
[code]

2. The o

[2018-11-05 09:18] #453 closed

[2018-11-08 14:59] obfuscoder opened #715 "RSpec/InstanceVariable for @request/@routes"
In Rails Controller specs I sometimes want to change parameters of the request (e.g. host, env) or adding specific routes. This is done by accessing @request or @routes. This rule complains about this usage. How can I circumvent this?

[2018-11-08 18:50] RobinDaugherty commented on #94
Another reason I think this is a bad cop: If you create records and perform other setup in a `before` block, there's no description of the record. With a `let!` you can be desriptive:

[code]

In a `before` block, that isn't easy. It could be placed in a comment, but there's no standard for it and no cop that would be able to enforce it.

[2018-11-08 21:51] bquorning commented on #715
I believe you can modify the request object just by e.g. `request.host`, `request.env` and not use `@request` (see https://github.com/rails/rails/blob/v5.1.2/actionpack/lib/action_controller/test_case.rb#L332)

The rspec-rails documentation has examples of how to define routes without using `@routes`, e.g. https://relishapp.com/rspec/rspec-rails/docs/controller-specs/anonymous-controller#draw-cust

[2018-11-12 15:51] bquorning commented on #661
Today I noticed this pattern again, and was about to open an issue here. Again 😄

[2018-11-13 19:42] chulkilee commented on #94
@dpisarewski I think `let!`
Overriding `let!` with `nil` value is a hack to avoid creating that. Also note that if you have more nested context or shared examples, included context then needs to check whether the referenced variable is nil or not, which indicates bad context structure.

If you need to "undo" `let!`, probably it would be better to rewrite with different context.

[code]

@RobinDaug

[2018-11-15 18:39] RobinDaugherty commented on #94
What _benefit_ is there to placing these in a `before` block instead of a `let!`?

The alternative of using a `before` blocks creates values that are _also_ not referenced in the tests, and are in addition not lintable since they are either not assigned to a variable, or are assigned to an underscore-prefixed variable and are therefore ignored by the linter. This smells like a **bad default rule**

[2018-11-16 20:50] dgollahon commented on #94
If you need to refer to a value across example groups, a `let` is great. Otherwise, why do you need a memoized helper method? I think the logic is almost the same as checking for an unused variable.

Imagine you had this code:
[code]

RuboCop (and ruby, actually) would flag current_user as an unused variable. Why is the lvar created if it's not going to be used? Remove the assignment and add a com

[2018-11-25 21:06] RobinDaugherty commented on #94
Look, even [the style guide](https://github.com/rubocop-hq/rspec-style-guide#let-and-let!) disagrees with this rule.

I recommend you adopt better practices for deciding on changes to default rules, and these should probably include following the project's style guide and deliberating on a new rule before adopting it in the default ruleset.

[2018-11-26 05:46] dgollahon commented on #94
I agree this should be made consistent. I think this advice should be removed from the style guide.

As an aside, I don't care for having a style guide just for the difficulty of keeping things like these in sync. Personally I think we should just generate something directly from the config, but that's another problem for another day.

I think the thought, going forward, for rubocop (and I assume

[2018-11-26 08:41] dpisarewski commented on #94
@mikegee

In the opposite, this pattern is about separation of Setup, Action and Assertion phases, not about putting everything together. The code on the page is just a trivial example without using any testing frameworks. Every testing framework defines a DSL/API to separate those, eg. `SetUp()/TearDown()` in JUnit, `before/after` in RSpec.
Can you please explain why sharing a setup is a code sme

[2018-11-26 09:43] dpisarewski commented on #94
@dgollahon In Soviet Russia specifications refer to implementations. 😀
Well, I don't think any style guide should/could be autogenerated from a linter config. People use to agree on the document(style guide), not on linter code/config. There can be many linters with different preferences or configs, and ideally linters precisely follow the style guide. Furthermore, some rules may be unlintable at

[2018-11-26 10:30] bquorning commented on #94
Just for your information, this cop was added [two years ago](https://github.com/rubocop-hq/rubocop-rspec/commit/b85c9ad2a620f0376de3cd275b3d37032b198f8e), while the `let!` recommendation was added (copied directly from betterspecs) [three weeks ago](https://github.com/rubocop-hq/rspec-style-guide/commit/35ed5e01b53180ca6a8fb5e0219e7676454785a2).

There was a bit of discussion in the style guide P

[2018-11-26 18:19] chulkilee commented on #94
@dpisarewski

Don't get me wrong - I'm not against of overriding values with `let` or `let!` in nested context.

What I'm calling "a hack" is returning `nil` in `let!` only as a workaround to avoid instantiaing the value given by the original `let!`. It can be avoided by using separate context when `let!` value *is* needed - instead of placing the `let!` unnecessarily at the parent context.

Here

[2018-12-05 16:19] mkenyon opened #716 "Prefer the built-in exist matcher"
I've inherited a codebase that is full of `expect(foo.exists?).to be_truthy`. The RSpec/PredicateMatcher already checks for most built-ins, but doesn't know about [the `exist` matcher](https://relishapp.com/rspec/rspec-expectations/v/3-8/docs/built-in-matchers/exist-matcher). As a result, it suggests I replace my code with `expect(foo).to be_exists`.

I have failing tests in _predicate_matcher_spe

[2018-12-10 11:09] Epigene commented on #299
I'm still getting this on `v0.61.1`. When running `rubocop --only "RSpec/FilePath"` rubocop runs as if I'd specified `rubocop --only "Rails/FilePath"`.

My config is this:

[code]

Interestingly, when i simply run `rubocop`, the check is correct.

[2018-12-11 10:18] #715 closed

[2018-12-14 02:05] ur5us commented on #705
Somewhat related: with the current implementation/error message it’s not clear to me why that would be a bad thing to begin with. When I stub a method on the subject it’s exactly what I want because I don’t care about testing `#my_method` itself, only that it gets called, e.g. composing a result.

[2018-12-14 08:50] bquorning commented on #705
The problem of stubbing the object under test is described in “Smell 1: Stubject” of https://samphippen.com/introducing-rspec-smells/, and in this Thoughtbot blog post: https://robots.thoughtbot.com/don-t-stub-the-system-under-test

But yes, the cop‘s message is very vague.

[2018-12-19 14:27] Gusarov2k opened #718 "errors after adding the gem rubocop-rspec"
Hello! Help Wanted ? After adding the **gem rubocop-rspec** and running rspec, an error appears. I was looking for the answer in google but the proposed solutions did not help me.
Thanks for your help!

$ bundle exec rspec spec/models

[code]
**Gemfile:**
[code]
**rails_helper.rb**
[code]
**spec/models/card_spec.rb**
[code]

Ruby version: 2.2.10
Rails version: 4.2.10
Rspec version: 3.8.0

[2018-12-19 14:33] pocke commented on #718
Can you try changing `  gem 'rubocop-rspec'` line to the following in the Gemfile?

[code]

Probably it will solve your problem, but I'm not sure why this error occurred.

[2018-12-19 16:21] Gusarov2k commented on #718
Thank You! it's works for my app )

[2018-12-19 16:21] #718 closed, assigned to nobody

[2018-12-19 20:34] bquorning commented on #718
I suspect it’s because the Gemfile lists `gem 'rubocop', require: false` so perhaps not all dependencies are properly loaded. But yeah, either remove `require: false` from the rubocop dependency, or add `require: false` to the rubocop-rspec dependency as a workaround :-)

[2018-12-22 11:55] Bombasarkadian opened #719 "False positive RSpec/SingleArgumentMessageChain"
When run agains the following code:
[code]
Rubocop suggests changing `receive_message_chain` into `receive`. Running `rubocop -a` makes the change and breaks existing code. The same behaviour can also be seen with `methods` set to `'some.method'`

The cop works alright when passing array or string with many methods to `receive_message_chain`. The following code will not cause `RSpec/SingleArgument

[2018-12-27 16:50] #719 closed

[2019-01-02 13:17] olliebennett commented on #612
I came looking for this too; thanks for the (much better) solution of configuring it via the `.rspec` file.

On the back of this, I had some thoughts;

- I wonder if it's equally useful to have a cop to identify redundant `require` statements in cops (when the `.rspec` file already requires the file globally). Perhaps there is a valid use case to have the same `require` defined in the file itself

[2019-01-08 16:48] #661 closed

[2019-01-17 00:54] ctsstc commented on #718
I've figured out why I'm getting this error.
We too have the `rubocop-rspec` in our gem file.

I am using `rvm` and the project is currently running `ruby-2.5.1`

It seems that rubocop is throwing the error under `ruby-2.4.1`
I think this is because `ruby-2.4.1` is my system default.

The rubocop should be using the current environment's ruby version rather than the system default.

Ideally when I

[2019-01-17 01:03] ctsstc commented on #718
Whoops sorry, I thought I was in a different project right now (VSCode Rubocop Extension) Please Disregard (runs to the correct tab...)

[2019-01-23 06:12] dgollahon opened #727 "Add cop which suggests using be_an_instance_of"
I recently wrote something like this in a spec:

[code]

and then it occurred to me that I could use

[code]

If it makes sense to others, I'd be happy to create a BeAnInstanceOf cop to enforce this.

I'm not sure if it fits in this cop idea or should be split into another one, but i also think it would be nice to have something that enforces a preferred alias for `be_an_instance_of` v.s. `be_inst

[2019-01-24 05:44] kyohsuke opened #728 "RSpec/Focus not working when I use RSpec.describe"
RSpec/Focus not working against `RSpec.describe`
Is it correct?

[code]

`rubocop-0.62.0`
`rubocop-rspec-1.31.0`

[2019-01-26 22:02] #728 closed

[2019-01-28 15:06] rpbaptist opened #734 "RSpec/EmtpyLineAfterSubject triggers on Rubocop comment"
[code]

I am disabling `Metrics/LineLength` because of https://github.com/rubocop-hq/rubocop/issues/5916

But then I get an alert on enabling a cop again.

Versions:

- rubocop (0.59.2)
- rubocop-rspec (1.25.1)

[2019-01-28 15:20] bquorning commented on #734
What is the error message, and which lines follow your code snippet?

[2019-01-28 16:54] rpbaptist commented on #734
[code]

[2019-01-28 18:54] dgollahon commented on #734
Related issue: #603. I _think_ I fixed this in #642.

@rpbaptist Can you please try this on the latest version of `rubocop-rspec` and let me know if you still have this problem?

[2019-01-31 11:43] bquorning opened #735 "`describe`/`context` inside module"
Today I discovered code like this in a spec file:

[code]

which I found a bit strange. I would rewrite that as

[code]

Is this a common enough problem that we need a cop it?

[2019-02-05 06:12] pirj commented on #735
Haven't' seen this so far.

[2019-02-09 12:06] bquorning opened #739 "Reduce duplication between LetBeforeExamples and HooksBeforeExamples"
These two cops are almost identical. Would it make sense to extract some shared code from them?

@Darhazer @dgollahon

[2019-02-09 17:00] Darhazer commented on #739
Finding the first example, checking if the node is the before given node[1] and node range with respect to possible heredoc[2], as well as a method to move given node before another one[3] definitely could be useful across different cops.

I'll try to extract something :+1:

*[1][2][3] those could be useful in rubocop itself*

[2019-02-12 10:02] aeroastro opened #740 "Proposal: Avoid repetitive definitions of `CustomTransform` in `RSpec/FilePath`"
## Summary

I would like to achieve the following 2 things for `RSpec/FilePath`.
I am willing to implement the solution when we reach an agreement on this issue.

### Avoid repetitive `CustomTransform` definitions for single inflection.

When using `ActiveSupport::Inflector`, we have to write only 1 definition for 1 word with special inflection. On the other hand, when using `rubocop-rspec`, we ha

[2019-02-12 21:00] dgollahon commented on #740
Hi @aeroastro, thanks for the issue. I recently ran across a similar problem in one of my repos as well.

I think this is worth considering, but we should definitely not have a hard dependency on `ActiveSupport::Inflector`. I'm also not particularly wild about the idea of vendoring the AS code (unless it turns out to be much smaller/simpler than I'm picturing), but one thing we could consider is t

[2019-02-13 15:47] badosu commented on #378
Just for reference I tested a big codebase refactor from one form to another and did not see big difference improvements.

It seems that for rspec the matcher is smart enough to understand `not_to have_selector`, as the [README](https://github.com/hired/hired/pull/16869) says (although not emphatic enough for me).

So as far as it goes my opinion is that, apart from stylistic preferences, this cop

[2019-02-21 10:35] microweb10 opened #742 "Error occurred while RSpec/OverwritingSetup cop was inspecting"
Hi 😄

I don't know if you are aware of this, I'm posting it just in case you don't.

If you have a `let` declaration in a spec containing an extra space like this:
[code]

Your tests will pass, but rubocop will raise an exception like this:
[code]
rubocop (0.54.0)
rubocop-rspec (1.26.0)
rspec-core (3.8.0)

[2019-02-21 10:46] dgollahon commented on #742
Hi @microweb10. I'm was unable to reproduce this on the current version of `rubocop-rspec`. Could you try the latest version and see if you still get the error and/or provide a reproduction test file? Thanks!

I seem to recall a fix going out for this at some point, but I can't seem to find the issue/PR at the moment if it does, in fact, exist.

[2019-02-22 00:03] dgollahon opened #743 "Cop: Detect setup methods inside `include_examples`"
When using `include_examples` a new RSpec context is _not_ created, unlike with `it_behaves_like`. It is a common mistake to write something like:

[code]

And the author of the test might not realize that `a` will be defined as 'b' in both cases. (I'm writing this sample off the top of my head, someone may want to double check I'm remembering the details exactly correctly here).

We can warn on a

[2019-02-22 07:36] microweb10 commented on #742
Hi @dgollahon!

Thanks for the update ☺️

You are right! 🎉

My apologies for the inconvenience. 🙏

 Closing issue. 😃

[2019-02-22 07:36] #742 closed

[2019-02-22 12:49] cheerfulstoic commented on #682
If I understand correctly the fix here was to ignore `its` blocks, but I don't think that addresses the original concern in this issue: the case where you have a `do`...`end` block with just one line inside of it because the one-line version with `{`...`}` is too long.  Did I miss that fix?  I came to this issue looking to suggest that it be possible to ignore multi-line blocks with just one line

[2019-02-22 12:51] cheerfulstoic commented on #682
(If that's something you'd be down with fixing I can create separate issue)

[2019-02-22 13:45] Darhazer commented on #682
With EnforcedStyle set to `single_statement_only` it will not report `it do ... end` block with single expectation

[2019-02-22 14:32] cheerfulstoic commented on #682
Ah, I missed that, sorry!  Tried it and it works great, thanks for the quick response!

[2019-02-23 01:25] dgollahon commented on #742
No worries, glad it works as expected for you.

[2019-02-24 21:59] choosen commented on #592
solved with e.g. `vscode-ruby`  0.22.2

[2019-02-24 21:59] #592 closed

[2019-02-25 01:50] andyw8 opened #744 "Cop suggestion: (Mis-)using `let` to persist an object to the database"
Here's an antipattern (IMHO) I often see:

[code]

The code is referencing `widget` to trigger the creation of a record in the database, but it's not obvious at all unless you read the definition of the `let`. The name fails to describe the intent.

I think it's much preferable to be explicit, e.g.

[code]

Any thoughts? Is this some thing rubocop-rspec could/should detect?

[2019-02-25 15:58] mikegee commented on #744
How do you envision this working? Maybe calls to `create`, `create!`, `save`, and `save!` in the `let` body?

[2019-02-25 23:31] andyw8 commented on #744
Perhaps by detecting places where there is there is a reference to a `let` which satisfies this criteria:

* Does not get assigned to anything
* Does not have any methods called on it.

[2019-02-27 10:26] pocke opened #745 "Feature request: RSpec/ContextWording supports Japanese"
# Problem

RSpec/ContextWording does not work well to check Japanese.
It has two problems.

First, usually we use a suffix to specify "when". For example, `when a user exists` is translated to `ユーザーが存在する時`. `時` means `when`.
But the cop only supports prefix, so we cannot configure it for Japanese.

Second, Japanese does not separate words with space.  For example, `ユーザー が 存在する 時` is not appropriat

[2019-03-04 10:41] #687 closed

[2019-03-11 13:24] cabello opened #747 "RSpec/NamedSubject: false positive when raising error"
## Expected behavior

To not trigger when the following construction is used:

[code]

## Actual behavior

Suggests to name subject:

[code]

## Steps to reproduce the problem

Enable `RSpec/NamedSubject` in your `.rubocop.yml`:

[code]

Add a spec that uses subject in a block to check for exception:

[code]

## RuboCop version

[code]

[2019-03-11 13:49] koic commented on #747
This issue has been transfered to rubocop-rspec project.

[2019-03-11 17:19] mikegee commented on #747
I don't understand your expectations for this cop. `NamedSubject` wants you to use `subject` with a name and your example doesn't have a name, so the cop complains. Do you expect special case behavior for raising errors?

[named `subject` docs](https://relishapp.com/rspec/rspec-core/v/3-8/docs/subject/explicit-subject#use-%60subject(:name)%60-to-define-a-memoized-helper-method)

[2019-03-11 18:52] cabello commented on #747
One cannot write `it { is_expected.to raise_error(ArgumentError, 'problem') }` because the exception must be raised in a block and in this case the exception would be raised before the assertion failing the test.

If I understand correctly the cop was added to prevent developers from doing `expect(subject.size).to`, `subject.errors` or accessing an attribute without naming the subject, in this cas

[2019-03-11 19:02] mikegee commented on #747
[code]

[2019-03-11 19:54] cabello commented on #747
Yes, this works as expected, I am just not sure what do I get from naming the subject in this case, it's a short 2 line spec, it's clear and no attributes are being read from the subject, for example:

[code]

vs

[code]

Is mentioning `subject` as a named variable a code smell or bad pattern in all scenarios?

[2019-03-11 21:31] bquorning commented on #747
I would most often expect `subject` to be an instance of `described_class`; in your examples an instance of `User`.

Following that pattern, calling `subject` shouldn’t have side effects, except perhaps storing a record in a database.

I would recommend rewriting to e.g.:
[code]

[2019-03-11 22:43] cabello commented on #747
I am having a hard time arguing for not naming the subject on this instance so I will provide a more contrived example that remembers how I usually code & test my code.

[code]

What would I get from naming the subject to something say `foo_service`? Would my code be clearer in this case?

I like this using `described_class` to reduce the amount of places I have to change when renaming the class.

[2019-03-12 01:09] mikegee commented on #747
Assuming you intended to chain a `.call` in your `subject` there, I’d write it with the `.call` in each example and name the `FooService` instance as the subject. But now I see why you want the subject to be more of a verb than a noun; it seems natural for service objects.

[2019-03-12 03:44] dgollahon commented on #747
I would agree with @bquorning that in general I expect `subject` to be an instance of `described_class`. As @mikegee 	suggests you could potentially have a `#call` call in each example or something like that. I tend to think this is more clear and helpful.

On some occasions when i'm testing a very imperative-feeling service object with a lot of setup, i might do something like this:

[code]

I fi

[2019-03-12 03:45] dgollahon commented on #747
I'm actually a little surprised we don't have a configuration option for forcing subjects to not be named since that's a thing you could reasonably consider enforcing uniformly if you don't like the idea of naming your subjects.

[2019-03-14 00:10] andyw8 opened #748 "Cop suggestion: Detect missing require of `spec_helper` or `rails_helper`"
Sometimes a developer may neglect to add a call to require `spec_helper` or `rails_helper`.

The test may then pass when running as part of the whole suite, but fail when running in isolation.

I think it would be useful to have a cop which checks for a call to require `spec_helper` or `rails_helper` in each spec file (e.g. `spec/**/*_spec.rb`).

For a non-Rails project, it's often sufficient to h

[2019-03-14 00:18] dgollahon commented on #748
What would be a reason you wanted to do that? If you force it in every file how is it different than configuring it "globally" in something like `.rspec` or a similar option. I don't understand what the significance of Rails/non-Rails project would be here. Personally, I always define a `.rspec` file.

[2019-03-14 00:24] andyw8 commented on #748
Since rspec-rails v3, two different helpers for are provided when you install it.

If you're testing a class which doesn't depend on Rails, you can use `spec_helper`. This allows for a very fast startup time.

If you're testing something which does depends on Rails, you use `rails_helper`.

More details: https://relishapp.com/rspec/rspec-rails/docs/upgrade

[2019-03-14 02:01] gbudiman opened #749 "Without require: false, rubocop-rspec will cause crash"
Hopefully it will save time, but without `require: false` in `Gemfile`, the following crash will occur. Happened to both ruby 2.6.0 and 2.6.2.
[code]

[2019-03-14 21:23] dgollahon commented on #748
Ok, I think I see what you mean now. So you're suggesting a cop that checks that every file has one or the other of those but doesn't care which one?

I guess that could be helpful if you prefer that practice though you wouldn't be able to validate which helper you should have included without running the spec. Most Rails specs I've encountered need rails_helper / both but I just consolidate mine

[2019-03-14 21:30] andyw8 commented on #748
Yes, that's correct.

I realise that this approach is probably not mainstream, and most people will use `rails_helper` regardless. But I find it useful as it helps me write application logic which is not tightly coupled to Rails framework logic.

This talk by Robert Martin expands on this topic:
Ruby Midwest 2011 - Keynote: Architecture the Lost Years by Robert Martin
https://www.youtube.com/watch

[2019-03-15 21:16] dgollahon commented on #748
I tried doing specific requires per spec in a project for similar reasons but found that it was extremely difficult to keep in sync/working because most devs would just run the whole test suite which means that the correct/minimal require was not asserted because the missing dependencies were pulled in through other tests so I gave up on it.

If others are interested in this style of requires I do

[2019-03-17 18:48] andyw8 commented on #748
How about enabling by default, but with a constraint: If the project contains an `.rspec` config file, with a line matching `require.*helper`, then the cop is skipped.

[2019-03-24 18:50] AlexWayfer opened #750 "RSpec/InstanceVariable should ignore static (literal) classes"
We have some specs where we're defining classes inside specs like this:

[code]

`RSpec/InstanceVariable` should not fire in this case.

[2019-03-25 18:36] dgollahon commented on #750
@AlexWayfer I think you're right that `RSpec/InstanceVariable` is probably not the right mechanism to flag this, but it should actually still get flagged by _something_ as written.

When you define `Bar` using `class` inside of a describe, it is not scoped to a describe. You are permanently introducing `Bar` into the global scope and it will be available across all specs.

See #197 for more detail

[2019-03-25 20:19] AlexWayfer commented on #750
Yep, I know. And I don't know how to define scoped constants normally, beside ugly (and sometimes slow) `stub_const`. There is approaches like `self::Bar = Class.new`, but it doesn't work for any case (constant nested usage).

[2019-03-25 23:24] dgollahon commented on #750
I commonly do something like

[code]

or within an example just using a local variable

[code]

If you need a generated constant within a constant for some reason you can use `const_set` on your dynamic class, though it can be a little hairy if you're doing something complex.

[code]

And you can still inherit from your dynamic class using:

[code]

etc.

Usually I try to think carefully about wha

[2019-03-26 00:19] dgollahon commented on #748
I would still suggest that by default we do nothing or advocate for a `.rspec` file before pushing for replicating a require across a bunch of files by default.

We could also have a cop that just checks for a `.rspec` or make that a style of a spec helper cop that's enabled by default.

[2019-04-01 13:17] obfuscoder commented on #682
You might wanna mention ```single_statement_only``` in the rubydoc. Only ```disallow``` and ```single_statement_only``` are mentioned there.

[2019-04-03 16:30] nc-nystromb opened #752 "HookArgument: Adding an EnforcedStyle of :all & accept both :each and :all as EnforcedStyle?"
I am working in a huge codebase that has a pattern of using `before...do` syntax and it resulted in really slow test runs because a lot of setup is happening before each test.

I would like to propose to add an `all` option and also the possibility accept both `each` and `all` as an enforced style. Basically, I want to enforce not using `before...do` in favor of either `each` or `all`. I really ju

[2019-04-04 09:08] geniou opened #753 "Extend DescribeMethod"
`DescribeMethod` is checking at the moment only for the second argument of the top-level `describe` to be a method name.

I can think for some extensions:

### limit `type`
By default its disabled, but maybe we can enable it if we limit it to top-level `describe` with `type: :model` This should be configurable, since `:helper` and maybe others should be checked as well.

[code]

### extend to nest

[2019-04-04 09:09] geniou commented on #753
Can also have a look into #680 as part if this.

[2019-04-17 11:13] hubertjakubiak opened #754 "Cop idea: prefer no parentheses: expect(subject).to eq(true) not expect(subject).to(eq(true))"
Idea for cop suggestion:

Prefer `expect(subject).to eq(true)` not `expect(subject).to(eq(true))`. The same when `not_to` so `expect(subject).not_to eq(true)` not `expect(subject).not_to(eq(true))`.

There's no single option where second approach is used in https://github.com/rubocop-hq/rspec-style-guide.

[2019-04-30 23:30] andyw8 opened #758 "Small docs issue for ContextWording"
https://github.com/rubocop-hq/rubocop-rspec/blob/749520d187410dc440345bded66150237a6a8662/manual/cops_rspec.md#prefixes-configuration-option-defaults-when-with-and

The end of the sentence is cutoff:

[2019-05-07 11:14] Drowze opened #759 "RSpec/ExpectActual false positive against routing specs (when using a negated matcher)"
On our project we have a test as follows:
[code]

Which is in turn raising a cop:
[code]

I understand that this is very similar to #198. Our `route_to` tests work fine though.

Useful info:
[code]

[2019-05-09 11:52] pirj opened #761 "Improve RSpec/MultipleExpectations `aggregate_failures` detection"
There are cases when two `expect`s are actually a single expectation, specifically when testing matchers:
[code]
In this case, `MultipleExpectations` complains that there are more than two expectations, even though the first expectation is an expectation under test.

This can be reworked as a nested expectation, neither test result or cop result change:
[code]

I understand that by wrapping the wh

[2019-05-09 20:46] pirj commented on #754
Great idea.

There's [this](https://github.com/rubocop-hq/ruby-style-guide/#method-invocation-parens) in the Ruby Style Guide:

Maybe add a cop here, and eventually a generic part if it to RuboCop, so that `rubocop-rails` could benefit from it as well, by marking `validates` and other Rails-specific DSL methods as such to be avoided.

Can't think of legit exceptions to this rule, e.g. when parenth

[2019-05-09 21:04] pirj commented on #745
I remember we decided to `split` as opposed to using `start_with?` due to "whenever" that would also match the `/^when/` pattern.

The logic of composition of `Prefixes` with `Suffixes` is not obvious. While reading the configuration, it would be hard to understand if it is "one of the Prefixes *and* one of the Suffixes", or "one of the Prefixes *or* one of the Suffixes".

WDYT of failing the cop

[2019-05-09 21:12] pirj commented on #752
`:example`/`:context` are two that [are recommended](https://github.com/rubocop-hq/rspec-style-guide#redundant-beforeeach). There is no strong recommendation *not* to use `:example` as a hook scope.

Are you up to update the cop to provide this flexibility?

[2019-05-09 23:34] pirj commented on #748
What do you think about this setup?

[code]

[code]

[`when_first_matching_example_defined` doc](https://relishapp.com/rspec/rspec-core/docs/hooks/when-first-matching-example-defined-hook).

That's all what's needed in order to run `rspec` with arbitrary specs, and save both some time and one line on `require`.

Works with different types of specs (rubocop, project-local rspec matchers), and Rails

[2019-05-09 23:37] pirj commented on #749
Is this it? Can you provide more context? Is this all of the output? What command are you running?
Can you create a minimal all that allows to reproduce the issue and share it?

[2019-05-10 00:13] pirj commented on #747
Can't agree more that a helper method fits here very nicely.

You may also be interested in a [recent discussion](https://github.com/rspec/rspec-expectations/issues/1106) on a very similar topic in `rspec-expectations`. [`rspec-has`](https://github.com/d-unseductable/rspec-has) might be exactly what you need to match your testing style.
[code]

There's an option to put a proc in your `subject`:
[c

[2019-05-10 00:27] pirj commented on #747
This cop properly detects the usage of an unnamed `subject` as such with the block syntax.

Since `subject` is a syntax sugar and shares more similarities than differences with `let`, it

RSpec Style Guide [recommends to "use naming subjects when possible"](https://github.com/rubocop-hq/rspec-style-guide#use-subject).

As per my comments above, there are workarounds for cases provided. Also with t

[2019-05-10 00:36] pirj commented on #744
The example you provided breaks ["incidental state" recommendation](https://github.com/rubocop-hq/rspec-style-guide#incidental-state) from RSpec Style Guide.

Unfortunately, I don't have a good idea of how to detect this syntax considering includable modules, included shared contexts etc where this method/`let` may be defined.

[2019-05-10 00:46] pirj commented on #740
Since the gem works fine, we could recommend it as an optional dependency for this specific case.

To circumvent the brittleness, can you provide more information on what internal API you use in it? Probably it would be possible to expose some stable interface so that the behaviour can be reliably enhanced by optionally including `rubocop-inflector`?

[2019-05-10 00:52] pirj commented on #735
Actually, I have. https://github.com/rspec/rspec-expectations/blob/master/spec/rspec/expectations/configuration_spec.rb#L3

This allows to write:
[code]
instead of a more verbose:
[code]

While fixing RuboCop offences in that repository, I tried fixing this as well (due to `Metrics/ModuleLength`), and it turned out not to bring any improvements except for reduced indentation.

[2019-05-10 01:09] pirj commented on #734
Technically,
[code]
is not an empty line.

[code]
is still too dense.

I can still reproduce this issue by adding the following example to `spec/rubocop/cop/rspec/empty_line_after_subject_spec.rb`:
[code]

[2019-05-10 10:08] Darhazer commented on #761
Sure, if setting `:aggregate_failures` to the example group changes the behavior of all examples in the group, we should respect that.

[2019-05-11 01:22] andyw8 commented on #744
Yeah, that would complicate things. I'm going to closet this for now until I think of an approach.

[2019-05-11 01:22] #744 closed

[2019-05-11 01:49] andyw8 commented on #748
@pirj Interesting idea... I'll try this on a small project and see how it feels.

[2019-05-14 08:40] #697 closed

[2019-05-14 09:29] bquorning commented on #759
Hi @Drowze . What is the relative path to the file containing that test?

[2019-05-14 12:07] Drowze commented on #759
[code]

LiveGames is a Rails engine under the integrations folder, hence the path.

[2019-05-14 21:13] Floppy opened #769 "Cop idea: don't use render_views"
`render_views` couples together controller and view tests, which some may find undesirable. Rubocop could help out by adding a cop forbidding use of that feature?

[2019-05-15 04:33] bquorning commented on #769
I don’t think we can do that. Investigating your rspec configuration is a runtime check, but RuboCop does static analysis i.e. looks at your code without running it.

[2019-05-15 08:22] #758 closed

[2019-05-15 10:35] Floppy commented on #769
Could it just check for that text in the spec files? I mean, I can basically do it with `grep`. Forgive me if that's wildly unhelpful, I have no idea how Rubocop works internally :)

I guess though if someone else uses that method name, that wouldn't work.

[2019-05-15 11:41] pirj commented on #488
So there is an object that acts as a container for and a delegator of method calls to containing items by inheriting from an `Array`.

The original code that suffered from a false detection was:
[code]
However, it has been [reworked to](https://github.com/walf443/rubocop/blob/master/spec/rubocop/formatter/formatter_set_spec.rb#L26):
[code]
which in case of this specific object design is more indic

[2019-05-15 12:30] bquorning commented on #769
You are right, `render_views` isn’t a config option, but an rspec-rails method. We can catch this in rubocop-rspec.

[2019-05-15 20:52] bquorning commented on #488
You’re linking to the wrong repository. This is RuboCop master: https://github.com/rubocop-hq/rubocop/blob/70ae6ca7978770ea699a2809f57ca2a6bdeec6be/spec/rubocop/formatter/formatter_set_spec.rb#L27

[2019-05-15 21:15] pirj commented on #488
You're right, I followed the wrong link, sorry for the confusion. Anyway, the current way to test it is a bit odd:
[code]

How is it better than the following?
[code]

[2019-05-17 12:49] Darhazer commented on #488
[code]

triggers `RSpec/IteratedExpectation` ;)

[2019-05-17 14:56] Drowze opened #771 "RSpec/ScatteredLet unexpected behavior on let(:x, &proc)"
I've come to a weird use of `let` today:

[code]

Not going to discussion if this was a good use or not, it just works. RuboCop is flagging it wrongly though: it seems that it does not flag it as `let` and therefore all the `let`s below it are flagged by `RSpec/ScatteredLet`:
[code]

Version info:
[code]

[2019-05-17 15:40] Darhazer commented on #759
@Drowze `ExpectActual` excludes specs in specs/routing by default, but your spec path doesn't match. You can add `integrations/live_games/spec/controllers/live_games/*_controller_spec.rb` to the exclude.

This is a workaround.

I guess the cop just should ignore cases when `be_routable` or `redirect_to` matchers are used

[2019-05-17 16:57] pirj commented on #488
Since there are only two items on that list, it could be
[code]

As far as I can see, `all` [appeared](https://github.com/rubocop-hq/rubocop/commit/c8729c8ecd6c312d5ca8bb6b660d5380038b1ed6#diff-be297a2e1f10d4ed00f8faaf78f0f06cL23) as a measure against `RSpec/IteratedExpectation`.

[2019-05-17 20:11] nystromb commented on #752
I think I can try making a pull request. Just so the requirements are clear, would the flexibility would be to add an `explicit` option to the EnforcedStyle, so that you won't be able to just write `before do` without an argument? There appears to already be an `implicit`, `each`, and `example` as options.

[2019-05-18 12:48] pirj commented on #752
This sounds right.

[2019-05-20 08:34] Darhazer commented on #752
Generally, if you configure with enforced  style `:each` (or `:example` for that matter), you won't be able to leave `before` without specifying the scope. It will still allow `before(:all)`. So the only thing an `explicit` option will do is to allow either `example` or `each` to be used.

[2019-05-21 08:32] pirj opened #772 "`@see` declarations are not getting their way into the manual"
`@see` declarations in cop descriptions are quite common:

[code]

Unfortunately, `generate_cops_documentation` rake task doesn't add them to `manual/*.md` files.

Find a way to add them.
Possible options:
 - fix cop documentation to use plain "See: "
 - fix documentation generator to include see to the manual. Keep in mind that `@see` may appear inside `@example`, though it's not yet the case in

[2019-05-21 09:39] #197 closed

[2019-05-22 16:53] #761 closed

[2019-05-31 23:56] pirj commented on #208
There are cases when this will result in false positives:
[code]

[2019-06-03 17:56] f1sherman opened #775 "Focus Cop fails to detect focus instances when preceding a hash"
Example blocks that contain `:focus` preceding a hash `e.g. js: true` are not flagged.

Reproduction spec:
[code]

[code]

[2019-06-05 14:27] Drowze commented on #416
I would love a cop enforcing this. There is usually no standard when regarding factorybot DSL

[2019-06-05 16:11] pirj commented on #416
I think [this rule](https://github.com/rubocop-hq/ruby-style-guide/#method-invocation-parens-internal-dsl) applies to FactoryGirl.

So if there's no such cop in RuboCop itself (couldn't find one quickly), it might be a good idea to implement it there.

[2019-06-09 15:38] bquorning commented on #488
The only thing keeping from approving https://github.com/rubocop-hq/rubocop-rspec/pull/770 is this issue.

So, we have an `RSpec/IteratedExpectation` cop that prevents me from writing `expect` inside a loop (e.g. `each`). RSpec provides the `all` matcher which provides basically the same functionality. This confuses me. Is using the `all` matcher not as bad as having explicit expectation in a loop

[2019-06-09 18:08] armahillo opened #776 "DescribeClass raises violation incorrectly when Rspec.describe is used"
I have a class:
[code]
tested by:
[code]

and it raises this violation:
[code]

but changing the spec to:
[code]

clears the violation.

It's not a huge issue, but were I to be the type to `disable_monkey_patching!` in my `spec_helper.rb` this would create an unnecessary problem.

[2019-06-09 19:00] pirj commented on #776
May I ask you to provide more context @armahillo, it seems to detect the offence at line 5, what are the first four lines?

[2019-06-09 19:40] pirj commented on #488
@bquorning good question.

There are two of them in the spec to, I assume, make sure that more than one formatter can be added to the set. Covering the case with more formatters is a slippery path since there's no limitation on the number of formatters.

It's possible to interpret ["Needed data"](https://github.com/rubocop-hq/rspec-style-guide#needed-data) recommendation in a way that one shouldn'

[2019-06-09 20:25] armahillo commented on #776
@pirj Certainly!

Lines 1 & 2 were just a constant that I had defined:
[code]

[2019-06-09 20:49] pirj commented on #776
What is the version of `rubocop-rspec` you are using?

I've tried to reproduce on `master`:
[code]

[code]

[2019-06-10 09:54] sAnti09 commented on #749
Also had this bug. Running rspec tests produce the error reported above. There are cases wherein the bug doesn't occur but only on rare occasions.

I'm running on MacOs.
[code]

[2019-06-10 15:13] Darhazer commented on #488
`all` is an interesting edge case. It doesn't really stub the subject (if stub is used at all in the matcher) - it stubs whatever `each` returns, which we can't know what it is. Still, I think it makes specs harder to understand and the way @pirj suggest is a way better.

So I tend to agree with @pirj line of reasoning and if you really need to test the delegation in the collection while not havin

[2019-06-10 19:57] bquorning commented on #488
Agreed.

[2019-06-10 20:10] #705 closed

[2019-06-12 03:23] bquorning commented on #749
Again, could you create a minimal app that allows to reproduce the issue and share it? It’s hard to debug this issue just from an OS error message

[2019-06-18 06:08] dgollahon commented on #754
We just have to be careful of `to` in other contexts, notably the second `to` with this change matcher
[code]

[2019-06-18 06:17] dgollahon commented on #416
I don't know if the rule accounts for this at all, but I usually use parentheses with a "dsl" _unless_ it's in a class context / macro. So, for the `validates` example, I usually write it as the guide recommends, but for almost all the rspec methods that aren't `describe`, `context`, `it`, or `to`, for instance, i typically use parentheses. Like @Darhazer is saying, I don't think a universal rule

[2019-06-18 06:45] dgollahon commented on #208
As @backus pointed out, we would probably need to disable by default--there is a lot of room for false positives. A configurable whitelist probably covers most cases though.

[2019-06-18 07:20] dgollahon commented on #745
I think the point about composing `Suffixes` and `Prefixes` is a good one--it very well might be confusing to have both. I don't know if we need regexes or not, but at least that is relatively clear with a list of patterns. The pattern still be easily used with a ` `, `\b`, or `\s` appended to each item, but if a user wants to customize the list they are might forget to do that.

The other issue i

[2019-06-18 07:41] dgollahon commented on #735
I've actually seen this in multiple codebases I've worked on. See my comment here: https://github.com/rubocop-hq/rubocop-rspec/pull/381#discussion_r107826572

[2019-06-18 08:41] dgollahon commented on #734
@pirj I don't actually think that was the original problem, but @rpbaptist can correct me if I'm wrong. I believe he was using a slightly out of date version of `rubocop-rspec` which wouldn't allow you to do  (adapting your example) this:

[code]

and would require you to write:

[code]

or

[code]

Which was pretty awkward for `rubocop:enable` statements. I fixed and unified all the blank line lo

[2019-06-18 08:41] #734 closed

[2019-06-28 10:59] coding-bunny commented on #776
running into the same problem:

[code]

This is the test:
[code]

And Rubocop complains about line 3

[2019-06-28 11:24] pirj commented on #776
I can reproduce it.

But why would you use `::RSpec` instead of `RSpec`, @coding-bunny ?

The fix is trivial:
[code]
(plus a change to `spec/rubocop/rspec/language/selector_set_spec.rb`).

@bquorning @Darhazer WDYT?

PS Just noticed an incorrect spelling of `RSpec` in your code @armahillo, it's `Rspec`. Does this even work? For me:
[code]

[2019-07-01 08:01] coding-bunny commented on #776
@pirj We use absolute paths for most classes to prevent loading issues/clashing with code.
And it works fine for pretty much everything, except this file was behaving oddly.....and others got accepted by Rubocop for some reason.

it's...odd, but the work around is sufficient for us right now.
Just wanted to raise awareness to the behavior for this Cop

[2019-07-01 15:27] pirj commented on #776
We can definitely address this edge case since being precautious to loading issues is not something uncommon.

@armahillo I can reproduce the issue with `Rspec`, but it's not the case if I change it to `RSpec`. Can you please provide more details on how `Rspec` (with second letter lowercase) is defined?

[2019-07-01 17:21] mikegee commented on #776
`Rspec` was removed in favor of `RSpec` in 3.0. https://github.com/rspec/rspec-core/blob/master/Changelog.md#300beta1--2013-11-07

[2019-07-01 19:07] pirj commented on #776
Nice find @mikegee 👍

Are we in a position to support pre-3.0 RSpec?

Fun fact: just spotted `Rspec` in the [`README`](https://github.com/rubocop-hq/rubocop-rspec/blob/f5bcb7ed8e6f83db04949713aa240a4689938316/README.md#enforcing-an-explicit-rspec-receiver-for-top-level-methods-disabling-monkey-patching).

[2019-07-01 20:08] pirj commented on #776
[RSpec Style Guide](https://github.com/rubocop-hq/rspec-style-guide/blame/618e14d/README.adoc#L28) explicitly states that:

Since we're moving towards cohesion and coherence with the guide, WDYT of dropping support for pre-RSpec 3.0 constructs if there are such left?

[2019-07-02 16:03] Darhazer commented on #776
supporting pre-RSpec 3.0 things is a no-goal and forcing migration, as long as RSpec have a mechanism on itself, is a no-goal as well. We may need to clarify further in the no-goals section of the readme.

[2019-07-04 08:25] #776 closed

[2019-07-09 16:24] pirj commented on #735
Did you have `DescribedClass`'s pending spec in mind @bquorning ?
I've fixed the cop, going to submit it soon.

[2019-07-09 16:50] bquorning commented on #735
No, I hadn’t noticed [that spec](https://github.com/rubocop-hq/rubocop-rspec/blob/77fabdc7f3f2a4876ba6bd44a40d2e83fded8296/spec/rubocop/cop/rspec/described_class_spec.rb#L195-L206). But yes, that is an example of the issue I mentioned.

[2019-07-10 21:28] pirj commented on #748
Do you think it makes sense to keep this issue open?

[2019-07-10 21:40] pirj commented on #680
Actually, [RSpec Style Guide](https://github.com/rubocop-hq/rspec-style-guide#describe-the-methods) defines this in a pretty non-ambiguous way:

Not sure if `RSpec/DescribeMethod` covers all the cases.
However, I don't see a good reason to relax the cop and allow `::`.

WDYT?

[2019-07-10 21:42] pirj commented on #665
Can we do something about this error by changing the code in this repository or `rubocop`'s?

[2019-07-11 01:07] andyw8 commented on #748
Let's close for now.

[2019-07-11 01:07] #748 closed

[2019-07-14 19:20] alexandru-calinoiu commented on #665
With the latest docker version I have not received this error anymore.

[2019-07-15 21:29] williams4027 opened #785 "Rspec/DescribedClass - No violations under user defined metadata"
Ran into this problem recently that took me much longer than it should have to debug. But essentially I had some files that I removed some [user defined metadata](https://relishapp.com/rspec/rspec-core/docs/metadata/user-defined-metadata) from an rspec, causing new violations to surface:

Before (no violation):
[code]

After (violation):
[code]

You can use any names here, it gives the same cop re

[2019-07-15 21:46] pirj commented on #785
Thanks for reporting.
Added a quick fix in #784.

[2019-07-22 06:43] coorasse opened #786 "Warning: unrecognized cop always exits with code 0"
When a warning `Warning: unrecognized cop` is raised, rubocop exists with code 0.
Using `rubocop --fail-level=warning` or `Lint:
  Severity: warning` option has no effect.
We would expect to exit with status code 1.

[2019-07-23 08:25] #604 closed

[2019-07-23 08:25] #785 closed

[2019-07-24 05:21] skorks opened #790 "An error occurred while RSpec/DescribedClass cop"
Steps to reproduce:

- Clone this repo: https://github.com/skorks/broken-rubocop-rspec
- `bundle`
- `bundle exec rubocop`

[code]

[2019-07-24 06:26] bquorning commented on #790
@pirj?

[2019-07-24 08:05] pirj commented on #790
Thanks for the detailed report @skorks, fixed in #791.

[2019-07-24 08:11] skorks commented on #790
@pirj no probs, thanks for being so quick with a fix

[2019-07-24 21:39] pirj commented on #786
I believe this belongs to [RuboCop itself](https://github.com/rubocop-hq/rubocop).
@bbatsov Can you please transfer it?

[2019-07-24 21:56] pirj commented on #750
Since `LeakyConstantDeclaration` cop was added to flag constant definitions.

`RSpec/InstanceVariable` is completely ignorant to:

[code]

Do you think this might be closed @dgollahon ?

[2019-07-24 22:12] pirj commented on #747
May I ask a clarifying question, @cabello? What is the nature and semantics of what `FooService#call` returns? Would you consider naming the subject correspondingly, e.g. if it's "weight" then to go with:
[code]

[2019-07-24 22:15] pirj commented on #735
As `DescribedClass` has been merged and the nasty pending spec is green, and the approach of namespacing specs with modules is quite usable with no visible downsides, do you think there's still something to address in the context of this issue, @bquorning?.

[2019-07-24 22:26] pirj commented on #680
There are no updates on this for quite a while. @Ana06 do you mind if we close this?

[2019-07-24 22:28] pirj commented on #665
Seems this is not a problem anymore, should we close this?

[2019-07-24 22:44] pirj commented on #510
Related to #757.
[Context Descriptions guideline](https://rspec.rubystyle.guide/#context-descriptions) is now more permissive:

Would you agree to configure prefixes for the cop on a per-project basis, or is it a major effort you wouldn't want to deal with, @jcoyne ?

There's a [lengthy list](https://github.com/rubocop-hq/rubocop-rspec/pull/757#issuecomment-492448802) of the frequently used prefix

[2019-07-24 23:03] #680 closed

[2019-07-24 23:41] pirj commented on #667
It doesn't seem that those can be easily added.
I've played around by adding `to_not` to `rubocop`'s `config/default.yml`, `to` to `rubocop-rspec`'s `config/default.yml`, and `not_to` to local project's `.rubocop.yml`.
Only `not_to` is properly ignored, so local settings override gem's one, and the gem that defines that config last overrides the former configuration.

Not sure if there's a way to

[2019-07-25 07:15] bbatsov commented on #786
@pirj I didn't know you could transfer issues between repos. I can do it if someone tells me how.

[2019-07-25 08:24] coorasse commented on #786
My bad. Wrong project. I close this one and open another one on rubocop

[2019-07-25 08:24] #786 closed

[2019-07-25 09:02] pirj commented on #786
@bbatsov @koic [knows how to do that](https://github.com/rubocop-hq/rubocop-rspec/issues/747#issuecomment-471545536).

[2019-07-25 12:54] cabello commented on #747
Since opening this ticket I've been experimenting with naming and not naming subjects, my personal feeling is that I would rather not name it and use subject as my safe, go to name. For example, say I am writing tests for `NameImporterService`, my subject is `described_class.new(dependency: dependency).call`, should I name this subject `result`, `call_result`, `names_count`?

In my opinion the ext

[2019-07-25 13:00] pirj commented on #747
Totally valid points @cabello, thank you!

Do you mind if we close this, or do you have something in mind, like adding an additional style for the cop so that it ignores unnamed subjects that are exclusively used in block expectations?

[2019-07-25 14:47] #747 closed

[2019-07-26 01:13] dgollahon commented on #750
This is still, technically, a false-positive because if you chose not to enable the `LeakyConstantDeclaration` cop (or did an inline disable for one case) then this is still flagging something in a context it wasn't meant to and you'd need to add a disable statement.

That said, this is a pretty uncommon situation and I don't know if we should direct any energy at fixing the false-positive. If you

[2019-07-26 01:30] dgollahon commented on #665
Seems reasonable to me. It can always be re-opened if the issue recurs.

[2019-07-26 01:30] #665 closed

[2019-07-26 01:36] dgollahon commented on #750
May also be relevant: https://github.com/rubocop-hq/rubocop-rspec/pull/381#issuecomment-288871191

If you stub the constant, then create it (and that works as illustrated here^ I haven't tried to define a class like this in a very long time so i'm not 100% on the legitimacy of this) you'd have a false positive still.

[2019-07-26 01:41] dgollahon commented on #735
Still seems worthwhile to me for consistency's sake. I would have liked something to autocorrect one project that used a mix of this form and the standard form.

Also, you are still in the context of that class which seems strange to me in a testing context. You would also have to edit more places if a class becomes a module or vice-versa and errors about invalid constant references might be a bit

[2019-07-26 01:42] dgollahon commented on #735
Now that I think of it, it would probably have to be an unsafe autocorrect because you can't tell which constant lookups were relying on the module scope.

[2019-07-26 08:23] pirj commented on #735
Are you talking about some specific cop @dgollahon ?

[2019-07-26 08:30] pirj commented on #750
Mixed-style will only lead to confusion especially in cases when constant stubbing and class reopening are scattered:
[code]

Wouldn't it be better to use `class_eval`:
[code]

In case it's not scattered, the whole class can be defined in a single place with `Class.new do`: https://github.com/rubocop-hq/rubocop-rspec/pull/765#issuecomment-493705348

[2019-07-26 19:30] #790 closed

[2019-07-26 20:04] dgollahon commented on #750
@pirj I'm not saying one _should_ do it the way I referenced, just that someone might (although I'm not actually sure it's leak-free in all situations...). I guess it would still be flagged by the `LeakyConstantDeclaration` cop though so maybe that aspect is not a big deal. Still, the instance variable cop is only meant to discourage ivars in the spec's scope but I don't know if we need to be that

[2019-07-26 20:06] dgollahon commented on #735
@pirj I was taking this issue as a cop proposal: `DescribeInsideModule` or something like that which could flag and, possibly, autocorrect @bquorning's example from the first snippet to the second.

[2019-07-26 20:11] dgollahon commented on #735
Though, if they dump `described_class` https://github.com/rubocop-hq/rubocop-rspec/pull/784#issuecomment-515514685, this may be a moot point.

[2019-07-29 16:09] jcoyne commented on #510
I think the advice that "it should result in a sentence with proper grammar" leads one to the use of "and".

"when x is true when y is true" would be properly written "when x is true and when y is true"

Personally, I don't mind configuring my own prefixes, but by default you can't make proper sentences for the documentation formatter without the use of "and"

[2019-07-30 12:33] Drowze opened #792 "RSpec/ExampleWording autocorrect breaking code on multiline example strings"
When I run `rubocop --require rubocop-rspec --only RSpec/ExampleWording --auto-correct` against the code below:

[code]

I get:
[code]

Which is invalid syntax:
[code]

[2019-07-30 23:27] pirj commented on #792
Quite an interesting case, thanks for reporting.

[2019-07-31 01:07] cerdiogenes opened #793 "Allow RSpec/MultipleExpectations to be higher for feature specs"

[2019-07-31 08:30] pirj commented on #793
You may put an additional `.rubocop.yml` file in `features` directory and configure cops behaviour specific to that folder:

[code]

[2019-07-31 08:49] pirj commented on #792
I took a stab at it, a multi-line string literal is parsed as `dstr`. It's not a big deal to combine it.

Joined `node_parts` by `value` to get the original string.
Had to add a check that all `node_parts` are of a `str_type?` though, otherwise, other string interpolation literals cease to work.

Not happy about the code, the things are getting complicated, trying to untangle the code, and will se

[2019-07-31 17:07] cerdiogenes commented on #793
Wonderful, thx @pirj!

[2019-07-31 17:07] #793 closed

[2019-08-01 15:25] benhutton opened #795 "RSpec/DescribedClass mis-identifies inside of rspec-rails anonymous controllers"
Versions:
 - `rubocop` — 0.74.0
 - `rubocop-rspec` — 1.34.1

RSpec/DescribedClass will correct code like this:

[code]

to this:

[code]

Resulting in this error:

[code]

For reference, please see https://relishapp.com/rspec/rspec-rails/v/3-8/docs/controller-specs/anonymous-controller

[2019-08-01 15:48] pirj commented on #795
Thanks for reporting, I'll take a look.

[2019-08-02 23:00] pirj commented on #795
It works fine for some blocks, so I'd rather not make any code changes:
[code]

There's no way to statically determine what kind of block it is.

It's [a known caveat](https://github.com/rubocop-hq/rubocop-rspec/blob/master/spec/rubocop/cop/rspec/described_class_spec.rb#L14), and there's a configuration option to work this around, `SkipBlocks`:

[code]

I suggest you add a `.rubocop.yml` file with

[2019-08-03 09:11] anthony-robin commented on #795
Thanks @pirj ! The `SkipBlocks: true` option solved offenses I had 👍

[2019-08-03 22:12] pirj commented on #771
This is an interesting trick.
Would you consider using [a more canonical alternative](https://relishapp.com/rspec/rspec-core/v/3-8/docs/example-groups/shared-examples#providing-context-to-a-shared-group-using-a-block)?

[code]

[2019-08-03 23:53] dgollahon commented on #771
IMO, we should fix it.

We could independently consider adding a cop to discourage doing this though if there was a consensus around that.

[2019-08-04 21:54] pirj commented on #735
Actually, I think it's still a good idea to have such a cop. Even though if it happens that there's no `described_class` anymore, [some specs](http://hdrezka.tv/series/thriller/18482-bangkok-hilton.html) might still benefit from being put inside a module, or the other way around.

RSpec Core team's coding style slightly differ, they don't seem to use subjects, `described_class` that much, but clas

[2019-08-04 22:18] pirj commented on #750
Now I think I understand what you mean.

So speaking about this specific case in question, when class is defined directly in example group, `LeakyConstantDeclaration` is disabled, and instance vars are used, do you think it makes sense to detect scope change (like we do [in `DescribedClass`](https://github.com/rubocop-hq/rubocop-rspec/blob/8bbf5f0/lib/rubocop/cop/rspec/described_class.rb#L48)) and

[2019-08-05 08:34] Onumis opened #798 "Auto-correct of offence Capybara/CurrentPathExpectation is not safe"
After running the `rubocop -a`, this offence was autocorrected but caused tests to fail, where, imo, they should not.

Diff made by --autocorrect:

[code]

RSpec fails with:

[code]

Seems like `have_current_path` is using some method that includes the querystring on the path, while `page.current_path` does not.

[2019-08-05 08:36] Onumis commented on #798
Autocorrect introduced in https://github.com/rubocop-hq/rubocop-rspec/pull/641

[2019-08-05 20:11] pirj commented on #795
@benhutton Did adding a directory-local RuboCop configuration file solve the issue you're experiencing?

[2019-08-06 04:33] jaredbeck opened #799 "error .. RSpec/DescribedClass cop was inspecting .. describe(CONSTANT)"
Upgrading PaperTrail from 1.33.0 to 1.35.0, got this error:

[code]

In [`version_number_spec.rb`](https://github.com/paper-trail-gem/paper_trail/blob/da9c743831ff7b948680ee0ef847ad8516f1a206/spec/paper_trail/version_number_spec.rb) our `described_class` is a module named `VERSION`. 🤔 I admit, it's unusual (I didn't name it) but I think we can agree that rubocop should not crash :smile:

[code]

P

[2019-08-06 04:35] jaredbeck commented on #799
Stack trace

[code]

[2019-08-06 06:15] bquorning commented on #799
@pirj Would you have time to look at this bug report, too?

[2019-08-06 07:38] bquorning commented on #798
So, `page.current_path` returns the path without querystring, but `have_current_path(...)` checks against the path including querystring.

It should be fixable by the `only_path` option:
[code]

@ypresto What’s your take on this bug report? Should we include `only_path: true` options when auto-correcting?

[2019-08-06 09:09] Onumis commented on #798
@bquorning not sure that is the solution. Looking at how `url_for` works: https://api.rubyonrails.org/v4.2.11.1/classes/ActionDispatch/Routing/UrlFor.html#method-i-url_for

The `only_path` option seems to mean that the domain is not included (`_url` vs `_path` generators), but both querystring and anchor remain.

[2019-08-06 09:16] Onumis commented on #798
Ah, seems like this is the approach needed: https://github.com/teamcapybara/capybara/issues/1875#issuecomment-362466731

[code]

[2019-08-06 09:17] pirj commented on #799
Thanks for the detailed report!
It's reproducible, let me take a stab on the fix.

[2019-08-06 09:37] bquorning commented on #798
Yeah, sorry about that – my previous comment was written too rapidly.

I did mean for `only_path: true` to be an argument to `have_current_path`, not to `checkout_path`, and of course you should use `ignore_query` instead of `only_path`. 👍

[2019-08-06 09:45] pirj commented on #799
Fixed, now I'll have to find a way to fit it into our hard constraints.
[code]

[2019-08-06 15:50] jaredbeck commented on #799
I'm new to this codebase, so take this with a grain of salt, but I think 100 lines is not practical.  RuboCop itself [currently has a ClassLength of 174](https://github.com/rubocop-hq/rubocop/blob/master/.rubocop_todo.yml#L19). In the past, [they've been above 200](https://github.com/rubocop-hq/rubocop/blame/9e76387952725f1a7fa54989024114549c0b7d80/.rubocop_todo.yml#L16).

[2019-08-06 18:19] pirj commented on #799
I agree though those limits tend to grow, and keeping them tight is a way to sit back and think what can be improved. Be it the future author of the code, or an encounter attempting to fix or improve it, it's hard to grasp more than 100 lines of code (excluding empty lines and comments).
I had this thing in this very repository, I've been returning to my pull request several times doing month-long

[2019-08-06 18:22] pirj commented on #799
[174](https://github.com/rubocop-hq/rubocop/blob/master/.rubocop_todo.yml#L20) is in RuboCop's `.rubocop_todo.yml`, e.g. it's something that will be eventually addressed, and it appeared as a compromise of development effort to delivering new features/cops.
There's always a lack of resources and demand for new features, so this tradeoff is reasonable considering that some common parts of cops are

[2019-08-08 11:42] pboling commented on #682
`single_statement_only` is not working for me.  All of my single statement specs are being flagged.

[2019-08-08 11:54] Darhazer commented on #682
@pboling please post your spec and rubocop configuration, along with the rubocop-rspec version you're using

[2019-08-08 13:05] #799 closed

[2019-08-08 13:09] benhutton commented on #795
@pirj right now, I'm preferring to use a single-line `# rubocop:disable` comment to get things working. Maybe I'm being too greedy. I think in general this cop is doing great stuff and wish there was a way it could be made smarter! I wonder if adding a block blacklist configuration would make sense? That way, we can tell it to ignore `controller do` blocks and nothing else (until that becomes nece

[2019-08-08 13:28] pirj commented on #795
@benhutton Unfortunately, there's no other way to set configuration options per-directory right now.

You mean that situation when in a controller test there a non-`controller do` block that is using a class name instead of `described_class`, and you'd like to detect it?

Do you think it is worth it?

Speaking of `described_class`, you might be interested in [an ongoing discussion](https://github.

[2019-08-08 13:36] glindsey opened #801 "NoMethodError on NilClass exception when running RSpec/DescribedClass"
Hey folks:

Ran into this when recently running Rubocop on our codebase; it doesn't appear to be the same as the other closed issues above, although of course I could be wrong there.

I've censored the filename as I have no idea what our company's guidelines are on that sort of info, but I don't think it's pertinent to the trace. The particular portion of the file it errors on is simply a `describ

[2019-08-08 15:26] pirj commented on #801
@glindsey Can you please post the contents of FILENAME.rb, or at least some context around that part?

If you're not in a position to provide live code, feel free to obfuscate it and narrow down the issue to that piece of code that makes the cop break.

[2019-08-08 15:44] #792 closed

[2019-08-09 14:14] benhutton commented on #795
@pirj I'm not talking about configuring per-directory. I'd do it globally.

That discussion is interesting. And I think this adds an interesting detail: you can't even actually use `described_class` consistently / all the time.

That said, I don't do the things that make it hard to use. It always works for me (except in these controller specs!). So I would probably keep it around. Maybe with a `de

[2019-08-09 14:22] pirj commented on #795
The mention of `controller do` caveat is in cop's documentation.

As far as I know, it's a common way to configure cops in directories.

There is a TODO to mark this cop as "Unsafe to autocorrect" on [cop metadata roadmap](https://github.com/rubocop-hq/rubocop-rspec/pull/721#issuecomment-517962223).

Is there anything that can be done in the scope of this ticket, @benhutton ?

[2019-08-09 14:37] benhutton commented on #795
@pirj from what I can tell, the caveat is in the cop's _specs_, not in the actual docs (https://rubocop-rspec.readthedocs.io/en/latest/cops_rspec/#rspecdescribedclass). Thus, it's a known and tested-for caveat, but not one that is well-communicated to users. So I'd say that the safest thing to do would be to enhance the docs clarifying _why_ the skip blocks option exists and when/how to use it?

[2019-08-09 15:26] pirj commented on #795
Fair enough. I was completely sure that it was in the docs, I've definitely seen it somewhere, my bad, and please accept my apologies.

Please take a look #802, @benhutton. Do you think this would be enough to avoid confusion?

Just for history: #59

[2019-08-09 15:32] benhutton commented on #795
yes! that is great! thanks so much @pirj

[2019-08-11 02:41] elad-maimon opened #803 "Error in RSpec/LeadingSubject while inspecting"
Got an error:
"An error occurred while RSpec/LeadingSubject cop was inspecting...."

This is the subject line it fails:

    subject { ProtoModel.new(field1: 'f1', field2: nested_model).serialize_to_proto }

These is relevant code:

    class ProtoModel
      include ProtoSerializable
    end

    let(:nested_model) { NestedProtoModel.new }

    class NestedProtoModel
      include ProtoSerializab

[2019-08-11 08:36] pirj commented on #803
@elad-maimon Can you please provide a bit more context?

What are the rubocop/rubocop-rspec versions being used?
What is the backtrace?
What is the example and its ancestor example groups?

I can't reproduce it locally:

[code]

[code]

[2019-08-13 11:01] nickcampbell18 commented on #801
Hi @pirj, we've seen a similar issue and I've got a reproduction case for you:

[code]

The problem seems to arise when the whole spec is inside a module block. We do this for our application to make it easier to resolve related code in the same module without needed to explicitly use the full module name everywhere. The error happens because `#const_name(node)` is returning `nil` - there is no br

[2019-08-13 11:16] pirj commented on #801
@nickcampbell18 This is [fixed](https://github.com/rubocop-hq/rubocop-rspec/pull/800/files#diff-25a2fc59ee58bcb3fbabb644ac504ccbR276) in #800. Thanks for the detailed reproduction example.

I hope the issue @glindsey is experiencing is the same as described in #799, but would really like to confirm that.

[2019-08-13 12:58] glindsey commented on #801
Phil:

I’m sorry, I’ve been on vacation and will be for the rest of this week. When I get back I’ll check the code to see if it is similar to Nick’s case — and thanks so much for your quick response!

— Greg

[2019-08-14 05:49] chitsaou opened #806 "'RSpec/PredicateMatcher' explicit style conflicts with Rails 'have_http_status' matcher"
## Background

Our engineering team prefer `expect(object.good?).to be(true)` over `expect(object).to be_good` so that it's easier to search for `"good?"` method name across the whole code base.

Therefore, we are using the following settings for `RSpec/PredicateMatcher`:

[code]

However, this cop also finds the [rspec-rails `have_http_status` matcher](https://relishapp.com/rspec/rspec-rails/docs

[2019-08-14 08:33] pirj commented on #806
@chitsaou I believe `have_http_status` clashes with [predicate matchers](https://relishapp.com/rspec/rspec-expectations/docs/built-in-matchers/predicate-matchers), and technically auto-correction is correct.

I don't see a reason not to include `have_http_status` to `BUILT_IN_MATCHERS` by default.
However, it's a special case, different from the other built-in matchers. Ignoring this offence might

[2019-08-14 21:42] kjvarga opened #807 "Style/VariableName doesn't enforce styles on variables defined via `let`"
The `Style/VariableName` rule isn't catching bad variable names (e.g. camelCase when snake_case is configured) for `let` variable definitions.

It's common in specs to define the variable using `let` and then it gets passed to methods as an argument.  Because of this bug in Rubocop, method arguments were not being enforced by `Style/VariableName` rule either: https://github.com/rubocop-hq/rubocop/

[2019-08-14 22:04] pirj commented on #807
Thanks for reporting this.

Sounds like an idea for a new cop, not sure if it would be possible to plug into an existing cop, and if it's a good idea at all.

Also, support for camel case as an enforced style seems weird to me.

[2019-08-15 07:15] dgollahon commented on #806
We should double check for more common `have_` matchers in `rspec-rails` or other common matching tools and make sure we haven't overlooked any others.

It might possibly make sense to add a user-customizable ignore list as well for custom matchers.

[2019-08-17 08:17] pirj commented on #333
I imagine a cop that would specifically watch over `alias_example_group_to`/`alias_example_to`/`alias_object_eq_to` occurrences to make sure all of them are added `AllCops/RSpec` configuration, or explicitly ignored in it.

[2019-08-17 10:45] pirj commented on #806
`shoulda-matchers`:

Also those:

`rspec-rails`:
- `have_http_status`
- `have_rendered`
- `have_enqueued_mail` - block matcher

I don't see any common pattern here, probably they should all be excluded.

[2019-08-17 21:36] pirj opened #808 "Misleading naming of `RSpec/ImplicitSubject` cop"
[Implicit subject](https://relishapp.com/rspec/rspec-core/v/3-8/docs/subject/implicitly-defined-subject) is a subject inferred from the class being described, e.g.:
[code]

The usages `is_expected` and `should` are called [one-liner syntax](https://relishapp.com/rspec/rspec-core/v/3-8/docs/subject/one-liner-syntax), and don't imply the use of implicit subject, e.g.:
[code]

The cop would raise an

[2019-08-18 03:19] chitsaou commented on #806
Thanks for all of your replies. It's true that there might be other `have_*` matchers from libraries, such as these from [webmock](https://github.com/bblimke/webmock/blob/master/lib/webmock/rspec/matchers.rb#L7-L24):

[code]

Wouldn't it be great if we can configure ignore list for this cop?

[2019-08-18 12:06] pirj opened #809 "Don't ignore `Gemfile.lock`"
We are permissive towards `rubocop` version being used alongside but should be strict with it during development so that those who happen to use an earlier version of `rubocop` still could use the code. An example of this is #777.

It has a downside of locked dev dependencies, such as `rspec` version, but I can't think of any major downsides to this.

Another downside that having `Gemfile.lock` do

[2019-08-18 14:58] #795 closed

[2019-08-18 19:37] #417 closed

[2019-08-18 21:00] pirj commented on #803
@elad-maimon Ping.

[2019-08-19 08:27] rpbaptist commented on #735
I'm fine with a cop for this, as along as I can configure it to enforce the style to be the other way around.

[2019-08-19 11:51] buehmann opened #811 "Detect empty hooks (before, after, …)"
This morning I found an empty `before` hook in our codebase:
[code]

I would be nice if there were a cop that detected hooks with empty blocks.

[2019-08-19 12:04] pirj commented on #811
This might be even more generic, an empty example group or an empty `let`/`let!`.
Can't tell off the top of my head if an empty example with a block means that it's pending, or just one without a block.

[2019-08-19 12:37] buehmann commented on #811
There are the following loosely related cops:
* `RSpec/EmptyExampleGroup`: Checks if an example group does not include any tests.
* `RSpec/AroundBlock`: Checks that around blocks actually run the test.

[2019-08-20 09:36] pirj commented on #801
Hey @glindsey, have you had a chance to check against `rubocop-rspec`'s `master`, does it fix the issue you are experiencing?

[2019-08-20 09:57] pirj commented on #414
It might still be used somewhere in the shared example, and we won't be able to detect that usage.
Did you have a more generic message in mind, like "Don't use an instance variable"?

[2019-08-20 10:04] pirj commented on #401
As per (https://github.com/rspec/rspec-core/blob/master/lib/rspec/core/memoized_helpers.rb#L10):

`subject`'s implementation [is based on `let`](https://github.com/rspec/rspec-core/blob/e4e10d9/lib/rspec/core/memoized_helpers.rb#L418), and if it's a named subject, the difference is subtle.

Semantics might be different, but in the example, it seems that the subject might equally be `admin.somethin

[2019-08-20 10:22] pirj commented on #400
`context` is a better fit for examples that need specific conditions.
`ContextWording` and some cop that would suggest extracting conditional part of the docstring into a context according to [Use Contexts](https://rspec.rubystyle.guide/#use-contexts) guideline would do the job in this case.

However, I foresee interference with [No context for single `it` block](https://github.com/rubocop-hq/rubo

[2019-08-20 11:10] pirj commented on #398
I suggest adding a `(block` part to the node pattern.

I've checked that `fit` without a block does not focus, so it does not make much sense to flag it.

You've been taking a stab at this, WDYT @dgollahon ?

[2019-08-20 11:24] pirj commented on #379
I had a similar problem [here](https://github.com/rubocop-hq/rubocop-rspec/issues/761), but opted for `aggregate_failures`.

Another option would be to reset the counter for nested expectations (but still count them).

There's nothing wrong with the code @lsimoneau provided, and it not counting a single nested expectation can be the default.

[2019-08-20 11:31] pirj commented on #316
In case of properly defined [balancing cases](https://rspec.rubystyle.guide/#context-cases), when there is another example that is checking that `decrease_counter` has been received, and with verifying doubles turned on, this doesn't seem to be a problem anymore.

It's not practical in common case to test side effects, as this might require more stubbing, slows specs down due to real method calls.

[2019-08-20 11:45] pirj commented on #311
How to deal with this, if the described class is quoted as [RSpec core team recommends](https://github.com/rubocop-hq/rubocop-rspec/issues/228#issue-185291665) ([also related](https://github.com/rspec/rspec-core/issues/1610#issuecomment-46255261)):

[code]

`before`'s block will be called when the spec is executed, and the class is already loaded, it's something that is being used as a lazy loadin

[2019-08-20 12:05] pirj commented on #310
A small benchmark to keep in mind the performance implications of `double`/`instance_double`.

[code]

[code]

`double` is 100x slower than `new` (for simple objects), and 10x slower than `OpenStruct`.

[2019-08-20 12:27] pirj commented on #244
`be_true`/`be_false` are gone, and it's unclear if they'll re-appear.

There's also an `RSpec/Be` cop to discourage using those two:

- use `to be_nil` instead of `not_to be`
- use `not_to be_nil` instead of `to be`

`be_empty` is less specific than `eq({})`/`eq("")`/`eq([])`, and some prefer the examples to be more indicative and strict.

So, with the current state of things, we can consider a co

[2019-08-20 12:45] pirj commented on #425
Related to #221, (will supposedly be) fixed in #226.

[2019-08-20 20:28] bquorning commented on #244
I believe the points 2 and 3 from the original issue are still valid:

- Use be(true) instead of eq(true).
- Use be(false) instead of eq(false).

[2019-08-20 20:34] bquorning commented on #244
I guess the opposite argument could be made. If you want to test that a methods outputs an (the) instance of `TrueClass` and not just a “truthy” value, you probably want to use `eq(true)`. And in all other cases where `be(true)` *could* be used, we could recommend `be_truthy` to emphasise that we are doing value comparison.

[2019-08-20 20:44] pirj commented on #244
That makes sense. Sounds like a cop with two enforced styles.

[2019-08-20 21:31] mockdeep commented on #400
Yeah, we generally don't use `context` if there's only a single test for a condition.

[2019-08-20 23:06] andyw8 commented on #414
How about: "Avoid instance variables – use `let`, a method call, or a local variable (if possible)"

[2019-08-21 08:54] pirj commented on #414
This sounds just right.
@bquorning @Darhazer WDYT? I can make this change quickly.

[2019-08-21 08:56] bquorning commented on #414
I like it.

[2019-08-21 14:26] Drowze opened #813 "Suggestion: ExpectChange cop applied on negated matcher"
On RSpec one can do:

[code]

But it is not possible to do
[code]

A common solution for this is defining a negated matcher for `change`:
[code]

On doing this however, we lose the `ExpectChange` cop usefulness. I thought of creating a custom cop for it for my needs, as `not_change` is not standard. However, being it a common practice, I think that it would be nice for the `ExpectChange` cop to ha

[2019-08-21 14:54] pirj opened #814 "RSpec/ExpectChange mixes value expectation targets and block expectation syntax"
The current cop is quite puzzling to me, especially its [docs](https://github.com/rubocop-hq/rubocop-rspec/blob/3b612839f23772c782ab6436947bce3b0a31797f/lib/rubocop/cop/rspec/expect_change.rb#L18) and [specs](https://github.com/rubocop-hq/rubocop-rspec/blob/3b612839f23772c782ab6436947bce3b0a31797f/spec/rubocop/cop/rspec/expect_change_spec.rb#L31).

Trying to reproduce the syntax, but it fails for

[2019-08-21 14:56] pirj commented on #813
Seems closely related to https://github.com/rubocop-hq/rubocop-rspec/issues/333

[2019-08-21 20:54] pirj commented on #809
Closing this in favour of https://github.com/rubocop-hq/rubocop-rspec/issues/283
It makes more sense to add a CI check to make sure `rubocop-rspec` works with the earliest `rubocop` version it supports.

[2019-08-21 20:54] #809 closed

[2019-08-21 21:02] dgollahon commented on #808
I don't think `RSpec/OneLinerSyntax` is a good name because the tools used here are not strictly limited to one-line uses, despite the naming in the associated docs. I could write multiple `is_expected`s or spread out one of those onto multiple lines. I think this naming would be at least as confusing.

The original name is talking about _referencing_ the subject implicitly (which is what you are

[2019-08-21 21:08] dgollahon commented on #244
Why `eq` instead of `be` in this example? It'd be weird to do, but there could _potentially_ be classes that override `==` in such a way that this wouldn't be testing that it's really an instance of `TrueClass` so I'd always use `be`. RSpec's output formatting on `be` mismatches is a little less graceful than `eq`/`eql` though.

Wouldn't `eq(true)`/`eql(true)` be what you wanted for "value" compar

[2019-08-21 21:11] dgollahon commented on #398
I'd need to go over my old code to check if that'd work or not but my memory is that it's a bit trickier than that. I'll hopefully have some time to look over this in the next couple of weeks.

[2019-08-21 21:14] dgollahon commented on #811
IIRC, this is valid / another way to write `let(:foo) { nil }`. That could be a different cop (enforce explicit nil in lets?).

Either way, empty setup methods are probably worth checking.

[2019-08-21 21:16] pirj commented on #808
Fair enough on referencing the subject implicitly.

`NamedSubject`, however, has this spec:
[code]

Considering that the renaming itself will encumber the users to rename the cop in their config files it's just not worth it at this point.

[2019-08-21 21:16] #808 closed

[2019-08-21 21:25] dgollahon commented on #310
That's interesting. I wonder if there are any easy performance optimizations that could be upstreamed? There are several dynamic concepts in rspec that are a little slower than you'd expect. Still, we're talking very, very small amounts of time in absolute numbers and I think this would be a premature optimization for real test environments.

IMO, `OpenStruct` is very, very, very rarely the right

[2019-08-21 21:31] dgollahon commented on #808
huh! I forgot it worked like that. I guess that makes sense for the case where the subject is defined implicitly but it doesn't make sense if it's included from elsewhere. I guess that's why we have the `IgnoreSharedExamples` option.

Agreed. Maybe worth considering on a major version change or something if we have a lot of renames we want to do?

[2019-08-21 21:39] dgollahon commented on #316
@pirj I follow some of what you're saying but I'm actually not clear on your conclusion--are you saying we don't need a cop for this and doing `not_to have_received` is ok or the opposite?

[2019-08-21 21:54] pirj commented on #310
I've also tried with a named `OpenStruct`, but it was almost as slow as a named double. I assume `double` is as fast as it can be.

Agree that `OpenStruct` is a better replacement for a null object than a verifying double.

I also prefer doubles over `OpenStruct`, since they are a better fit semantically, and also avoid this undesirable null object behaviour that might not be obvious and can lead

[2019-08-21 23:28] pirj commented on #316
Yes, basically my point is that this cop is unnecessary.

I feel it's easier to explain with an example:

[code]

[code]

Non-isolated is slower (in this case insanely slower).

In both cases, we rely on `Backend`'s interface (`state` or `long`), as in the original example with `foo` we rely either on `decrease_counter` or `counter`.
However, we have an agreement that `Notifier` is able to call `l

[2019-08-22 15:12] pirj commented on #803
@elad-maimon Ping.

[2019-08-22 15:14] pirj commented on #801
@glindsey A polite ping.

[2019-08-22 17:54] shanecav84 commented on #801
I had the same error, and the fix in `master` is working.

[2019-08-22 19:04] pirj commented on #801
Thanks, good to know @shanecav84 !

@bquorning The stack traces are near identical, I believe it's the same issue fixed in #800. Do you think it's possible to close this, or should we release and wait for the confirmation first?

[2019-08-22 20:54] glindsey commented on #801
Phil:

Sorry! I checked the fix, and it does indeed resolve the problem. Thanks!

- Greg

[2019-08-22 20:58] bquorning commented on #801
Thank you @glindsey, that’s good to hear. 👍  I’ll close the issue, then.

[2019-08-22 20:58] #801 closed

[2019-08-23 09:15] #814 closed

[2019-08-26 08:28] JanStevens opened #817 "Bug: RSpec/IteratedExpectation for receive(:message)"
Hello,

I have some specs that check if every class receives the same message

[code]

With rubocop-rspec I receive the following warning:

[code]

But with `expect(...).to receive(:message)` there is no way to use the `all` syntax, as the following is invalid:

[code]

Results in

[code]

Regards,

[2019-08-29 02:03] alagos commented on #674
For anyone having this issue on minitest.
What I did was to copy all the factory files to `spec/factories`, run the cop and then copy all the files fixed back to the original folder.

[2019-08-31 07:45] dgollahon commented on #316
Got it.

I'm in favor of just closing this--I don't think it has a clear enough benefit to merit a cop. @bquorning, do you have a dissenting opinion?

[2019-09-01 13:21] pirj commented on #817
@JanStevens Can you please provide a bit more context, or probably try to narrow down the issue.
An example using `all` with `receive` follows, is there some difference with your use case?
[code]
[code]

[2019-09-01 18:17] #414 closed

[2019-09-02 03:02] QQism opened #818 "Rspec/SubjectStub: false negative with implicit subject"
Rubocop-rspec does not detect the SubjectStub offenses when using the implicit subject

For example: no offense is reported with the following code, which it's supposed to be
[code]

On the other hand, the offense can be detected while the subject is explicitly defined.

[code]

## Rubocop version

[code]

[2019-09-05 16:03] luke-hill opened #820 "Non-Blocking-Bug: RSpec/MessageSpies"
Set the following config

[code]

Run `rubocop`

Observe failures

The full error is very long but looks like it's trying to do something against the type safety

[code]

This was ran against the SitePrism repo, whilst trying to fix these issues - https://github.com/site-prism/site_prism/blob/master/.rubocop_todo.yml#L53

[code]

This didn't stop the rubocop tool from working, and it did report th

[2019-09-05 19:18] pirj commented on #820
@luke-hill Can you please provide more detailed backtrace?
I can't reproduce on `site_prism` master branch with Ruby 2.5.5.

[2019-09-06 09:00] luke-hill commented on #820
[code]

[2019-09-06 09:07] luke-hill commented on #820
https://travis-ci.com/site-prism/site_prism/jobs/231773214 is a CI job runnign with it

[2019-09-06 09:39] pirj commented on #820
@luke-hill [This](https://github.com/site-prism/site_prism/commit/a2fc47894986958a8906d71ee8524b0f97b11be0#diff-11a0d7906801d9dea0eccb85667ad811R51) is where the problem originates from. The fix is trivial:
[code]

@bquorning @Darhazer Do you think this misconfiguration possibility is something that needs Core RuboCop attention? I think of restricting `SupportedStyles` and maybe some other core op

[2019-09-06 10:27] bquorning commented on #820
I’m not sure rubocop has any distinction between “official” configuration files and user-defined configurations. Of course we want to still be able to use `SupportedStyles` in rubocop-rspec’s configuration file ;-)

[2019-09-06 10:28] bquorning commented on #820
I just want to add, I have also configured `SupportedStyles` in my rubocop configuration file. More than once. 🤦‍♂

[2019-09-06 10:51] pirj commented on #820
It's not a big deal if it's a list ¯\_(ツ)_/¯

[2019-09-08 17:58] #283 closed

[2019-09-15 11:26] QQism commented on #818
Hello, if this issue has been overlooked, I'm happy to look into the code and see what I can help.

[2019-09-15 12:21] pirj commented on #820
Did the fix work for you, @luke-hill ? Do you mind to close the issue, or do you think anything still needs to be addressed in the scope of this ticket?

[2019-09-15 12:22] pirj commented on #817
@JanStevens A friendly reminder to provide more context to reproduce the issue.

[2019-09-15 12:36] pirj commented on #818
@QQism Sorry for not getting back to you in a reasonable time.
I side with you that this is a defect and in this case, it should raise an offence, however not sure what the core team would say.

I've started hacking on this, and I had an impression that this won't be an easy fix due to how the offences are being detected: a subject declaration is found, and then the AST is walked down to find expe

[2019-09-15 12:38] pirj commented on #803
@elad-maimon A friendly reminder to provide more context regarding the issue.

[2019-09-16 06:37] luke-hill commented on #820
I think something still needs fixing. Because you should never get a massive stacktrace. Something needs fixing, even if it's just

`"Please ensure SupportedStyles is an Array"`

[2019-09-16 09:55] bquorning commented on #820
@luke-hill I think that would be an issue for `rubocop-hq/rubocop`. Could you open an issue there, please? (I could probably also transfer this issue)

[2019-09-16 10:57] dmytro-savochkin commented on #611
Since this is still a problem and it's hard to find out how to fix this maybe it would be better to rename `RSpec/Rails/HttpStatus` to `RSpec/StatusHttp`? Yes, it might be ugly but at least this won't have any conflicts...

[2019-09-19 16:15] ixti commented on #611
Any news/plans on fixing this?

[2019-09-19 16:19] ixti commented on #611
Right now I have to switch orders of requires to check both cops worked...

[2019-09-20 18:14] mockdeep opened #822 "EmptyLine rules for `it` and `context` blocks"
There are `EmptyLine` rules for several test constructs like `describe` and `subject`, but not for `it` blocks and `context` blocks. It would be nice to be able to enforce consistency around these as well. For example:

[code]

Similarly for `context` blocks:

[code]

[2019-09-20 18:53] pirj commented on #822
It seems that an empty line after `context` is [covered by `EmptyLineAfterExampleGroup`](https://github.com/rubocop-hq/rubocop-rspec/blob/master/spec/rubocop/cop/rspec/empty_line_after_example_group_spec.rb#L53).

I believe a new cop, `EmptyLineAfterExample` would be mostly a copy-paste from `EmptyLineAfterExampleGroup`:
[code]
and `describe`/`context` replaced with `it`/`specify` in spec.

Would

[2019-09-22 10:37] Darhazer commented on #822
@pirj it was already commented in #272

EmptyLineAfterExample is one of the planned cops, actually, the only one left to solve #272 completely. I'd love to have it an option not to require empty line between single lines examples though.

[2019-09-22 16:36] mockdeep commented on #822
@pirj I can add it to my todo list, though I don't know if I'll get a chance in the near future.

[2019-09-24 11:38] Darhazer commented on #272
The last bit was fixed in #823

[2019-09-24 11:38] #272 closed

[2019-09-26 21:43] #798 closed

[2019-09-27 10:12] #775 closed

[2019-10-06 22:02] QQism commented on #818
I’ve pushed a PR to fix this issue, any comment or feedback is very welcome.

[2019-10-07 10:51] dmytro-savochkin opened #830 "Bug: false positive of RSpec/LetSetup with context and outer shared_examples"
This issue produces false positives of Rspec/LetSetup with the latest rubocop-rspec (1.36.0) when we put `let!` inside some context and we also have `shared_examples` referencing that `let!` outside the context.

Something like this:
[code]

If we are to run rubocop-rspec on the code above it would produce the following:
[code]

[2019-10-08 18:17] Darhazer commented on #830
This is a limitation of the static analysis. The shared examples could be defined in a separate file as well, and Rubocop does not cross-reference files. I would suggest to explicitly pass `user` in this well, like
[code]
and
[code]

This way you will not have a hidden dependency in the code.

[2019-10-09 17:58] kellysutton commented on #735
I can tell a small story as to why this should be a cop to consider. Specifically, re-opening modules in tests can confuse the Rails autoloading mechanism.

If you write:

[code]

And then you have code that refers to a constant defined on `Foo::Bar`, e.g. `Foo::Bar::WIDGETS`, this test code will fail if eagerloading is disabled. Why? Rails autoloading thinks it's already loaded the `Foo::Bar` mod

[2019-10-22 10:17] #818 closed

[2019-10-24 19:02] tit opened #833 "Add strongest rules for parse shared_context vs context"
`shared_context` is not `context`, but rubocop-rspec say: `Start context description with 'when', 'with', or 'without'` on `shared_context`.

[code]

[2019-10-25 00:52] pirj commented on #833
Thanks for reporting this @tit.
Can you please share at least a part of `spec/shared_context/time.rb`?

[2019-10-27 02:26] ixti commented on #611
I have fixed this issue locally with following hacks:

[code]

---

[code]

---

[code]

[2019-10-27 03:09] ixti commented on #611
I've added initial work to fix this issue:

https://github.com/ixti/rubocop-rspec/commit/ac8f0480b2c60a28f501f4a6e50a7580060675db

[2019-10-27 18:27] pirj commented on #405
Wondering if it's still the case, since in the earliest RuboCop supported, 0.68.1, this cop is now [named `Naming/FileName`](https://github.com/rubocop-hq/rubocop/blob/98b03406bcfa091e26a6bd936f3107ce9d9e372d/config/default.yml#L1864).

[2019-10-27 18:33] pirj commented on #611
@ixti [the code required to support sub-departments](https://github.com/rubocop-hq/rubocop-rspec/compare/master...ixti:fix/rails-cop-names) looks non-trivial, I'm not sure if it will have a warm welcome in RuboCop.

WDYT of renaming this cop to `RSpecRails/HttpStatus`? `have_http_status` is [an RSpec-Rails' matcher](https://github.com/rspec/rspec-rails/blob/a60adc94694177ca8cf3d126f6684c579e83307e

[2019-10-27 23:23] ixti commented on #611
@pirj Yeah, I thought that it won't be welcomed :D It was more like a "what about" example to have some input ideas on. And I totally love your renaming idea.

[2019-10-27 23:59] ixti commented on #611
@pirj opened a PR with renaming (#834).

[2019-11-04 10:29] typhoon2099 commented on #830
I have just tried the proposed solution and it causes failures in my tests, as the `user` created by FactoryBot is reused between tests (since it is created outside of a test context). You also cannot declare `user` in a let above the include_examples and use it as a parameter for the same reason.

[2019-11-04 10:56] pirj commented on #830
How about
[code]

[2019-11-04 10:57] typhoon2099 commented on #830
That works, but it still raises a RSpec/LetSetup warning.

[2019-11-04 20:09] Darhazer commented on #830
I guess the cop should really ignore `let!` inside `include_examples` blocks, as it can't determine whether the let is used in the shared examples or not

[2019-11-04 20:24] pirj commented on #830
Agree. Another exception would be an example group that is including examples, since it's impossible to determine if it's referenced or not.

[2019-11-04 20:51] roman-dubrovsky opened #835 "Allow to catch RSpec/ExpectInHook offenses in the setup block"
`RSpec/ExpectInHook` is a great cop that allows us to detected expectation usage in the hook. Unfortunately, it does not work with `setup` block which is a part of `rspec-rails` gem.

Here is a valid Rspec example that won't be detected via RuboCop.

[code]

Probably, for fixing that issue we just need to extend the language dictionary and add new hook. https://github.com/rubocop-hq/rubocop-rspec/

[2019-11-06 09:04] luke-hill opened #837 "Autogenconfig doesn't exclude RSpec/NestedGroups"
I've added this here as it feels like a core rubocop issue (not from rubocop/rspec)

When you have both a manually defined config and an autogenerated config for RSpec/NestedGroups - `rubocop` will always fail

--------

## Expected/Actual behavior

- Create a codebase, with some rspec tests which have 5 nestings
- Set `.rubocop.yml` to
[code]
- Run `rubocop --auto-gen-config`
- Observe the todo f

[2019-11-06 09:18] pirj commented on #837
@koic I believe the `NestedGroups` is only used as an example, and the problem is not related to RuboCop RSpec. It would be easy to reproduce the same issue with, say, `ModuleLength`.

As far as I understand, if there's a setting in `.rubocop.yml` and there are offences in the codebase when a `.rubocop_todo.yml` gets generated with a more permissive setting, it's getting overridden by a more stric

[2019-11-06 09:26] luke-hill commented on #837
Also, I think it's with the way the auto-gen works.

When auto-gen has excludes, they're ignored fine. And can be combined with a rule override.

When auto-gen has a rule override, and you provide a more recessive rule override then the issue occurs.

i.e.
[code]
combines with
[code]

BUT

[code]
DOES NOT combine with
[code]

[2019-11-06 09:35] koic commented on #837
@pirj Oops. Thanks for your explanation.

[2019-11-16 15:51] bbugh opened #840 "Regression 1.36.0: RSpec/Pending ignores skip/pending with a string"
We have some legacy specs that use `skip: "message"` along with a `rubocop:disable RSpec/Pending` for business reasons.

The line of code in question is correctly skipped by RSpec, but Rubocop v1.36.0 no longer correctly reports that it is a pending.

[code]

✅ Rubocop 1.35.0

[code]

❌ Rubocop 1.36.0

[code]

It looks like it changed in the commit here by @pirj: https://github.com/rubocop-hq/rubo

[2019-11-16 17:41] pirj commented on #840
Thanks for bringing this up @bbugh 👍

[2019-11-16 17:44] #840 closed

[2019-11-16 19:51] bbugh commented on #840
Rad, thanks for the quick fix!

[2019-11-20 11:51] pirj commented on #833
@tit ping

[2019-11-20 11:59] pirj commented on #835
Related to https://github.com/rubocop-hq/rubocop-rspec/issues/333
In addition to aliases to examples/example groups, consider also configuring hooks and matchers that we treat as "built-in".

[2019-11-20 12:00] pirj commented on #820
@luke-hill Just in case, have you notified `rubocop` team about this?
@bquorning I believe this issue can be closed.

[2019-11-20 12:13] pirj opened #842 "Stubbing `__send__`"
I've noticed the following in one project:
[code]

It results in a warning message coming from rspec-mocks:
[code]

Can't come up with a good reason to stub `__send__`/`send`/`public_send` when a `with` qualifier is given with a defined method name. Although it might be hard to distinguish a local var/method call from argument matchers like `anything`/`any_args`.

Also affects `have_received`/`rec

[2019-11-20 12:45] #820 closed

[2019-11-20 20:09] ndbroadbent opened #843 "RSpec/RepeatedExample false positive"
I'm seeing this error: `RSpec/RepeatedExample: Don't repeat examples within an example group.`

[code]

Is the `@@` causing some problems with the string matching? (This is an internal prefix that I use for some field names.)

UPDATE: Actually it's still happening when I remove the `@@`:

[code]

Is this just because my test names are too similar?

[2019-11-20 20:12] ndbroadbent commented on #843
Sorry this was because the test code was identical! I forgot to update the variable inside the copied test.

![image](https://user-images.githubusercontent.com/139536/69274354-c441aa00-0c0c-11ea-802b-cdb69f537871.png)

[2019-11-20 20:12] #843 closed

[2019-11-21 13:56] luke-hill commented on #820
I didn't notify the original team no sorry @pirj

[2019-11-21 14:03] pirj commented on #820
@bbatsov @koic Is validating proper user-defined configuration (`.rubocop.yml` vs `config/default.yml`) something you'd like to add you the roadmap?

[2019-11-22 21:23] cdmo commented on #53
I know this issue is closed and done, but, can someone explain why this is a rule? Is it due to ambiguity? Why explicitly define a `subject` if you're aren't going to reference it? Thanks

[2019-11-22 23:15] pirj commented on #53
@cdmo Below are some links and quotes to shed some light on this topic.

http://lelylan.github.io/betterspecs/#subject (aka http://www.betterspecs.org/#subject), https://github.com/rubocop-hq/rspec-style-guide/issues/29, and https://www.rubydoc.info/gems/rubocop-rspec/RuboCop/Cop/RSpec/NamedSubject, most importantly last one:

http://rspec.info/documentation/3.9/rspec-core/RSpec/Core/MemoizedHelpe

[2019-11-25 14:38] cdmo commented on #53
Thank you @pirj for the quick and thorough reply. I think I still struggle a bit with this one, but the rule does prevent ambiguity, making it clearer in each individual test what is being tested. Also important is that it's a ruby convention and standard of the community, which makes it an expectation of ruby programmers. Thanks again.

[2019-11-25 16:26] pirj commented on #53
You are always welcome!

[2019-11-25 17:32] pirj commented on #842
Ping

[2019-11-25 17:33] pirj commented on #833
@tit ping

[2019-11-25 17:33] pirj commented on #817
@JanStevens ping

[2019-11-25 18:03] JanStevens commented on #817
My bad should have closed the issue

[2019-11-25 18:03] #817 closed

[2019-11-25 19:37] pirj commented on #833
What I originally meant is a potential misuse of `shared_context`, it's often used as `shared_examples`, and doesn't carry any context in it. On the other hand, if a shared context brings some context, chances are high that it can be named as `ContextWording` suggests, e.g. `with additional time stubs` and used correspondingly:
[code]

Please don't get me wrong, I don't assume you write specs in a

[2019-11-25 19:46] pirj commented on #806
@chitsaou #838 has just been released in 1.37.0 allowing you to configure `RSpec/PredicateMatcher` to ignore specific matchers:
[code]

Do you think this is sufficient?

On a side note, it would be incredible to add such configuration to corresponding projects (e.g. `webmock` and `shoulda-matchers`), however, I'm afraid it will override each other.
@Darhazer  do you think it's a reasonable approac

[2019-11-25 19:59] pirj commented on #803
@elad-maimon I've tested your code against a pretty old `rubocop-rspec` version 1.26.0 and can reproduce the issue:
[code]

This was in some way fixed in more recent versions. I suggest you update `rubocop-rspec`.
If you feel that there's anything actionable in the scope of this ticket, please feel free to reopen.

@bquorning I believe we can close this.

[2019-11-25 20:26] pirj commented on #753
I'm not sure I correctly understand this. Particularly, this bad example for nested `describe`:
[code]
gets me worries as I tend to use example groups to group similar examples, e.g. validations:
[code]

I don't really mind, however, I don't really understand the reasoning behind having several root example groups in a spec. I agree that they are still logically grouped by a spec file, however I c

[2019-11-25 21:25] #803 closed

[2019-11-26 10:56] bquorning commented on #842
I think the warning from rspec-mocks is fine. Do you feel that rubocop-rspec should also warn users of the same problem?

[2019-11-26 11:13] Darhazer commented on #806
I don't think it's currently possible.
It would be nice to provide such an API for 3rd party extensions to adjust rubocop config, although it could become rather complicated.

For the time being, we will need to pull the list of matchers from popular gems.

[2019-11-26 12:06] chitsaou commented on #806
@pirj This new option of `RSpec/PredicateMatcher` cop allows us to adjust the whitelist. Really appreciate your help and the works from @mkrawc. You're awesome 🎉

I agree that managing a list might be hard, but at least we have a start :)

Thank you all again!

[2019-11-26 12:06] #806 closed

[2019-11-26 13:11] pirj commented on #842
In general, rspec-mocks' warning is enough to give an idea that something is wrong. On the other hand, some people tend to ignore warnings, while RuboCop checks are often part of CI's checks and in some way affect or are automatically added to pull requests as code review notes that makes them more visible.

Another concern is that that warning is a bit cryptic, as it mentions removal "removing `_

[2019-11-26 13:11] #842 closed

[2019-11-26 13:12] pirj commented on #833
@bquorning There's not much input from issue creator, WDYT of closing it for now?

[2019-11-26 13:29] #833 closed

[2019-12-12 17:59] pirj commented on #749
Can you provide some reproducible scenario, @gbudiman @sAnti09 ? Something involving ruby version installation and a repository that crashes would do.

[2019-12-20 10:33] Epigene opened #850 "RSpec/ScatteredSetup falsely triggers on blocks with different metadata"
Version: 1.37.0

Code:
[code]

What happens:
RSpec/ScatteredSetup cop is triggered.

What I expected to happen:
RSpec/ScatteredSetup cop to not trigger, since both blocks are distinct and can not be combined.

[2019-12-20 17:18] pirj commented on #769
Controller specs are deprecated in favour of request specs. Do you think it still makes sense to implement this?

[2019-12-20 17:18] pirj commented on #753
@geniou Can you please shed more light on the idea?

[2019-12-29 04:32] schwern opened #852 "RSpec/InstanceVariable should ignore variables inside matchers."
RSpec/InstanceVariable is flagging instance variables inside matchers embedded in spec files. AFAIK instance variables are necessary for anything but a trivial matcher and replacing them with the suggested local variable, let, or method call would be inappropriate.

An example from the RSpec docs: [chained method with argument](https://relishapp.com/rspec/rspec-expectations/v/3-9/docs/custom-match

[2020-01-03 10:39] #852 closed

[2020-01-04 10:35] #850 closed

[2020-01-07 17:40] lazycoder9 opened #856 "Cop idea: detect repeated describe/context description"
In the company, we had a situation when someone pushed specs with duplicated context occasionally and only PR reviewers caught it.
[code]

We tried to find some cops in `rubocop-rspec` which will detect this kind of occasion, but there were only `RSpec/RepeatedExample` and `RSpec/RepeatedDescription` and these cops do not detect repeated descriptions in `describe/context`, only examples.
So my que

[2020-01-10 08:19] ShockwaveNN opened #857 "Is `rubocop-rspec` require `require: false` in gemfile entry"
RuboCop Readme has entry, that RuboCop should be added in gemfile with `require: false` param
https://github.com/rubocop-hq/rubocop/blame/master/README.md#L47

Does `rubocop-rspec` should be default with same param? Or it inherit this value from `rubocop`?

[2020-01-10 14:39] Darhazer commented on #857
This has nothing to do with `rubocop` or `rubocop-rspec`, but with the fact, that this is a tool usually used in development, and run command line, so you don't need your app to actually load Rubocop or it's extensions.

So I would say
[code]
would be the preferred way to add `rubocop-rspec` to your Gemfile.

[2020-01-10 14:54] ShockwaveNN commented on #857
@Darhazer Ok, thanks. Should I create PR with addition to README?

[2020-01-11 10:05] pirj commented on #857
Yes, please @ShockwaveNN

[2020-01-15 12:25] #857 closed

[2020-01-15 12:47] pirj commented on #856
It does make sense to add a new cop. Should be pretty straightforward, since `RepeatedDescription` is very similar code-wise.

[2020-01-15 13:16] lazycoder9 commented on #856
@pirj Hey, thanks for reply. Actually, several days ago I've already created [PR](https://github.com/datarockets/datarockets-style/pull/149) I'm our company's rubocop repository with new 4 cops. And yes, I took main ideas from `RSpec/RepeatedDescription` implementation, but code is still very raw - there is not enough test cases in cops' specs. So, if you agree, I can move this PR here and firstly

[2020-01-15 14:07] pirj commented on #856
Perfect!
I'm thinking that `RepeatedDescribeBody` and `RepeatedContextDescription` could be merged into one with a couple changes:
[code]
There are actually more example group types (`example_group`/`feature`/...) all conveniently pre-defined [here](https://github.com/rubocop-hq/rubocop-rspec/blob/master/lib/rubocop/rspec/language.rb#L48) so it's possible to use:
[code]
[code]
Also, group them by

[2020-01-19 18:26] mockdeep opened #862 "Cop Idea: NoLet"
It would be nice to have a rule that disallows the use of `let`. I've been moving in the direction of avoiding them in my tests. Instead I'll err on the side of a little more duplication in my tests. In cases where there is a lot of setup, I'll instead define methods or factories to encapsulate the logic. More in [this thoughtbot article](https://thoughtbot.com/blog/lets-not).

[2020-01-19 20:09] pirj commented on #862
This style exists and has its proponents, see [discussion in the style guide](https://github.com/rubocop-hq/rspec-style-guide/issues/94).
Please keep in mind that a named subject [is also just a regular `let`](https://github.com/rspec/rspec-core/blob/master/lib/rspec/core/memoized_helpers.rb#L418).

There's also [a word of precaution](http://rspec.info/documentation/3.9/rspec-core/RSpec/Core/Memoi

[2020-01-19 20:49] mockdeep commented on #862
Thanks for the links. I'm not necessarily advocating for changing the style guide, though, just adding rules to support this style of writing tests.

One thing I see differently from the person in the style guide thread is that I also prefer to avoid instance variables. To me they have their own caveats that make them troublesome. For example, they are un-lintable. Rubocop cannot tell us when they

[2020-01-19 20:49] mockdeep commented on #862
Thanks for the links. I'm not necessarily advocating for changing the style guide, though, just adding rules to support this style of writing tests.

One thing I see differently from the person in the style guide thread is that I also prefer to avoid instance variables. To me they have their own caveats that make them troublesome. For example, they are un-lintable. Rubocop cannot tell us when they

[2020-01-19 20:58] pirj commented on #862
Indeed. Would you still be interested in advocating helper methods in the style guide? There's a [related discussion](https://github.com/rubocop-hq/rspec-style-guide/issues/70#issuecomment-503289281) there.

[2020-01-19 20:58] pirj commented on #862
And, of course, a pull request for `NoLet` is always welcome.

[2020-01-21 16:16] Darhazer commented on #862
What do you think of having a cop for a maximum number of `let`s an example group may have?

[2020-01-21 18:09] mockdeep commented on #862
@Darhazer I'm open to that. I've noticed that rules seem to avoid using `No` in the name so I was wondering if there was a positive phrasing. `MaxLet` or `MaxLets`. I've noticed that `Max` tends to be avoided in naming as well, though... `LetCount`, `LetUsage`?

[2020-01-21 18:13] pirj commented on #862
I support the idea. We can even enable the cop by default with `Max: 3` setting.
Does `RSpec/MemoizedHelpersInExampleGroup` sound like a reasonable name for such a cop?

[2020-01-21 18:29] mockdeep commented on #862
@pirj `ExampleGroup` makes me wonder how nesting is going to play into this. Do we want total per file? Or total per nesting level? This is starting to sound complicated...

[2020-01-21 19:28] pirj commented on #862
Good question. Also keeping in mind included contexts that might contain lets as well, it's an unreachable goal to properly count them all.

[2020-01-23 20:01] mlarraz opened #864 "RSpec/EmptyExampleGroup passes when invalid examples nodes are found"
Consider the following example:
[code]

`#it` is not available inside this context, so we would expect an exception to raise. However, since there are no examples, the `before` block is never executed.

The `RSpec/EmptyExampleGroup` rule should catch this, but because there is technically an `it` inside the `describe` block, it passes. The end result is both RSpec and Rubocop pass, but the test an

[2020-01-23 22:34] pirj commented on #864
Good catch.
I've seen `before` inside a `before` and was always wondering how it has passed so many spec runs.

[2020-01-23 22:43] pirj commented on #864
Pull request is welcome.
I suggest changing `def_node_search` to `def_node_matcher` and the following:
[code]

[2020-01-28 14:24] #856 closed

[2020-01-30 01:24] pirj commented on #835
Would you like to take a stab on this @roman-dubrovsky ?
It encompasses renaming `ALL` in `Language::Hooks` to `BUILTIN`, adding a `CUSTOM` that would load custom hooks from `AllCops/RSpec`, and adding an `ALL` as a union of `BUILTIN` and `CUSTOM`. Plus, documentation on how to configure it in the project using RuboCop RSpec.

That would be a solid first step to solve a number of outstanding issue

[2020-02-03 12:50] p0deje opened #868 "Disable RSpec/MessageSpies cop by default"
According to @Darhazer the cop should have been disabled by default. I do understand there are reasons (#268) for it to exist and encourage AAA in tests, but there are cases/codebases where it's not appropriate to enforce it.

[2020-02-03 13:22] pirj commented on #868
Do you mean that the cop should be kept enabled, but the default style should be `EnforcedStyle: receive`?

[2020-02-03 13:31] p0deje commented on #868
Maxim mentioned that it should not be enabled by default:

I am actually not 100% sure what should be done. @Darhazer Could you please weigh in?

[2020-02-03 13:34] Darhazer commented on #868
I was under the impression that it is a disabled by default cop, perhaps due to [this comment by backus](https://github.com/rubocop-hq/rubocop-rspec/issues/428#issuecomment-308353105)

I'm fine with changing the default though. `receive` is the more common style. @bquorning WDYT?

[2020-02-06 17:51] nomasprime opened #870 "Unexpected Style/MethodCallWithArgsParentheses warning for chained expectations"
I'm getting `Style/MethodCallWithArgsParentheses` warning but surely that cop should ignore this kind of example:

[code]

[2020-02-06 18:19] nomasprime opened #871 "Unexpected Lint/AmbiguousBlockAssociation warning"
Get a warning for:

[code]

But not for:

[code]

[2020-02-07 13:16] pirj commented on #870
Even though the code is a spec, the cop is from main `rubocop`. I suggest you to open an issue there and add the offence message and your related configuration for the cop for completeness.

[2020-02-07 13:16] #870 closed

[2020-02-07 13:16] pirj commented on #871
Even though the code is a spec, the cop is from [main `rubocop`](https://github.com/rubocop-hq/rubocop-rspec/issues/). I suggest you open an issue there and add the offence message and your related configuration for the cop for completeness.

[2020-02-07 13:16] #871 closed

[2020-02-07 20:42] nomasprime commented on #870
I realised that but added here because I thought Rubocop RSpec would override Rubocop, that's not the case?

[2020-02-08 09:22] pirj commented on #870
No, at least I'm not aware if this is possible somehow.

One thing I may suggest is to put RSpec-specific RuboCop rules in `spec` directory.

However, the examples that you mention in this issue and also the other seem to make sense in general for different DSLs, not only for RSpec. Let's see what RuboCop core guys say.

[2020-02-08 12:00] lazycoder9 opened #873 "RSpec/RepeatedDescription take metadata into account"
According to this [comment](https://github.com/rubocop-hq/rubocop-rspec/pull/860#discussion_r367659300) from @pirj, there is an issue with `RSpec/RepeatedDescription` cop. This issue does not take metadata of examples into account and registers offense for examples like
[code]

And examples above should not be flagged

[2020-02-08 18:47] pirj commented on #873
Nice catch! Would you be interested in submitting a pull request?

[2020-02-08 18:49] lazycoder9 commented on #873
@pirj sure, why not

[2020-02-10 21:14] #873 closed

[2020-02-11 09:22] bquorning opened #876 "Bug in RSpec/RepeatedDescription"
In v1.38.0 (after #874), RSpec/RepeatedDescription started reporting “Don't repeat descriptions within an example group” on descriptions consisting of interpolated strings.

Example of a failing spec:
[code]

As far as I can tell, there are two problems involved:

1. `RuboCop::RSpec::Example#doc_string` only considering `str` and not `dstr` nodes in https://github.com/rubocop-hq/rubocop-rspec/blob

[2020-02-11 10:16] pirj commented on #876
@lazycoder9 Looks similar to how you've covered it in [`RepeatedExampleGroupDescription`](https://github.com/rubocop-hq/rubocop-rspec/pull/860/files#diff-496c3e81c602aa626d84fe6ca8a3e8e6R179). Do you have time to take a look?

[2020-02-11 10:28] lazycoder9 commented on #876
@pirj yeah, pretty similar, will look into it ASAP

[2020-02-11 12:59] jimbali commented on #876
Getting this issue too since the last update. Example:
[code]
[code]

[2020-02-11 13:07] pirj commented on #876
Wondering if it's a separate case or the same problem.
Are there any other similar example description in the same example group, or just this one inside the interation @jimbali ?

[2020-02-11 13:18] jimbali commented on #876
It's actually more like:
[code]

[2020-02-11 13:23] bquorning commented on #876
I think it’s the `str` vs `dstr` issue I mentioned. I have a failing case like this:
[code]
[code]

[2020-02-11 13:41] pirj commented on #876
Let's make sure the ones inside iterators are distinguished properly, even if docstrings are identical.

[2020-02-11 18:57] lazycoder9 commented on #876
@pirj @bquorning locally, I've fixed issue with `dstr` and cases like
[code]
does not registers offenses. But I wonder how examples inside iterators can be solved (or even should be solved)? But it is OK for a case like this
[code]
WDYT?

[2020-02-11 19:03] bquorning commented on #876
I see what you mean. In your code example the example group descriptions (`"doing x"`) are identical, and the code _could_ be written as
[code]

I would imagine that would be very hard to detect (and even harder to autocorrect).

But identical examples or example descriptions within the same iterator can be detected, right? E.g.
[code]

[2020-02-11 20:16] lazycoder9 commented on #876
@bquorning Yeap, I've added test case with the last examples in same iterator and offenses were detected

[2020-02-12 04:54] wscourge opened #880 "Suggestion: add whitelist to RSpec/SubjectStub"
I cannot find a workaround other than disabling the cop for `Kernel` methods, such as `system` and `sleep`.

If there is any, I'd love to know it.

Some highly upvoted answers on StackOverflow, as for example [RSpec: stubbing `Kernel::sleep?`](https://stackoverflow.com/a/1303832/6439240) suggest doing exactly what the cop treats as a violation.

I created [a simple sandbox repository for just that

[2020-02-12 09:24] obfuscoder opened #879 "RSpec/RepeatedDescription should not fire when using rspec-its"
We are using rspec-its and after updating rubocop-rspec experienced a lot of reports for this rule violation.

We often use contexts and check the resulting objects for specific attribute values like so:

[code]

rubocop-rspec complaints about the two its-statements sharing the same description.

We do not expect this rule to pick up those autogenerated descriptions.

(**EDIT**: I updated this tex

[2020-02-12 10:22] pirj commented on #879
That's weird, I can't reproduce on `master`.
Can you please provide a reproducible example?

[2020-02-12 11:08] georgebancila commented on #879
[code]
this code raises these problems

[code]

[2020-02-12 11:14] jimbali commented on #876
Also broken since the last release:
[code]
[code]

[2020-02-12 11:20] pirj commented on #880
I assume the following might work for you:
[code]

[2020-02-12 11:21] pirj commented on #879
@lazycoder9 Yet another interesting case to look at.

[2020-02-12 11:23] pirj commented on #876
This should be pretty much covered with `dstr`:
[code]
Won't hurt to add an example though.

[2020-02-12 11:25] lazycoder9 commented on #876
@jimbali nice case to test, will check it too

[2020-02-12 11:57] obfuscoder commented on #879
Ok I misinterpreted the violation report. I originally assumed the violation was complaining about the same content of the its term. Instead it complained because there was another its term above it:

[code]

And this is what @georgebancila showed as well.

[2020-02-12 15:14] andyw8 commented on #880
One approach would be to wrap the system calls in your own class or module, e.g.:

[code]

which you can then easily stub:

[code]

I would avoid globally stubbing methods on `Object` or `Kernel` since it could affect the internal behaviour or RSpec or Ruby.

[2020-02-12 16:19] pirj commented on #880
Another option is to call it explicitly as `Kernel.system('which git')`.

[2020-02-14 20:57] #876 closed

[2020-02-16 10:38] lazycoder9 commented on #879
@pirj @obfuscoder @georgebancila just tried to reproduce your issues locally and there were no offenses on your code samples. Seems last PRs (#877 and #881) fixed it

[2020-02-16 11:48] pirj commented on #879
Confirming, the issue went away:
[code]

[2020-02-16 11:55] pirj commented on #879
However, it might be just a coincidence. Now, we [consider the first argument to `its` a docstring](https://github.com/rubocop-hq/rubocop-rspec/pull/877/files#diff-61cee780d9ddb8daab6cf77ac77e32adR7):
[code]
So RepeatedExample ignores those as it thinks their descriptions are different.

Not sure if there might be some problems with that going forward, but at least it's confusing.

Since `RuboCop:

[2020-02-16 12:05] pirj commented on #879
Actually, `its` is a special case, and it doesn't support docstrings.
Is there a good reason not to treat its primary argument as a docstring?
In this case, no lib code changes are necessary. Maybe a couple of examples showing how docstring (primary argument) and meta are extracted by `RuboCop::RSpec::Example`.

The only corner case (sorry for a very contrived example) I can think of:
[code]
Doesn

[2020-02-27 13:10] bquorning commented on #868
To quote myself from issue https://github.com/rubocop-hq/rubocop-rspec/issues/268#issuecomment-269707746:

That pattern is, as @p0deje mentions, also known as AAA (Arrange, Act, Assert).

The `MessageSpies` cop can be configured to use either spies (default behaviour) or “regular” mock objects (with the `EnforcedStyle: receive` configuration).

If we disable the cop, we are saying there is no need

[2020-02-27 19:44] pirj commented on #868
I could try to find proof that `MessageSpies` are disabled more often than not in [`real-world-ruby-apps`](https://github.com/jeromedalbert/real-world-ruby-apps), but couldn't.

@p0deje are you up to confirm my results and try to find proof in [`real-world-rails`](https://github.com/eliotsykes/real-world-rails)?

That would be an argument to change the enforced style.

If you are not up for such a

[2020-02-27 19:50] bquorning commented on #868
Just for the record: I’d like better to change the default configuration than to disable the cop by default. But I think it would be confusing for our users.

[2020-03-01 02:22] p0deje commented on #868
There are just 12 examples where the cop is disabled in real-world-rails:

[code]

There are only 2 examples where `receive` is a preferred style:

[code]

[2020-03-10 13:17] StuartHadfield commented on #830
I'm fairly certain this isn't limited to shared examples.

If you have a top-level subject and create an object inside a context with a `let!`, you will get the same false positive.

I.e.

[code]

[2020-03-16 21:06] Kukunin commented on #879
Happens to me as well on the latest version:
[code]

I believe, that this case shouldn't be fired.

[2020-03-16 22:58] pirj commented on #879
@lazycoder9 Would you please take a look?

[2020-03-18 07:30] jsugarman opened #884 "RSpec/EmptyExampleGroup raises when using only shared examples in a context"
**using rubocop-rspec (1.38.1)**
this cop raises a violation for a block in which there are only shared_example calls

**Example using cancancan ability_spec**
[code]

[2020-03-18 07:35] pirj commented on #884
I suspect this is not because there are shared examples only, but because of an alias that `rubocop-rspec` is unaware of.
Related: #333

[2020-03-19 14:48] pirj commented on #880
@wscourge Please reopen if you feel that something needs to be fixed, or even better submit a pull request - we'll be happy to help along your way.
I'm closing this for now.

[2020-03-19 14:48] #880 closed

[2020-03-19 14:50] pirj commented on #868
It seems to me that in the "real world of Ruby and Rails" people tend not to disable this cop nor to change the enforced style to `receive`. Even though it feels kind of weird to me personally, I'm more inclined to close this.
Please feel free to reopen if you're sure that `receive` is more commonly used.

[2020-03-19 14:50] #868 closed

[2020-03-19 14:54] pirj commented on #862
Anyway, since it's Ruby, it sounds near impossible to count all `let`s. WDYT of taking a rough approach and only count those `let`s that are clearly in the scope, e.g. those in the example group and its ancestors, excluding duplicates? The cop, if `Max` is exceeded, would raise an offence.

Would you like to tackle this? I'll be happy to help you along the way.

[2020-03-19 15:39] pirj commented on #862
My bad, it slipped my mind that pull request existed 🤕

[2020-03-19 15:49] mockdeep commented on #862
@pirj sorry, I haven't had a chance to follow up on this. I think maybe it makes sense to count `let` calls in the entire file?

[2020-03-19 15:57] pirj commented on #862
I think it won't be fair, e.g.:
[code]
would count 3, but there's actually just one in each given scope.

[2020-03-19 16:02] mockdeep commented on #862
Hmm, yeah, I guess that's true. I can try and set it up per-scope. I'll try to work on it this afternoon.

[2020-03-23 10:41] wscourge commented on #880
Hi there, sorry for my absence.

I like your solution with `Kernel.system('which git')` and am going to use it from now on.

According to the `allow_any_instance_of` proposition, I'd like to point out for people stumbling upon this issue another rule that tells us not to do so :stuck_out_tongue: which is [`RSpec/AnyInstance`](https://github.com/rubocop-hq/rubocop-rspec/blob/master/config/default.y

[2020-03-23 11:37] pirj commented on #880
@wscourge Please accept my apologies for initially misleading proposal, `Kernel.system` doesn't seem to be the best fit for you, since it outputs to stdout, and returns process exit code, `true`.

The following should work better for you:
[code]

If you comment the `allow` row out, you'll get:
[code]